{% if beneficialOwnerPronoun == "they" %}
  {% set boTense = "have" %}
{% else %}
  {% set boTense = "has" %}
{% endif %}

<details class="govuk-details" data-module="govuk-details" data-event-id="protected-personal-information-details" >
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How to complete this section for a ceased beneficial owner
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">If {{ beneficialOwnerPronoun }} {{ boTense }} become and then ceased to be a registrable beneficial owner during this update period, you need to enter information that is correct as at the ceased date.</p>
  </div>
</details>
