{% set inNoChangeJourney = pageParams.noChangeFlag %}
{% set inChangeJourney = not inNoChangeJourney %}

{% set formattedPrincipalAddressHtml %}
  {% set address = appData.entity.principal_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set formattedServiceAddressHtml %}
  {% if appData.entity.is_service_address_same_as_principal_address == 1 %}
    The correspondence address is the same as the entity's principal or registered office address
  {% else %}
    {% set address = appData.entity.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set formattedPublicRegister %}
  {% if appData.entity.is_on_register_in_country_formed_in == 1 %}
    {% if inNoChangeJourney %}
      {{ appData.entity.public_register_name | safe }}
    {% else %}
      {{ appData.entity.public_register_name | safe }} / {{ appData.entity.public_register_jurisdiction | safe }} / {{ appData.entity.registration_number | safe }}
    {% endif %}
  {% else %}
    No
  {% endif %}
{% endset %}

{% if pageParams.isRegistration %}
  {% set entityNameLink = CREATE_CHANGE_LINK(
    OE_CONFIGS.ENTITY_CHANGE_NAME,
    "Name of the overseas entity",
    "change-entity-name-button")
  %}
{% else %}
  {% set entityNameLink = CREATE_CHANGE_LINK(
    changeLinkUrl + OE_CONFIGS.ENTITY_NAME,
    "Name of the overseas entity",
    "change-entity-name-button")
  %}
{% endif %}

{% set isEmailPrivate %}
    {% if not appData.entity.email and inNoChangeJourney %}
      <strong class="govuk-tag govuk-tag--blue">CANNOT BE DISPLAYED</strong>
    {% elif appData.entity.email %}
      {{ appData.entity.email }}
    {% endif %}
{% endset %}

{% if inNoChangeJourney %}
  {% set jurisdiction =
    {
      key: {
        text: "Jurisdiction"
      },
      value: {
        text: appData.entity.public_register_jurisdiction
      }
    }
  %}
  {% set registrationNumber = {
    key: {
      text: "Registration number"
    },
    value: {
      text: appData.entity.registration_number
    }
  }
  %}
{% endif %}

{% if pageParams.isRegistration %}
{% set countryFormedIn = 
  {
    key: {
      text: "Country it was formed in"
    },
    value: {
      text: appData.entity.incorporation_country
    },
    actions: {
      items: [CREATE_CHANGE_LINK(
        changeLinkUrl + OE_CONFIGS.INCORPORATION_COUNTRY,
        "Country it was formed in",
        "change-entity-incorporation-country-button"
      )]
    } if inChangeJourney
  }
  %}
{% else %}
{% set countryFormedIn =
  {
    key: {
      text: "Country it was formed in"
    },
    value: {
      text: appData.entity.incorporation_country
    },
    actions: {
      items: [
        "Country it was formed in"
      ]
    } if inChangeJourney
  }
  %}
{% endif %}


<h1 class="govuk-heading-l">{{ overseasEntityHeading }}</h1>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name of the overseas entity"
        },
        value: {
          text: appData.entity_name
        },
        actions: {
          items : [entityNameLink]
        } if inChangeJourney
      },
      countryFormedIn,
      {
        key: {
          text: "Principal or registered office address"
        },
        value: {
          html: formattedPrincipalAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.CHANGE_PRINCIPAL_ADDRESS,
            "Principal or registered office address",
            "change-entity-principal-address-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: formattedServiceAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.CHANGE_SERVICE_ADDRESS,
            "Correspondence address",
            "change-entity-correspondence-address-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Email address at the overseas entity we should send communications to"
        },
        value: {
          html: isEmailPrivate
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.EMAIL,
            "Email address at the overseas entity we should send communications to",
            "change-entity-email-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Legal form"
        },
        value: {
          text: appData.entity.legal_form
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.LEGAL_FORM,
            "Legal form",
            "change-entity-legal-form-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Governing law"
        },
        value: {
          text: appData.entity.law_governed
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.LAW_GOVERNED,
            "Governing law",
            "change-entity-governing-law-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Overseas public register"
        },
        value: {
          text: formattedPublicRegister
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.IS_ON_REGISTER_IN_COUNTRY_FORMED_IN,
            "Already on a public register in the country it was formed in",
            "change-entity-public-register-button"
          )]
        } if inChangeJourney
      },
      jurisdiction, registrationNumber
    ]
  })
}}