{% set headerBlock = '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>' %}
{% if paragraphOne %}
    {% if not paragraphTwo %}
       {% set paragraphTwo = '<p>We will not show the name or email address of the person who can be contacted about this managing officer.</p>' %}
    {% endif %}
    {{ govukInsetText({
       html: headerBlock + paragraphOne + paragraphTwo
    }) }}
{% else %}
    {% if not paragraphTwo %}
       {% set paragraphTwo = '<p>We will show all the other information you provide on this screen on the public Register of Overseas Entities.</p>' %}
    {% endif %}
    {{ govukInsetText({
       html: headerBlock + paragraphTwo
    }) }}
{% endif %}
