{% set headerBlock = '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>' %}
{% if paragraphOne %}
    {% set paragraphTwo = '<p>We will show all other information you provide on this screen on the public Register of Overseas Entities.</p>' %}
    {{ govukInsetText({
       html: headerBlock + paragraphOne + paragraphTwo
    }) }}
{% else %}
    {% set paragraphTwo = '<p>We will show all the information you provide on this screen on the public Register of Overseas Entities.</p>' %}
    {{ govukInsetText({
       html: headerBlock + paragraphTwo
    }) }}
{% endif %}
