<script src="{{MATOMO_ASSET_PATH}}/javascripts/app/piwik-enable.js"></script>
<script type="application/javascript">
    const journeyTypes = {
        "register-an-overseas-entity": "Register",
        "update-an-overseas-entity": "Update",
        "remove-an-overseas-entity": "Remove"
    };
    
    const uri = window.location.href;
    const journeyFromUri = journeyTypes[uri.replace(/^(https?:\/\/)?/, '').split('/')[1]];

    window.SERVICE_NAME = `${journeyFromUri} an overseas entity`;
    window.PIWIK_URL = '{{ PIWIK_URL }}'
    window.PIWIK_SITE_ID = '{{ PIWIK_SITE_ID }}'
</script>
<div id="templateName" data-id='{{templateName}}' hidden></div>
<script src="{{MATOMO_ASSET_PATH}}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"></script>
<script src="{{MATOMO_ASSET_PATH}}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"></script>
<noscript>
    <p>
        <img src="{{PIWIK_URL}}/piwik.php?idsite={{PIWIK_SITE_ID}}" style="border:0;" alt="" />
    </p>
</noscript>
