<script src="//{{CDN_HOST}}/javascripts/app/piwik-enable.js"
        integrity="sha256-sCRI97bR1sBMEc0ebSbf97+Ib8tUGq4fgBphCczShN8="
        crossorigin="anonymous">
</script>
<script type="application/javascript">
    window.SERVICE_NAME = 'Register of overseas entities'
    window.PIWIK_URL = '{{ PIWIK_URL }}'
    window.PIWIK_SITE_ID = '{{ PIWIK_SITE_ID }}'
</script>
<div id="templateName" data-id='{{templateName}}' hidden></div>
<script src="//{{CDN_HOST}}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js"
        integrity="sha256-410IB0SqY71Rkwd5dDcHW51jlH99cSsO0mxCYDWDODo="
        crossorigin="anonymous">
</script>
<script src="//{{CDN_HOST}}/javascripts/app/cookie-consent/matomo-only-cookie-consent.js"
        integrity="sha256-6XFXZxZ9v2xyJoH5GGPmcdw35GNMfHiFAiarZZYSzPw="
        crossorigin="anonymous">
</script>
<noscript>
    <p>
        <img src="{{PIWIK_URL}}/piwik.php?idsite={{PIWIK_SITE_ID}}" style="border:0;" alt="" />
    </p>
</noscript>
