<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ title }}</h1>

    <form method="post">
      {% include "includes/csrf_token.html" %}    
      {{ govukRadios({
        errorMessage: errors.is_secure_register if errors,
        classes: "govuk-radios--inline",
        idPrefix: "is_secure_register",
        name: "is_secure_register",
        fieldset: {
          legend: {
            isPageHeading: false,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "This includes if they are waiting for the results of an application to protect their personal information."
        },
        items: [
          {
            value: 1,
            text: "Yes",
            checked: is_secure_register == 1,
            attributes: {
              "data-event-id": "yes-secure-register"
            }
          },
          {
            value: 0,
            text: "No",
            checked: is_secure_register == 0,
            attributes: {
              "data-event-id": "no-secure-register"
            }
          }
        ]
      }) }}
      <details class="govuk-details" data-module="govuk-details" data-event-id="protected-personal-information-details" >
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What having personal information protected means
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Some people can <a href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register" target="_blank" rel="noopener" class="govuk-link" data-event-id="apply-to-protect-personal-information-link">apply to protect personal information from being shown on the Companies House public register</a> if they meet certain criteria. This process includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>providing evidence that they are eligible to have their details protected </li>
            <li>paying a £100 fee</li>
          </ul>
          <p class="govuk-body">You should only select ‘yes’ if any of the beneficial owners or managing officers have already done this.</p>
        </div>
      </details>

      {% set paragraphTwo = '<p>We will not show any of the information you provide on this screen on the public Register of Overseas Entities.</p>' %}
      {% include "includes/inset-text.html" %}

      {% include "includes/continue-button.html" %}

    </form>
  </div>
</div>
