{% if userEmail %}

  {% set signOutPath = 'sign-out?page=' + templateName %}

  {% if journey === 'remove' %}
    {% set removeJourneyParam = '&' + OE_CONFIGS.JOURNEY_QUERY_PARAM + '=' + OE_CONFIGS.JourneyType.remove %}
    {% set signOutPath = signOutPath + removeJourneyParam %}
  {% endif %}

  <ul id="navigation">
    <li class="content-email">{{ userEmail }}</li>
    <li>
      <a class="govuk-link" href="{{ signOutBaseUrl }}{{ signOutPath }}" data-event-id="signout">Sign out</a>
    </li>
  </ul>
{% endif %}
