{% import "includes/date-macros.html" as dateMacros %}

<!-- start_date type different depending on if coming from controller or validation middleware -->
{% if start_date["day"] %}
  {% set start_date_day = start_date["day"] %}
  {% set start_date_month = start_date["month"] %}
  {% set start_date_year = start_date["year"] %}
{% else %}
  {% set start_date_day = start_date["start_date-day"] %}
  {% set start_date_month = start_date["start_date-month"] %}
  {% set start_date_year = start_date["start_date-year"] %}
{% endif %}

{% set formatted_start_date = dateMacros.formatDate(start_date_day, start_date_month, start_date_year) %}

{% set dateBecameBo = "Date " + beneficialOwnerPronoun + " became a beneficial owner for the overseas entity:" %}
<p><legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> {{ dateBecameBo }}</legend></p>
<label class="govuk-label govuk-!-margin-bottom-7">{{ formatted_start_date }}</label>

<!-- append needed data for validation re-render to form -->
<input type="hidden" name="start_date" value="{{ start_date }}" />
<input type="hidden" name="start_date-day" value="{{ start_date_day }}" />
<input type="hidden" name="start_date-month" value="{{ start_date_month }}" />
<input type="hidden" name="start_date-year" value="{{ start_date_year }}" />
