{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility statement – {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Accessibility statement for the 'Register an overseas entity and tell us about its beneficial owners' service
            </h1>

            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#about-service">About this service</a></li>
                <li><a href="#how-accessible">How accessible this service is</a></li>
                <li><a href="#reporting">Reporting accessibility problems with this service</a></li>
                <li><a href="#enforcement">Enforcement procedure</a></li>
                <li><a href="#technical-information">Technical information about this service’s accessibility</a></li>
                <li><a href="#tested">How we tested this service</a></li>
                <li><a href="#were-doing">What we’re doing to improve accessibility</a></li>
            </ul>

            <h2 class="govuk-heading-m" id="about-service">About this service</h2>

            <p>This accessibility statement applies to the 'Register an overseas entity and tell us about its beneficial owners' service.</p>
            <p>This service is run by <a class="govuk-link" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text disappearing off the screen</li>
                <li>navigate most of the service using just a keyboard</li>
                <li>navigate most of the service using speech recognition software</li>
                <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>

            <br>

            <p>We’ve also made the website text simple to understand.</p>

            {{ govukInsetText({
                html: '<a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet has advice on making your device easier to use if you have a disability.</a>'
            }) }}

            <h2 class="govuk-heading-m" id="how-accessible">
                How accessible this service is
            </h2>

            <p> <strong class="govuk-tag govuk-tag--red">To be added</strong></p>

            <h2 class="govuk-heading-m" id="reporting">
                Reporting accessibility problems with this service
            </h2>

            <p>We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, you can find contact details on our
                <a class="govuk-link" href="https://www.gov.uk/guidance/accessibility-support-for-companies-house-users">accessibility support for Companies House users</a> page.
            </p>

            <h2 class="govuk-heading-m" id="enforcement">
                Enforcement procedure
            </h2>

            <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we
                respond to your complaint,
                <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
            </p>

            <h2 class="govuk-heading-m" id="technical-information">
                Technical information about this service’s accessibility
            </h2>

            <p>Companies House is committed to making its website accessible in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

            <p> <strong class="govuk-tag govuk-tag--red">To be added</strong></p>

            <h2 class="govuk-heading-m" id="tested">
                How we tested this service
            </h2>

            <p>We regularly carry out internal tests for compliance with the Web Content Accessibility Guidelines V2.1 level A and level AA using a variety of manual and automated testing tools.</p>

            <p>This service was audited on 6 July 2022. The audit was carried out by <a href="https://digitalaccessibilitycentre.org/">the Digital Accessibility Centre</a>. The complete end to end user journey was audited.</p>

            <h2 class="govuk-heading-m" id="were-doing">
                What we’re doing to improve accessibility
            </h2>

            <p>To improve this service's accessibility, we:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>work with real users who have accessibility issues to make sure that our services meet their needs</li>
                <li>carry out internal tests for compliance with Web Content Accessibility Guidelines V2.1 level A and level AA</li>
                <li>work with external agencies in major UK cities to perform usability research with users</li>
                <li>recruit users through
                    <a class="govuk-link" href="https://www.gov.uk/government/news/help-improve-companies-house">our user panel</a>
                    and agencies to take part in usability sessions</li>
                <li>build and test our services to meet
                    <a class="govuk-link" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements">government accessibility requirements</a>
                </li>
            </ul>

            <p><a class="govuk-link" href="https://companieshouse.blog.gov.uk/category/user-research/">Read our blogs about usability</a>
                to find out more about our user research work.</p>

            <p>This statement was prepared on <strong class="govuk-tag govuk-tag--red">To be added</strong>. It was last updated on <strong class="govuk-tag govuk-tag--red">To be added</strong>.</p>

        </div>
    </div>

{% endblock %}
