{% extends "layout.html" %}

{% block pageTitle %}
  Accessibility statement - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Accessibility statement for the Register of Overseas Entities service
            </h1>

            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="#about-service">About this service</a></li>
                <li><a class="govuk-link" href="#how-accessible">How accessible this service is</a></li>
                <li><a class="govuk-link" href="#reporting">Reporting accessibility problems with this service</a></li>
                <li><a class="govuk-link" href="#enforcement">Enforcement procedure</a></li>
                <li><a class="govuk-link" href="#technical-information">Technical information about this service’s accessibility</a></li>
                <li><a class="govuk-link" href="#tested">How we tested this service</a></li>
                <li><a class="govuk-link" href="#were-doing">What we’re doing to improve accessibility</a></li>
            </ul>

            <h2 class="govuk-heading-m" id="about-service">About this service</h2>

            <p class="govuk-body">This accessibility statement applies to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Register an overseas entity and tell us about its beneficial owners</li>
                <li>File an overseas entity update statement</li>
                <li>Remove an overseas entity from the register</li>
            </ul>

            <br>

            <p class="govuk-body">The Register of Overseas Entities service is run by <a class="govuk-link" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>. We want as many people as possible to be able to use it. For example, that means you should be able to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text disappearing off the screen</li>
                <li>navigate most of the service using just a keyboard</li>
                <li>navigate most of the service using speech recognition software</li>
                <li>listen to most of the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>

            <br>

            <p class="govuk-body">We’ve also made the text simple to understand.</p>

            <p class="govuk-body">
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">Read advice from AbilityNet on how to adapt your device to meet your needs.</a>
                For example, changing the background colour or text size.
            </p>

            <h2 class="govuk-heading-m" id="how-accessible">
                How accessible this service is
            </h2>

            <p class="govuk-body"> We know some parts of this service are not fully accessible for the following reasons:</p>

            <h2 class="govuk-heading-s" id="non-accessible-content">
                Non-compliance with the accessibility regulations
            </h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>When users leave the service inactive for 60 minutes, they are directed back to the first page. There is no time out warning or option to extend the session. This fails WCAG 2.1 success criterion 2.2.1 (Timing Adjustable). We plan to fix this issue as soon as possible.</li>
                <li>Some headings and buttons are not descriptive and screen reader users may find it difficult to understand their purpose. This fails WCAG 2.1 success criterion 2.4.6 (Headings and Labels). We plan to fix this issue as soon as possible.</li>
            </ul>

            <h2 class="govuk-heading-m" id="reporting">
                Reporting accessibility problems with this service
            </h2>

            <p class="govuk-body">We’re always looking to improve the accessibility of this service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, you can find contact details on our
                <a class="govuk-link" href="https://www.gov.uk/guidance/accessibility-support-for-companies-house-users">accessibility support for Companies House users</a> page.
            </p>

            <h2 class="govuk-heading-m" id="enforcement">
                Enforcement procedure
            </h2>

            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we
                respond to your complaint,
                <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
            </p>

            <h2 class="govuk-heading-m" id="technical-information">
                Technical information about this service’s accessibility
            </h2>

            <p class="govuk-body">Companies House is committed to making its website accessible in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

            <p class="govuk-body">This website is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed in the section on 'Non-compliance with the accessibility regulations.</p>

            <h2 class="govuk-heading-m" id="tested">
                How we tested this service
            </h2>

            <p class="govuk-body">We regularly carry out internal tests for compliance with the Web Content Accessibility Guidelines V2.1 level A and level AA using a variety of manual and automated testing tools.</p>

            <p class="govuk-body">This service was audited on 6 July 2022. The audit was carried out by <a class="govuk-link" href="https://digitalaccessibilitycentre.org/">the Digital Accessibility Centre</a>. The complete end to end user journey was audited. An audit has not yet been carried out on ‘File an overseas entity update statement’ or ‘Remove an overseas entity from the register’.</p>

            <h2 class="govuk-heading-m" id="were-doing">
                What we’re doing to improve accessibility
            </h2>

            <p class="govuk-body">To improve this service's accessibility, we:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>work with real users who have accessibility issues to make sure that our services meet their needs</li>
                <li>carry out internal tests for compliance with Web Content Accessibility Guidelines V2.1 level A and level AA</li>
                <li>work with external agencies in major UK cities to perform usability research with users</li>
                <li>recruit users through
                    <a class="govuk-link" href="https://www.gov.uk/government/news/help-improve-companies-house">our user panel</a>
                    and agencies to take part in usability sessions</li>
                <li>build and test our services to meet
                    <a class="govuk-link" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements">government accessibility requirements</a>
                </li>
            </ul>

            <p class="govuk-body"><a class="govuk-link" href="https://companieshouse.blog.gov.uk/category/user-research/">Read our blogs about usability</a>
                to find out more about our user research work.</p>

            <p class="govuk-body">This statement was prepared on 22 July 2022. It was last updated on 15 April 2024.</p>
        </div>
    </div>

{% endblock %}
