{% extends "layout.html" %}

{% set title = "Do you want to add another trust?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-10">{{ pageParams.title }}</h1>

      {% set trusts = [] %}
      {% for trust in pageData.trustData %}
        {% set trusts = (
          trusts.push(
            [
              {
                text: trust.trust_name
              }
            ]
          ),
          trusts
        ) %}
      {% endfor %}

      {{ govukTable({
        caption: "What you have added so far",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
        {
          text: "Trust",
          classes: "govuk-visually-hidden"
        },
          {
            text: "Change or remove",
            classes: "govuk-visually-hidden"
          }
        ],
        rows: trusts
      }) }}

      <form method="post">

        {% set fieldParam = {
          label: pageParams.subtitle,
          name: 'addTrust',
          error: errors.addTrust,
          items: [
            {
              value: 1,
              text: "Yes",
              attributes: {
                "data-event-id": "add-trust-yes-radio-option"
              },
              checked: formData.addTrust == 1
            }, {
              value: 0,
              text: "No",
              attributes: {
                "data-event-id": "add-trust-no-radio-option"
              },
              checked: formData.addTrust == 0
            }
          ]
        } %}
        {% include "includes/inputs/radio-input.html" %}

        {% include "includes/continue-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}
