{% extends "layout.html" %}

{% block pageTitle %}
  Beneficial owner statements - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-xl">Have any beneficial owners been identified?</h1>

        {{ govukDetails({
          summaryText: "What is a beneficial owner?",
          html: "<p>A beneficial owner is any legal body that has significant influence or control over the overseas entity. It can be an individual person, other legal entity, government or public authority.</p><p>You must provide details of any beneficial owners that meet one or more of the conditions known as the 'nature of control'.</p>"
        }) }}

        {{ govukRadios({
          idPrefix: "beneficial_owners_statement",
          name: "beneficial_owners_statement",
          fieldset: {
            legend: {
              text: "Have you identified any beneficial owners?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "ALL_IDENTIFIED_ALL_DETAILS",
              text: "All beneficial owners have been identified and all required information can be provided",
              checked: beneficial_owners_statement == "ALL_IDENTIFIED_ALL_DETAILS"
            },
            {
              value: "ALL_IDENTIFIED_SOME_DETAILS",
              text: "All beneficial owners have been identified but only some required information can be provided",
              checked: beneficial_owners_statement == "ALL_IDENTIFIED_SOME_DETAILS"
            },
            {
              value: "SOME_IDENTIFIED_ALL_DETAILS",
              text: "Some beneficial owners have been identified and all required information can be provided",
              checked: beneficial_owners_statement == "SOME_IDENTIFIED_ALL_DETAILS"
            },
            {
              value: "SOME_IDENTIFIED_SOME_DETAILS",
              text: "Some beneficial owners have been identified but only some required information can be provided",
              checked: beneficial_owners_statement == "SOME_IDENTIFIED_SOME_DETAILS"
            },
            {
              value: "NONE_IDENTIFIED",
              text: "No beneficial owners have been identified",
              checked: beneficial_owners_statement == "NONE_IDENTIFIED"
            }
          ]
        }) }}

        {% include "includes/continue-button.html" %}

      </form>

    </div>
  </div>

{% endblock %}
