{% extends "layout.html" %}

{% set title = "Are you sure you want to change this information?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <h1 class="govuk-heading-xl">
        Are you sure you want to change this information?
      </h1>

      {{ govukWarningText({
        text: "This may cause other information you’ve entered to be deleted.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post">
        {{
          csrfTokenInput({
            csrfToken: csrfToken
          })
        }}

        {{ govukRadios({
          errorMessage: errors.delete_beneficial_owners if errors,
          idPrefix: "delete_beneficial_owners",
          name: "delete_beneficial_owners",
          fieldset: {
            legend: {
              text: "Are you sure you want to change this information?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "1",
              text: "Yes, I want to change this information",
              checked: delete_beneficial_owners === "1",
              attributes: {
                "data-event-id": "yes-delete-beneficial-owners"
              }
            },
            {
              value: "0",
              text: "No, I want to go back to the previous screen",
              checked: delete_beneficial_owners === "0",
              attributes: {
                "data-event-id": "no-delete-beneficial-owners"
              }
            }
          ]
        }) }}

        <!-- Hidden input, needed to submit the beneficial owners statement -->
        {{ govukInput({
          label: {
            text: "Hidden input, needed to submit the beneficial owners statement",
            classes: "govuk-visually-hidden"
          },
          id: "beneficial_owners_statement",
          value: beneficial_owners_statement,
          name: "beneficial_owners_statement",
          classes: "govuk-visually-hidden"
        }) }}

        {% include "includes/continue-button.html" %}

      </form>

    </div>
  </div>

{% endblock %}
