{% extends "layout.html" %}

{% block pageTitle %}
  Who is registering - Register an overseas entity - Companies House
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tell us about the individual beneficial owner</h1>
      <p class="govuk-caption-l">You can add more individual beneficial owners later</p>


      <form method="post">

        {{ govukDetails({
          summaryText: "What is a beneficial owner?",
          text: "A beneficial owner is an individual who ultimately owns or controls more than 25% of a company's shares or voting rights, or who otherwise exercise control over the company or its management."
        }) }}

        {{ govukInput({
          label: {
            text: "What is the full name of the beneficial owner?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Include any titles if relevant"
          },
          id: "fullName",
          name: "fullName",
          value: fullName
        }) }}

        {{ govukDateInput({
          id: "dateOfBirth",
          namePrefix: "dateOfBirth",
          fieldset: {
            legend: {
              text: "What is their date of birth?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "day",
              value: dateOfBirth["dateOfBirth-day"] if dateOfBirth
            },
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "month",
              value: dateOfBirth["dateOfBirth-month"] if dateOfBirth
            },
            {
              classes: "govuk-input--width-4 govuk-input",
              name: "year",
              value: dateOfBirth["dateOfBirth-year"] if dateOfBirth
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "What is their nationality?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "ownerNationality",
          name: "ownerNationality",
          value: ownerNationality
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What is their usual residential address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "usualResidentialAddressLine1",
            name: "usualResidentialAddressLine1",
            autocomplete: "usualResidentialAddressline1",
            value: usualResidentialAddress.usualResidentialAddressLine1 if usualResidentialAddress
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "usualResidentialAddressLine2",
            name: "usualResidentialAddressLine2",
            autocomplete: "usualResidentialAddressline2",
            value: usualResidentialAddress.usualResidentialAddressLine2 if usualResidentialAddress
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "usualResidentialAddressTown",
            name: "usualResidentialAddressTown",
            autocomplete: "usualResidentialAddressTown",
            value: usualResidentialAddress.usualResidentialAddressTown if usualResidentialAddress
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "usualResidentialAddressCounty",
            name: "usualResidentialAddressCounty",
            value: usualResidentialAddress.usualResidentialAddressCounty if usualResidentialAddress
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "usualResidentialAddressPostcode",
            name: "usualResidentialAddressPostcode",
            autocomplete: "usualResidentialAddressPostcode",
            value: usualResidentialAddress.usualResidentialAddressPostcode if usualResidentialAddress
          }) }}

        {% endcall %}

        {% set serviceAddressHtml %}
        <br>
        {% call govukFieldset({
          legend: {
            text: "What is their service address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "serviceAddressLine1",
            name: "serviceAddressLine1",
            autocomplete: "serviceAddressLine1",
            value: serviceAddress.serviceAddressLine1 if serviceAddress
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "serviceAddressLine2",
            name: "serviceAddressLine2",
            autocomplete: "serviceAddressLine2",
            value: serviceAddress.serviceAddressLine2 if serviceAddress
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "serviceAddressLineTown",
            name: "serviceAddressLineTown",
            autocomplete: "serviceAddressTown",
            value: serviceAddress.serviceAddressLineTown if serviceAddress
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "serviceAddressCounty",
            name: "serviceAddressCounty",
            value: serviceAddress.serviceAddressCounty if serviceAddress
}) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "serviceAddressPostcode",
            name: "serviceAddressPostcode",
            autocomplete: "serviceAddressPostcode",
            value: serviceAddress.serviceAddressPostcode if serviceAddress
}) }}

        {% endcall %}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "isAddressSameAsUsusalResidentialAddress",
          name: "isAddressSameAsUsusalResidentialAddress",
          fieldset: {
            legend: {
              text: "Is their service address the same as their usual residential address?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "A service address is a correspondence address."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: isAddressSameAsUsusalResidentialAddress === 'yes'
            },
            {
              value: "no",
              text: "No",
              checked: isAddressSameAsUsusalResidentialAddress === 'no',
              conditional: {
                html: serviceAddressHtml
              }
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "startDate",
          namePrefix: "startDate",
          fieldset: {
            legend: {
              text: "When did they become a beneficial owner for the overseas entity?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "day",
              value: startDate["startDate-day"]
            },
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "month",
              value: startDate["startDate-month"]
            },
            {
              classes: "govuk-input--width-4 govuk-input",
              name: "year",
              value: startDate["startDate-year"]
            }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "natureOfControl",
          name: "natureOfControl",
          fieldset: {
            legend: {
              text: "What is their nature of control?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "25",
              text: "over 25% up to (and including) 50%",
              checked: natureOfControl === 'over25upTo50Percent'
            },
            {
              value: "50",
              text: "more than 50% and less than 75%",
              checked: natureOfControl === 'over50under75Percent'
            },
            {
              value: "75",
              text: "75% or more",
              checked: natureOfControl === 'atLeast75Percent'
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "trustee",
          name: "trustee",
          fieldset: {
            legend: {
              text: "Do they meet the condition by virtue of being a trustee?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "This information will be shared with HMRC."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: trustee === 'yes'
            },
            {
              value: "no",
              text: "No",
              checked: trustee === 'no'
            }
          ]
        }) }}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "onSanctionsList",
          name: "onSanctionsList",
          fieldset: {
            legend: {
              text: "Are they on the sanctions list?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: onSanctionsList === 'yes'
            },
            {
              value: "no",
              text: "No",
              checked: onSanctionsList === 'no'
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">What information is shown on the online register</h2>
        <p class="govuk-body">All details provided about the individual owner will be available on the online register</p>

        {{ govukButton({
          text: "Save and continue",
          attributes: {
            "id": "submit"
          }
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
