{% extends "layout.html" %}

{% block pageTitle %}
  Beneficial owner statements - Register an overseas entity - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-heading-xl">Have you identified any beneficial owners?</h1>

        {{ govukDetails({
          summaryText: "What is a beneficial owner?",
          text: "A beneficial owner of an overseas entity is a person, entity, government or public authority that meets one or more of the conditions known as the ‘nature of control’. For example, if they hold more than 25% of the shares or voting rights in the overseas entity."
        }) }}

        {{ govukRadios({
          idPrefix: "beneficial_owners_statement",
          name: "beneficial_owners_statement",
          fieldset: {
            legend: {
              text: "Have you identified any beneficial owners?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "all_identified_all_details",
              text: "All beneficial owners have been identified and all relevant information can be supplied",
              checked: beneficial_owners_statement == "all_identified_all_details"
            },
            {
              value: "all_identified_some_details",
              text: "All beneficial owners identified but only some relevant information can be supplied",
              checked: beneficial_owners_statement == "all_identified_some_details"
            },
            {
              value: "some_identified_all_details",
              text: "Some beneficial owners identified and all relevant information can be supplied",
              checked: beneficial_owners_statement == "some_identified_all_details"
            },
            {
              value: "some_identified_some_details",
              text: "Some beneficial owners have been identified but only some relevant information can be supplied",
              checked: beneficial_owners_statement == "some_identified_some_details"
            },
            {
              value: "none_identified",
              text: "No beneficial owners have been identified",
              checked: beneficial_owners_statement == "none_identified"
            }
          ]
        }) }}

        {% include "includes/continue-button.html" %}

      </form>

    </div>
  </div>

{% endblock %}
