{% extends "layout.html" %}

{% block pageTitle %}
  Beneficial owner - Register an overseas entity - Companies House
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Beneficial owner</span>
      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the other legal entity</h1>
      <br>
      <p class="govuk-body">You can add more later.</p>
      <br>
      <form class="form" method="post">

        {{ govukDetails({
          summaryText: "What is a beneficial owner?",
          text: "A beneficial owner is an individual who ultimately owns or controls more than 25% of a company's shares or voting rights, or who otherwise exercise control over the company or its management."
        }) }}

        {{ govukInput({
          label: {
            text: "What is its name?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "corporationName",
          name: "corporationName",
          value: corporationName
        }) }}
        {% call govukFieldset({
          legend: {
            text: "What is its principal or registered office address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
            text: "For example, 'Saron House', '116' or 'Unit 37a'"
          },
          id: "principalAddressPropertyNameNumber",
          name: "principalAddressPropertyNameNumber",
          value: "principalAddress.principalAddressPropertyNameNumber" if principalAddress
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "principalAddressLine1",
          name: "principalAddressLine1",
          value: principalAddress.principalAddressLine1 if principalAddress,
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "principalAddressLine2",
          name: "principalAddressLine2",
          value: principalAddress.principalAddressLine2 if principalAddress,
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "principalAddressTown",
          name: "principalAddressTown",
          value: principalAddress.principalAddressTown if principalAddress,
          autocomplete: "principalAddressTown"
        }) }}

        {{ govukInput({
          label: {
           text: "County, state, province or region (optional)"
        },
        classes: "govuk-!-width-two-thirds",
          id: "principalAddressCounty",
          name: "principalAddressCounty",
          value: principalAddress.principalAddressCounty if principalAddress
        }) }}

        {{ govukInput({
         label: {
           text: "Country"
         },
         classes: "govuk-!-width-two-thirds",
         id: "principalAddressCountry",
         name: "principalAddressCountry",
         value: principalAddress.principalAddressCountry if principalAddress
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or ZIP code (if applicable)"
          },
          classes: "govuk-input--width-10",
          id: "principalAddressPostcode",
          name: "principalAddressPostcode",
          value: principalAddress.principalAddressPostcode if principalAddress,
          autocomplete: "principalAddressPostcode"
        }) }}

        {% endcall %}

        {% set serviceAddressHtml %}
        <br>
        {% call govukFieldset({
          legend: {
            text: "What is its correspondence address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
            text: "For example, 'Saron House', '116' or 'Unit 37a'"
          },
          id: "serviceAddressPropertyNameNumber",
          name: "serviceAddressPropertyNameNumber",
          value: "serviceAddress.serviceAddresssPropertyNameNumber" if serviceAddress
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressLine1",
          name: "serviceAddressLine1",
          value: serviceAddress.serviceAddressLine1 if serviceAddress,
          autocomplete: "serviceAddressLine1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressLine2",
          name: "serviceAddressLine2",
          value: serviceAddress.serviceAddressLine2 if serviceAddress,
          autocomplete: "serviceAddressLine2"
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressTown",
          name: "serviceAddressTown",
          value: serviceAddress.serviceAddressTown if serviceAddress,
          autocomplete: "serviceAddressTown"
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressCounty",
          name: "serviceAddressCounty",
          value: serviceAddress.serviceAddressCounty if serviceAddress
        }) }}

        {{ govukInput({
          label: {
            text: "Country"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressCountry",
          name: "serviceAddressCountry",
          value: serviceAddress.serviceAddressCountry if serviceAddress
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or ZIP code (if applicable)"
          },
          classes: "govuk-input--width-10",
          id: "serviceAddressPostcode",
          name: "serviceAddressPostcode",
          value: serviceAddress.serviceAddressPostcode if serviceAddress,
          autocomplete: "serviceAddressPostcode"
        }) }}

        {% endcall %}
        {% endset -%}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "isSameAddress",
          name: "isSameAddress",
          fieldset: {
            legend: {
              text: "Is its correspondence address the same as its principal or registered office address?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: isSameAddress === "yes"
            },
            {
              value: "no",
              text: "No",
              checked: isSameAddress === "no",
              conditional: {
                html: serviceAddressHtml
              }
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "What is its legal form?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "For example, limited company or partnership"
          },
          id: "legalForm",
          name: "legalForm",
          value: legalForm
        }) }}

        {{ govukInput({
          label: {
            text: "What is the governing law?",
            classes: "govuk-label--m govuk-input--width-15",
            isPageHeading: false
          },
          hint: {
            text: "This is the law that the beneficial owner operates under"
          },
          id: "lawGoverned",
          name: "lawGoverned",
          value: lawGoverned
        }) }}

        {% set entityPublicRegisterHtml %}
        {{ govukInput({
          id: "registerName",
          name: "registerName",
          value: registerName,
          hint: {
            text: "Include its jurisdiction. For example, Hong Kong or State of Delaware."
          },
          label: {
            text: "Name of register"
          }
        }) }}

        {{ govukInput({
          id: "registerNumber",
          name: "registerNumber",
          value: registerNumber,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Entity's registration number"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "bo-corp-public-register",
          name: "bo-corp-public-register",
          fieldset: {
            legend: {
              text: "Is the other legal entity already on a public register in the country it was formed in?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: entityPublicRegisterHtml
              }
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: phoneHtml
              }
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "startDate",
          namePrefix: "startDate",
          fieldset: {
            legend: {
              text: "When did it become a beneficial owner for the overseas entity?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "day",
              value: startDate["startDate-day"]
            },
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "month",
              value: startDate["startDate-month"]
            },
            {
              classes: "govuk-input--width-4 govuk-input",
              name: "year",
              value: startDate["startDate-year"]
            }
          ],
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}


        {% call govukFieldset({
          legend: {
            text: "What is its nature of control?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukCheckboxes({
          idPrefix: "natureOfControlIndividual",
          name: "natureOfControlIndividual",
          fieldset: {
            legend: {
            text: "The beneficial owner:",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },

        items: [
          {
            value: "nocIndividualShares",
            text: "holds, directly or indirectly, more than 25% of the shares in the entity",
            checked: natureOfControlIndividual and 'shares' in natureOfControlIndividual
          },
          {
            value: "nocIndividualVoting",
            text: "holds, directly or indirectly, more than 25% of the voting rights in the entity",
            checked: natureOfControlIndividual and 'voting' in natureOfControlIndividual
          },
          {
            value: "nocIndividualBoard",
            text: "holds the right, directly or indirectly, to appoint or remove a majority of the board of directors of the entity",
            checked: natureOfControlIndividual and 'board' in natureOfControlIndividual
          },
          {
            value: "nocIndividualInfluence",
            text: "has the right to exercise, or actually exercises, significant influence or control over the entity",
            checked: natureOfControlIndividual and 'influence' in natureOfControlIndividual
          }
        ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "natureOfControlTrust",
          name: "natureOfControlTrust",
          fieldset: {
            legend: {
              text: "The beneficial owner is a trustee of a trust and:",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },

          items: [
            {
              value: "nocTrustShares",
              text: "the trustees of that trust (in their capacity as such) hold, directly or indirectly, more than 25% of the shares in the entity",
              checked: natureOfControlTrust and 'shares' in natureOfControlTrust
            },
            {
              value: "nocTrustVoting",
              text: "the trustees of that trust (in their capacity as such) hold, directly or indirectly, more than 25% of the voting rights in the entity",
              checked: natureOfControlTrust and 'voting' in natureOfControlTrust
            },
            {
              value: "nocTrustBoard",
              text: "the trustees of that trust (in their capacity as such) hold the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company",
              checked: natureOfControlTrust and 'board' in natureOfControlTrust
            },
            {
              value: "nocTrustInfluence",
              text: "the trustees of that trust (in their capacity as such) have the right to exercise, or actually exercise, significant influence or control over the company",
              checked: natureOfControlTrust and 'influence' in natureOfControlTrust
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "natureOfControlFirm",
          name: "natureOfControlFirm",
          fieldset: {
          legend: {
            text: "The beneficial owner is a member of a firm that is not a legal person under its governing law, and:",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },

        items:
          [
            {
              value: "nocFirmShares",
              text: "the members of that firm (in their capacity as such) hold, directly or indirectly, more than 25% of the shares in the entity",
              checked: natureOfControlFirm and 'shares' in natureOfControlFirm
            },
            {
              value: "nocFirmVoting",
              text: "the members of that firm (in their capacity as such) hold, directly or indirectly, more than 25% of the voting rights in the entity",
              checked: natureOfControlFirm and 'voting' in natureOfControlFirm
            },
            {
              value: "nocFirmBoard",
              text: "the members of that firm (in their capacity as such) hold the right, directly or indirectly, to appoint or remove a majority of the board of directors of the company",
              checked: natureOfControlFirm and 'board' in natureOfControlFirm
            },
            {
              value: "nocFirmInfluence",
              text: "the members of that firm (in their capacity as such) have the right to exercise, or actually exercise, significant influence or control over the company",
              checked: natureOfControlFirm and 'influence' in natureOfControlFirm
            }
          ]
        }) }}

        {% endcall %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "isSanctioned",
          name: "isSanctioned",
          fieldset: {
            legend: {
              text: "Is it on the sanctions list?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "This means that it is subject to sanctions under the Sanctions and Anti-Money Laundering Act 2018."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: isSanctioned === "yes"
            },
            {
              value: "no",
              text: "No",
              checked: isSanctioned === "no"
            }
          ]
        }) }}


        {{ govukInsetText({
          html: '
           <h2 class="govuk-heading-m">Information shown on the public register</h2>
           <p>All information provided in this section about the other legal entity will be shown on the public Register of Overseas Entities.</p>
          '
        }) }}

        {{ govukButton({
          text: "Continue",
          attributes: {
            "id": "submit"
          }
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
