{% extends "layout.html" %}

{% set bos = [{
    value: "individualOwner",
    text: "Individual beneficial owner"
  },
  {
    value: "otherLegalOwner",
    text: "Other legal entity beneficial owner"
  },
  {
    value: "governmentOrPublicOwner",
    text: "Government or public authority beneficial owner"
  }]
%}

{% set mos = [{
    value: "individualOfficer",
    text: "Individual managing officer"
  },
  {
    value: "corporateOfficer",
    text: "Corporate managing officer"
  }]
%}

{% if beneficial_owners_statement === "ALL_IDENTIFIED_ALL_DETAILS" %}
  {% set boTypesLegendText = "Select the type of beneficial owner you want to add" %}
  {% set title = "Which type of beneficial owner do you want to add?" %}
  {% set boTypes = bos %}
  {% set whatToAdd = "another beneficial owner" %}
  {% set hiddenTextValue = "beneficial owners" %}
{% elif beneficial_owners_statement === "NONE_IDENTIFIED" %}
  {% set boTypesLegendText = "Select the type of managing officer you want to add" %}
  {% set title = "Which type of managing officer do you want to add?" %}
  {% set boTypes = mos %}
  {% set whatToAdd = "another managing officer" %}
  {% set hiddenTextValue = "managing officers" %}
{% else %}
  {% set boTypesLegendText = "Select the type of beneficial owner or managing officer you want to add" %}
  {% set title = "Which type of beneficial owner or managing officer do you want to add?" %}
  {% set boTypes = bos %}
  {% set boTypes = (boTypes.push(mos[0]), boTypes) %}
  {% set boTypes = (boTypes.push(mos[1]), boTypes) %}
  {% set whatToAdd = "another beneficial owner or managing officer" %}
  {% set hiddenTextValue = "beneficial owners or managing officers" %}
{% endif %}

{% set hasBeneficialOwners = (beneficial_owners_individual and beneficial_owners_individual.length > 0)
or (beneficial_owners_corporate and beneficial_owners_corporate.length > 0)
or (beneficial_owners_government_or_public_authority and beneficial_owners_government_or_public_authority.length > 0) %}

{% set hasManagingOfficers = (managing_officers_individual and managing_officers_individual.length > 0)
or (managing_officers_corporate and managing_officers_corporate.length > 0) %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {% set addButtonAction = "/register-an-overseas-entity/beneficial-owner-type" %}
  {% set noMoreToAddButtonAction = "/register-an-overseas-entity/beneficial-owner-type/submit" %}
  {% set beneficialOwnerIndividualUrl = OE_CONFIGS.BENEFICIAL_OWNER_INDIVIDUAL_URL %}
  {% set beneficialOwnerOtherUrl = OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL %}
  {% set beneficialOwnerGovUrl = OE_CONFIGS.BENEFICIAL_OWNER_GOV_URL %}

  {% if FEATURE_FLAG_ENABLE_REDIS_REMOVAL %}
    {% set addButtonAction = addButtonActionWithParams %}
    {% set noMoreToAddButtonAction = noMoreToAddButtonActionWithParams %}
    {% set beneficialOwnerIndividualUrl = beneficialOwnerIndividualUrlWithParams %}
    {% set beneficialOwnerOtherUrl = beneficialOwnerOtherUrlWithParams %}
    {% set beneficialOwnerGovUrl = beneficialOwnerGovUrlWithParams %}
  {% endif %}
  
  {% include "includes/page-templates/beneficial-owner.html" %}
{% endblock %}
