{% extends "layout.html" %}

{% set title = "Tell us about the other legal entity" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {% set removePathURL = OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + OE_CONFIGS.REMOVE + "/" + id %}
  {% if FEATURE_FLAG_ENABLE_REDIS_REMOVAL %}
    {% set removePathURL = OE_CONFIGS.REGISTER_AN_OVERSEAS_ENTITY_URL + activeSubmissionBasePath + OE_CONFIGS.BENEFICIAL_OWNER_OTHER_PAGE + OE_CONFIGS.REMOVE + "/" + id %}
  {% endif %}
  {% include "includes/page-templates/beneficial-owner-other.html" %}
{% endblock %}
