{% extends "layout.html" %}

{% block pageTitle %}
  Who is registering - Register an overseas entity - Companies House
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {% if (isBeneficialOwners) %}
          {% include "includes/beneficial-owners-check.html" %}
        {% endif %}

        {% if (isManagingOfficers) %}
          {% include "includes/managing-officers-check.html" %}
        {% endif %}

        {% include "includes/continue-button.html" %}

      </form>

    </div>
  </div>

{% endblock %}
