{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers - Register an overseas entity - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row" xmlns="http://www.w3.org/1999/html">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% set formattedPrincipalAddressHtml %}
        {% if appData.entity.principalAddress.principalAddressLine1 %}
          {{ appData.entity.principalAddress.principalAddressLine1 }}
        {% endif %}
        {% if appData.entity.principalAddress.principalAddressLine2 %}
          <br>{{ appData.entity.principalAddress.principalAddressLine2 }}
        {% endif %}
        {% if appData.entity.principalAddress.principalAddressTown %}
          <br>{{ appData.entity.principalAddress.principalAddressTown }}
        {% endif %}
        {% if appData.entity.principalAddress.principalAddressCounty %}
          <br>{{ appData.entity.principalAddress.principalAddressCounty }}
        {% endif %}
        {% if appData.entity.principalAddress.principalAddressPostcode %}
          <br>{{ appData.entity.principalAddress.principalAddressPostcode }}
        {% endif %}
      {% endset %}

      {% set formattedServiceAddressHtml %}
        {% if appData.entity.isAddressSameAsPrincipalAddress == 'Yes' %}
          The correspondence address is the same as the principal or registered office address
        {% else %}
          {% if appData.entity.serviceAddress.serviceAddressLine1 %}
            {{ appData.entity.serviceAddress.serviceAddressLine1 }}
          {% endif %}
          {% if appData.entity.serviceAddress.serviceAddressLine2 %}
            <br>{{ appData.entity.serviceAddress.serviceAddressLine2 }}
          {% endif %}
          {% if appData.entity.serviceAddress.principalAddressTown %}
            <br>{{ appData.entity.serviceAddress.principalAddressTown }}
          {% endif %}
          {% if appData.entity.serviceAddress.serviceAddressCounty %}
            <br>{{ appData.entity.serviceAddress.serviceAddressCounty }}
          {% endif %}
          {% if appData.entity.serviceAddress.serviceAddressPostcode %}
            <br>{{ appData.entity.serviceAddress.serviceAddressPostcode }}
          {% endif %}
        {% endif %}
      {% endset %}

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-l">Your details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: appData.presenter.fullName
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: appData.presenter.phoneNumber
            }
          },
          {
            key: {
              text: "Role"
            },
            value: {
            text: presenterRole
            }
          },
          {
            key: {
              text: "Anti-money laundering number"
            },
            value: {
              text: appData.presenter.registrationNumber
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">Overseas entity details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: appData.entity.overseasEntityName
            }
          },
          {
            key: {
              text: "Country of incorporation"
            },
            value: {
              text: appData.entity.incorporationCountry
            }
          },
          {
            key: {
              text: "Principal or registered office address"
            },
            value: {
              html: formattedPrincipalAddressHtml
            }
          },
          {
            key: {
              text: "Correspondence address"
            },
            value: {
              html: formattedServiceAddressHtml
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: appData.entity.email
            }
          },
          {
            key: {
              text: "Legal Form"
            },
            value: {
              text: appData.entity.legalForm
            }
          },
          {
            key: {
              text: "Governing law"
            },
            value: {
              text: appData.entity.governedLaw
            }
          },
          {
            key: {
              text: "Overseas public register"
            },
            value: {
              text: appData.entity.publicRegister
            }
          },
          {
            key: {
              text: "Registration Number"
            },
            value: {
              text: appData.entity.registrationNumber
            }
          }
        ]
      }) }}

      {{ govukCheckboxes({
        idPrefix: "due-diligence",
        name: "due-diligence",
        fieldset: {
          legend: {
            text: "Due diligence",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Companies House has processes in place to check the accuracy of the information you provide in this service."
        },
        items: [
          {
            value: "due-diligence-1",
            text: "I confirm that due diligence has been done to confirm the accuracy of all the information provided."
          },
          {
            value: "due-diligence-2",
            text: "I confirm that all beneficial owners and managing officers of the overseas entity will be informed of their legal responsibility to keep their information up to date."
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Accept and pay",
          attributes: {
            id: submit
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
