{% set title = "Confirmation" %}

{% if not isUpdate and not isRemove %}
  {% extends "layout.html" %}
  {% set titleTemplate = "includes/page-title.html" %}
  {% set surveyPage = "roe-confirmation" %}
{% else %}
  {% extends "update-layout.html" %}
  {% set titleTemplate = "includes/update-page-title.html" %}
  {% if isUpdate %}
    {% set surveyPage = "oe-update-conf" %}
  {% else %}
    {% set surveyPage = "oe-remove-confirmation" %}
  {% endif %}
{% endif %}

{% block pageTitle %}
  {% include titleTemplate %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">{{ "Update statement submitted" if isUpdate else "Application submitted" }}</h1>
        <div class="govuk-panel__body">
          Your application reference number: <br>
          <strong>{{ referenceNumber }}</strong>
        </div>
      </div>

      <p class="govuk-body">
        We have sent a confirmation email to <strong>{{ userEmail }}</strong> which contains your reference number.
      </p>

      {% if not isAgentRegistering and not noChange %}
          <h2 class="govuk-heading-m">What you need to do now</h2>
          <p class="govuk-body">You must give the application reference number to the UK-regulated agent that completed verification checks. </p>

          <p class="govuk-body">The agent must then complete an <a href="{{OE_CONFIGS.VF01_FORM_DOWNLOAD_URL}}" class="govuk-link">Overseas entity verification checks statement</a> and email it to agentcode@companieshouse.gov.uk.</p>

          <p class="govuk-body">They must do this <strong>within {{ verificationCheckDays }} days</strong>. We cannot process this {{ "update statement filing" if isUpdate else "application" }} until we've received the statement.</p>
      {% endif %}

      <h2 class="govuk-heading-m">What happens next</h2>

      {% if isUpdate %}
        {% if isAgentRegistering or noChange %}
          <p class="govuk-body">We'll email you to let you know if the update statement has been accepted or rejected. We'll process the application as soon as possible. However, because this is a new service, we're not yet able to tell you exactly how long this will take.</p>
        {% else %}
          <p class="govuk-body">Once we have received the statement from the agent, we'll process the application as soon as possible. We'll email you to let you know if the update statement has been accepted or rejected. As this is a new service, we're not yet able to tell you exactly how long this will take.</p>
        {% endif %}
      {% elif isRemove %}
        {% if isAgentRegistering or noChange %}
          <p class="govuk-body">We'll process the application as soon as possible. This includes checking with all the UK land registries that the overseas entity is not currently listed as the registered owner of any property or land in the UK. As this is a new service, we're not able to tell you exactly how long this will take.</p>
        {% else %}
          <p class="govuk-body">Once we have received the statement from the agent, we'll process the application as soon as possible. This includes checking with all the UK land registries that the overseas entity is not currently listed as the registered owner of any property or land in the UK. As this is a new service, we're not able to tell you exactly how long this will take.</p>
        {% endif %}

        <p class="govuk-body">Once we have processed the application, we'll email you to let you know if it has been accepted or rejected.</p>

        <p class="govuk-body">If it is accepted, the overseas entity's status will change to 'Removed'. Information about the entity and its beneficial owners will still be shown on the public register.</p>
      {% else %}
        <p class="govuk-body">We'll email you to let you know if your application to register an overseas entity has been accepted or rejected. We'll process the application as soon as possible. However, because this is a new service, we're not yet able to tell you exactly how long this will take.</p>

        <h3 class="govuk-heading-s">What happens if the application is accepted</h3>
        <p class="govuk-body">We'll email the Overseas Entity ID to <strong>{{ userEmail }}</strong>. We'll send the notice of registration to <strong>{{ entityEmail }}</strong>, which will also include the Overseas Entity ID. This will need to be provided to the Land Registry whenever the overseas entity buys, sells or transfers land or property in the UK. </p>

        <p class="govuk-body">The overseas entity and its beneficial owners will be added to the Register of Overseas Entities.</p>

        <h3 class="govuk-heading-s">What happens if the application is rejected</h3>
        <p class="govuk-body">If it's rejected, we'll email you at <strong>{{ userEmail }}</strong> to explain what to do next. We'll also refund the £{{ paymentFee }} registration fee.</p>
        <br/>
      {% endif %}

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/{{ surveyPage }}/">What did you think of this service?</a> (takes 30 seconds)
      </p>

    </div>
  </div>

{% endblock %}
