{% extends "layout.html" %}

{% block pageTitle %}
  Corporate beneficial owner – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
    <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the corporate beneficial owner</h1>

            <p class="govuk-caption-l  govuk-!-margin-bottom-5 govuk-!-margin-top-5">You can add more corporate beneficial owners later.</p>

            <form class="form" method="post">

                {{ govukDetails({
                  summaryText: "What is a corporate beneficial owner?",
                  text: "This is a beneficial owner that is a legal entity, such as a company or a partnership."
                }) }}

                {{ govukInput({
                  label: {
                    text: "What is its name?",
                    classes: "govuk-label--m",
                    isPageHeading: false
                  },
                  id: "corp-name",
                  name: "corp-name"
                }) }}
                {% call govukFieldset({
                  legend: {
                    text: "What is its principle or registered office address?",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: false
                  }
                }) %}

                {{ govukInput({
                  label: {
                    html: 'Property name or number (optional)'
                  },
                  hint: {
                    text: "For example, 'The Mill', '116' or 'Flat 37a'"
                  },
                   id: "principle-address-property-name-number",
                   name: "principle-address-property-name-number"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 1"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "principle-address-line-1",
                  name: "principle-address-line-1",
                  autocomplete: "address-line1"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 2 (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "principle-address-line-2",
                  name: "principle-address-line-2",
                  autocomplete: "address-line2"
                }) }}

                {{ govukInput({
                  label: {
                    text: "City or town"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "principle-address-city-town",
                  name: "principle-address-city-town"
                }) }}

                {{ govukInput({
                  label: {
                    text: "County, state, province or region (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-state",
                  name: "service-address-state"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Country"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "principle-address-country",
                  name: "principle-address-country",
                  autocomplete: "country-name"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Postcode or ZIP"
                  },
                  classes: "govuk-input--width-10",
                  id: "principle-address-postcode",
                  name: "principle-address-postcode",
                  autocomplete: "postal-code"
                }) }}

                {% endcall %}
                {% set serviceAddressHtml %}
                <br>
                {% call govukFieldset({
                  legend: {
                    text: "What is its correspondence address?",
                    classes: "govuk-fieldset__legend--m",
                    isPageHeading: false
                  }
                }) %}

                {{ govukInput({
                  label: {
                    html: 'Property name or number (optional)'
                  },
                  hint: {
                    text: "For example, 'The Mill', '116' or 'Flat 37a'"
                  },
                  id: "service-address-property-name-number",
                  name: "service-address-property-name-number"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 1"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-line-1",
                  name: "service-address-line-1",
                  autocomplete: "address-line1"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Address line 2 (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-line-2",
                  name: "service-address-line-2",
                  autocomplete: "address-line2"
                }) }}

                {{ govukInput({
                  label: {
                    text: "City or town"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-city-town",
                  name: "service-address-city-town"
                }) }}

                {{ govukInput({
                  label: {
                    text: "County, state, province or region (optional)"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-state",
                  name: "service-address-state"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Country"
                  },
                  classes: "govuk-!-width-two-thirds",
                  id: "service-address-country",
                  name: "service-address-country",
                  autocomplete: "country-name"
                }) }}

                {{ govukInput({
                  label: {
                    text: "Postcode or ZIP"
                  },
                  classes: "govuk-input--width-10",
                  id: "service-address-postcode",
                  name: "service-address-postcode",
                  autocomplete: "postal-code"
                }) }}

                {% endcall %}
                {% endset -%}

                {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: "same-address",
                  name: "same-address",
                  fieldset: {
                    legend: {
                      text: "Is its correspondence address the same as its registered office address?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No",
                      conditional: {
                        html: serviceAddressHtml
                      }
                    }
                  ]
                }) }}

                {{ govukInput({
                  label: {
                    text: "What law or legislation does it operate under?",
                    classes: "govuk-label--m govuk-input--width-15",
                    isPageHeading: false
                  },
                  hint: {
                    text: "This is also known as the company or entity’s governing law."
                  },
                  id: "corp-law-governed",
                  name: "corp-law-governed"
                }) }}

                {{ govukDateInput({
                  id: "corp-startdate",
                  namePrefix: "corp-startdate",
                  fieldset: {
                    legend: {
                      text: "When did it become a beneficial owner for the overseas entity?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  hint: {
                    text: "For example, 27 3 2007"
                  }
                }) }}


                {{ govukRadios({
                  idPrefix: "corp-nature-of-control",
                  name: "corp-nature-of-control",
                  fieldset: {
                    legend: {
                      text: "What is its nature of control?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: "shares",
                      text: "They hold more than 25% of shares in the overseas entity"
                    },
                    {
                      value: "voting",
                      text: "They hold more than 25% of the voting rights in the overseas entity"
                    },
                    {
                      value: "appoint",
                      text: "They hold the right to appoint or remove a majority of the board of directors of the overseas entity"
                    },
                    {
                      value: "influence",
                      text: "They have the right to exercise significant influence or control over the overseas entity"
                    }
                  ]
                }) }}

                {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: "owner-sanctions",
                  name: "owner-sanctions",
                  fieldset: {
                    legend: {
                      text: "Is it on the sanctions list?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No"
                    }
                  ]
                }) }}

                <h2 class="govuk-heading-m">What information is shown on the online register</h2>
                <p>All information provided on this screen about the corporate beneficial owner will be available on the public register.</p>

                {{ govukButton({
                  text: "Add another corporate beneficial owner",
                  href: "",
                  classes: "govuk-button--secondary govuk-!-margin-top-6"
                }) }}

                {{ govukButton({
                  text: "Continue without adding another corporate beneficial owner",
                  href: "/register/beneficial-owner-gov"
                }) }}

            </form>

        </div>
    </div>

{% endblock %}
