{% extends "layout.html" %}

{% set title = "Tell us about the overseas entity" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <h1 class="govuk-heading-xl">Tell us about the overseas entity</h1>

    {{ govukDetails({
      summaryText: "What is an overseas entity?",
      attributes: {
        "data-event-id": "overseas-entity-details"
      },
      text: "This is a legal entity, such as a company or organisation, that is governed by the law of a country or territory outside the UK."
    }) }}

    <form method="post">

      {{ govukInput({
        errorMessage: errors.name if errors,
        label: {
          text: "What is the name of the overseas entity?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "name",
          name: "name",
          value: name
      }) }}

      {% set countryField = incorporation_country if incorporation_country else '' %}
      {% set countryFieldNameId = "incorporation_country" %}
      {% set countryFieldText = "Which country was it formed in?" %}
      {% include "includes/inputs/country/country-select.html" %}

      {% include "includes/inputs/address/principal-address-input.html" %}

      {{ govukInput({
        errorMessage: errors.email if errors,
        label: {
          text: "Which email address at the overseas entity should we send communications to?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "We'll use this to send the Overseas Entity ID number, the notice of registration, and any other digital correspondence"
        },
        id: "email",
        name: "email",
        value: email
      }) }}

      {% set hintText = "For example, limited company" %}
      {% include "includes/inputs/legal-form-input.html" %}

      {% set hintText = "This is the law that the entity operates under" %}
      {% include "includes/inputs/governing-law-input.html" %}

      {% set registerHintText = "Include the full name. For example, Jersey Financial Services Commission." %}
      {% set includeJurisdiction = true %}
      {% set registerInCountryFormedText = "Is the overseas entity already on a public register in the country it was formed in?" %}
      {% set registrationNumberText = "Entity’s registration number" %}

      {% include "includes/inputs/fields/is-on-register-in-country-formed-input.html" %}

      {{ govukInsetText({
        html: '
         <h2 class="govuk-heading-m">Information shown on the public register</h2>
         <p>The email address will not be shown.</p>
         <p>All other information provided in this section will be shown on the public Register of Overseas Entities.</p>
        '
      }) }}

      {% include "includes/save-and-continue-button.html" %}
    </form>
  </div>
</div>
{% endblock %}
