{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about the overseas entity
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Tell us about the overseas entity</h1>

    {{ govukDetails({
      summaryText: "What is an overseas entity?",
      text: "This is a legal entity, such as a company or organisation, that is governed by the law of a country or territory outside the UK."
    }) }}

    <form method="post">

      {{ govukInput({
        label: {
          text: "What is the name of the overseas entity?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "name",
          name: "name",
          value: name
      }) }}

      {{ govukInput({
        label: {
          text: "Which country was it formed in?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "incorporation_country",
        name: "incorporation_country",
        value: incorporation_country
      }) }}

      {% include "includes/inputs/principal-address-input.html" %}

      {% set serviceAddressHtml %}
        {% call govukFieldset({
          legend: {
            text: "What is the correspondence address?",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}


        {{ govukInput({
          label: {
            html: 'Property name or number (optional)'
          },
          hint: {
            text: "For example, 'Saron House', '116' or 'Unit 37a'"
          },
          id: "service-address-property-name-number",
          name: "service-address-property-name-number",
          value: service_address.serviceAddressPropertyNameNumber if service_address
        }) }}

        {{ govukInput({
          label: {
            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "serviceAddressLine1",
          name: "serviceAddressLine1",
          autocomplete: "address-line1",
          value: service_address.serviceAddressLine1 if service_address
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "serviceAddressLine2",
          name: "serviceAddressLine2",
          autocomplete: "address-line2",
          value: service_address.serviceAddressLine2 if service_address
        }) }}

        {{ govukInput({
          label: {
            text: "City or town"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressTown",
          name: "serviceAddressTown",
          autocomplete: "address-level2",
          value: service_address.serviceAddressTown if service_address
        }) }}

        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressCounty",
          name: "serviceAddressCounty",
          value: service_address.serviceAddressCounty if service_address
        }) }}

        {{ govukInput({
          label: {
            text: "Country"
          },
          classes: "govuk-!-width-two-thirds",
          id: "serviceAddressCountry",
          name: "serviceAddressCountry",
          value: service_address.serviceAddressCountry if service_address
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode or ZIP code (if applicable)"
          },
          classes: "govuk-input--width-10",
          id: "serviceAddressPostcode",
          name: "serviceAddressPostcode",
          autocomplete: "postal-code",
          value: service_address.serviceAddressPostcode if service_address
        }) }}

        {% endcall %}
      {% endset -%}

      {{ govukInput({
        label: {
          text: "Which email address at the overseas entity should we send communications to?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "We’ll use this to send the Overseas Entity ID number, the notice of registration, and any other digital correspondence"
        },
        id: "email",
        name: "email",
        value: email
      }) }}

      {% set hintText = "For example, limited company" %}
      {% include "includes/inputs/legal-form-input.html" %}

      {% set hintText = "This is the law that the entity operates under" %}
      {% include "includes/inputs/governing-law-input.html" %}

      {% set entityPublicRegisterHtml %}
        {{ govukInput({
          id: "entity-public-register-name",
          name: "entity-public-register-name",
          hint: {
            text: "Include its jurisdiction. For example, Hong Kong or State of Delaware."
          },
          label: {
            text: "Name of register"
          }
        }) }}
        {{ govukInput({
          id: "registration_number",
          name: "registration_number",
          value: registration_number,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Entity’s registration number"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "entity-public-register",
        name: "entity-public-register",
        fieldset: {
          legend: {
            text: "Is the overseas entity already on a public register in the country it was formed in?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: 1,
            text: "Yes",
            conditional: {
               html: entityPublicRegisterHtml
            },
            checked: is_on_sanctions_list === 1
          },
          {
            value: 0,
            text: "No",
            checked: is_on_sanctions_list === 0
          }
        ]
      }) }}

      {{ govukInsetText({
        html: '
         <h2 class="govuk-heading-m">Information shown on the public register</h2>
         <p>To be confirmed.</p>
        '
      }) }}

      {% include "includes/continue-button.html" %}
    </form>
  </div>
</div>
{% endblock %}
