{% if isRegistration %}
  {% extends "layout.html" %}
{% else %}
  {% set SERVICE_NAME = OE_CONFIGS.UPDATE_SERVICE_NAME %}
  {% extends "update-layout.html" %}
{% endif %}

{% block signOutBanner %}
{% endblock %}

{% block pageTitle %}
  Service unavailable - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
      <p class="govuk-body">You will be able to use the service at a later date.</p>

      <p class="govuk-body">Email <a href="mailto: enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a> if you need more information.</p>
    </div>
  </div>

{% endblock %}
