{% from "web-security-node/components/csrf-error/macro.njk" import csrfError %}

{% set title = "Service Unavailable" %}

{% if isRegistration %}
  {% extends "layout.html" %}
  {% set titleTemplate = "includes/page-title.html" %}
{% else %}
  {% extends "update-layout.html" %}
  {% set titleTemplate = "includes/update-page-title.html" %}
{% endif %}

{% block signOutBanner %}
{% endblock %}

{% block pageTitle %}
  {% include titleTemplate %}
{% endblock %}

{% block content %}
  {% if csrfErrors %}
    {{
      csrfError({})
    }}
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p class="govuk-body">You will be able to use the service at a later date.</p>

        <p class="govuk-body">Email <a class="govuk-link" href="mailto: enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a> if you need more information.</p>
      </div>
    </div>
  {% endif %}

{% endblock %}
