{% extends "layout.html" %}

{% block pageTitle %}
  Before you start - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you start</h1>
        <h2 class="govuk-heading-m">Agent assurance codes for verification checks</h2>
        <p class="govuk-body">A UK-regulated agent must carry out <a href="https://www.gov.uk/guidance/register-an-overseas-entity#what-is-needed-for-verification-checks" class="govuk-link" data-event-id="identity-checks-link">verification checks</a> on all beneficial owners and managing officers no more than 3 months before the overseas entity is registered. They'll need to provide an <a href="https://www.gov.uk/guidance/agent-assurance-codes" class="govuk-link" data-event-id="agent-assurance-code-link">agent assurance code</a> to confirm they have authorisation to carry out verification checks.</p>


        {% if (pageParams.isTrustFeatureEnabled == false) %}

          <h2 class="govuk-heading-m">Trusts</h2>
          <p class="govuk-body">If you need to tell us about <a href="https://www.gov.uk/guidance/register-an-overseas-entity#how-to-submit-information-about-trusts" class="govuk-link" data-event-id="trusts-link">trusts</a>, we highly recommend that you complete the <a href="{{CDN_HOST}}/static/services/overseas-entities/Companies%20House%20Trust%20Excel%20Document.xlsm" class="govuk-link" data-event-id="trusts-document-download-link">Trust Excel document (58KB)</a> before you start, as the service will time out if you do not use it for 60 minutes.</p>


          <p class="govuk-body">You'll need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>open the document in Excel</li>
            <li>enable macros when prompted</li>
          </ul>
          <p class="govuk-body">  Then follow the instructions within the document to enter the information into the service.</p>

        {% endif %}

    <a href="{{pageParams.nextPageUrl}}" id="continue" onclick="_paq.push(['trackGoal', '{{PIWIK_START_GOAL_ID}}'])" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

      </div>
    </div>
  </div>

{% endblock %}
