{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/footer/macro.njk"              import govukFooter %}
{% from "govuk/components/header/macro.njk"              import govukHeader %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "web-security-node/components/csrf-token-input/macro.njk" import csrfTokenInput %}

{% block head %}

  <!--[if !IE 8]><!-->
  <link rel="stylesheet" type="text/css" media="all" href="//{{CDN_HOST}}/stylesheets/govuk-frontend/v4.6.0/govuk-frontend-4.6.0.min.css" />
  <link rel="stylesheet" type="text/css" media="all" href="//{{CDN_HOST}}/stylesheets/services/overseas-entities/application.css"  />
  {% include "includes/styles.html" %}
  <!--<![endif]-->

  <link rel="SHORTCUT ICON" href="//{{CDN_HOST}}/images/favicon.ico" />
  <link rel="icon" href="//{{CDN_HOST}}/images/favicon.ico" type="image/x-icon" />

  <script src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
          crossorigin="anonymous">
  </script>

{% endblock %}

{% block bodyStart %}
  {% include "includes/cookie-consent-banner.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  <div style="margin-bottom: 25px; border-bottom: 1px solid #b1b4b6;">
    {% block backLink %}
    {% endblock %}
    {% block signOutBanner %}
      {% include "includes/sign-out-user-banner.html" %}
    {% endblock %}
  </div>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: SERVICE_NAME,
    serviceUrl: OE_CONFIGS.LANDING_PAGE_URL,
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "http://resources.companieshouse.gov.uk/legal/termsAndConditions.shtml",
          text: "Policies"
        },
        {
          href: "/help/cookies",
          text: "Cookies"
        },
        {
          href: "/help/contact-us",
          text: "Contact us"
        },
        {
          href: OE_CONFIGS.ACCESSIBILITY_STATEMENT_URL,
          text: "Accessibility statement"
        },
        {
          href: "https://developer.companieshouse.gov.uk/",
          text: "Developers"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="//{{CDN_HOST}}/javascripts/govuk-frontend/v4.6.0/govuk-frontend-4.6.0.min.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  {% include "includes/piwik-scripts.html" %}
{% endblock %}
