{% extends "layout.html" %}

{% block pageTitle %}
  Managing officer - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Managing officer</span>
      {% include "includes/heading/bo-and-mo-individuals-heading.html" %}

      <form class="form" method="post">

        {% include "includes/inputs/fields/first-name-input.html" %}

        {% set hintLastNameText = "This is also known as their family name." %}
        {% include "includes/inputs/fields/last-name-input.html" %}

        {% set formerNameHtml %}
          {{ govukInput({
            id: "former_names",
            name: "former_names",
            value: former_names,
            classes: "govuk-!-width-half",
            label: {
              text: "Former name or names"
            }
          }) }}
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "has_former_names",
          name: "has_former_names",
          fieldset: {
            legend: {
              text: "Do they have any former names?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: 1,
              text: "Yes",
              checked: has_former_names == 1,
              conditional: {
                html: formerNameHtml
              }
            },
            {
              value: 0,
              text: "No",
              checked: has_former_names == 0
            }
          ]
        }) }}

        {% include "includes/inputs/date/date-of-birth-input.html" %}

        {% include "includes/inputs/fields/nationality-input.html" %}

        {% include "includes/inputs/address/residential-address-input.html" %}

        {{ govukInput({
          label: {
            text: "What is their occupation? (Optional)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            html: "For example, consultant."
          },
          id: "occupation",
          name: "occupation",
          value: occupation
        }) }}

        {{ govukTextarea({
          label: {
            text: "Describe their role and responsibilities in relation to the entity",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "role_and_responsibilities",
          name: "role_and_responsibilities",
          value: role_and_responsibilities
        }) }}


        {{ govukInsetText({
          html: "
                    <h2 class='govuk-heading-m'>Information shown on the public register</h2>
                    <p>The managing officer's home address will not be shown. Only the month and year of their date of birth will be shown.</p>
                    <p>All other information provided in this section will be shown on the public Register of Overseas Entities.</p>
                "
        }) }}

        {% include "includes/continue-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}
