{% extends "layout.html" %}

{% block pageTitle %}
  Corporate managing officer - Register an overseas entity - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Managing officer</span>
    <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the corporate managing officer</h1>
    <p class="govuk-caption-l  govuk-!-margin-bottom-5 govuk-!-margin-top-5">You can add more later.</p>

    <form class="form" method="post">
      {{ govukInput({
        label: {
          text: "What is its name?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "officerName",
        name: "officerName",
        value: officerName
      }) }}

      {% include "includes/inputs/principal-address-input.html" %}

      {% include "includes/inputs/legal-form-input.html" %}

      {{ govukInput({
        label: {
          text: "What is the governing law?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "This is the law it operates under"
        },
        id: "law_governed",
        name: "law_governed",
        value: law_governed
      }) }}

      {% set entityPublicRegisterHtml %}
        {{ govukInput({
          id: "register_name",
          name: "register_name",
          value: register_name,
          hint: {
            text: "Include its jurisdiction. For example, Hong Kong or State of Delaware."
          },
          label: {
            text: "Name of register"
          }
        }) }}

        {{ govukInput({
          id: "registration_number",
          name: "registration_number",
          value: registration_number,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Entity's registration number"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "is_on_register_in_country_formed_in",
        name: "is_on_register_in_country_formed_in",
        fieldset: {
          legend: {
            text: "Is the corporate managing officer already on a public register in the country it was formed?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: 1,
            text: "Yes",
            conditional: {
              html: entityPublicRegisterHtml
            }
          },
          {
            value: 0,
            text: "No"
          }
        ]
      }) }}

      {% set dateText = "When did it become a managing officer for the overseas entity?" %}
      {% include "includes/inputs/start-date-input.html" %}

      {{ govukInsetText({
        html: '
          <h2 class="govuk-heading-m">Information shown on the public register</h2>
          <p class="govuk-body">All information provided in this section will be shown on the public Register of Overseas Entities.</p>
        '
      }) }}

      {% include "includes/continue-button.html" %}

    </form>

  </div>
</div>

{% endblock %}
