{% extends "layout.html" %}

{% set title = "Tell us about the corporate managing officer" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <span class="govuk-caption-xl">Managing officer</span>
    <h1 class="govuk-heading-xl govuk-!-margin-0">{{ title }}</h1>
    <br> <p class="govuk-body">You can add more later.</p> <br>

    <form class="form" method="post">

      {% include "includes/inputs/fields/name-input.html" %}

      {% include "includes/inputs/address/principal-address-input.html" %}

      {% set hintText = "For example, limited company or partnership" %}
      {% include "includes/inputs/legal-form-input.html" %}

      {% set hintText = "This is the law it operates under" %}
      {% include "includes/inputs/governing-law-input.html" %}

      {% set registerHintText = "Include its jurisdiction. For example, Hong Kong or State of Delaware." %}
      {% set includeJurisdiction = false %}
      {% set registerInCountryFormedText = "Is the corporate managing officer already on a public register in the country it was formed?" %}
      {% set registrationNumberText = "Corporate managing officer's registration number" %}

      {% include "includes/inputs/fields/is-on-register-in-country-formed-input.html" %}

      {{ govukTextarea({
      errorMessage: errors.role_and_responsibilities if errors,
      label: {
          text: "Describe their role and responsibilities in relation to the entity",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "role_and_responsibilities",
        name: "role_and_responsibilities",
        value: role_and_responsibilities
      }) }}

      <h2 class="govuk-heading-l">Who can we contact about this managing officer?</h2>

      {{ govukInput({
        errorMessage: errors.contact_full_name if errors,
        label: {
          text: "What is their full name?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "contact_full_name",
        name: "contact_full_name",
        value: contact_full_name
      }) }}

      {{ govukInput({
        errorMessage: errors.contact_email if errors,
        label: {
          text: "What is their email address?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "contact_email",
        name: "contact_email",
        value: contact_email
      }) }}

      {{ govukInsetText({
        html: '
          <h2 class="govuk-heading-m">Information shown on the public register</h2>
          <p class="govuk-body">All information provided in this section will be shown on the public Register of Overseas Entities.</p>
        '
      }) }}

      {% include "includes/save-and-continue-button.html" %}

      {% set removePathURL = OE_CONFIGS.MANAGING_OFFICER_CORPORATE_URL + OE_CONFIGS.REMOVE + "/" + id %}
      {% set nameToBeRemoved = name %}
      {% include "includes/remove-button.html" %}

    </form>

  </div>
</div>

{% endblock %}
