{% extends "layout.html" %}

{% block pageTitle %}
  Beneficial owner - Register an overseas entity - Companies House
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the managing officer</h1>
      <p class="govuk-caption-l">You can add more managing officers later</p>
      <br>

      <form class="form" method="post">
        {{ govukDetails({
          summaryText: "What is a managing officer?",
          text: "Managing officer has been defined in the draft legislation as a director, manager or secretary of an overseas company."
        }) }}

        {{ govukInput({
          label: {
            text: "What is the full name of the managing officer?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Include any titles if relevant"
          },
          id: "fullName",
          name: "fullName",
          value: fullName
        }) }}

        {% set formerNameHtml %}
          {{ govukInput({
            id: "formerName",
            name: "formerName",
            value: formerName,
            classes: "govuk-!-width-half",
            label: {
              text: "What is the managing officers former name?"
            }
          }) }}
        {% endset %}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "hasAFormerName",
          name: "hasAFormerName",
          fieldset: {
            legend: {
              text: "Has the managing officer used a different name in the last 20 years?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: hasAFormerName === 'yes',
              conditional: {
                html: formerNameHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: hasAFormerName === 'no'
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "dateOfBirth",
          namePrefix: "dateOfBirth",
          fieldset: {
            legend: {
              text: "What is their date of birth?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "day",
              value: dateOfBirth["dateOfBirth-day"]
            },
            {
              classes: "govuk-input--width-2 govuk-input",
              name: "month",
              value: dateOfBirth["dateOfBirth-month"]
            },
            {
              classes: "govuk-input--width-4 govuk-input",
              name: "year",
              value: dateOfBirth["dateOfBirth-year"]
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "What is their nationality?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "nationality",
          name: "nationality",
          value: nationality
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What is their usual residential address?",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

        {{ govukInput({
          label: {
            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "usualResidentialAddressLine1",
          name: "usualResidentialAddressLine1",
          value: usualResidentialAddress.usualResidentialAddressLine1
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "usualResidentialAddressLine2",
          name: "usualResidentialAddressLine2",
          value: usualResidentialAddress.usualResidentialAddressLine2
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "usualResidentialAddressTown",
          name: "usualResidentialAddressTown",
          value: usualResidentialAddress.usualResidentialAddressTown
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          classes: "govuk-!-width-two-thirds",
          id: "usualResidentialAddressCounty",
          name: "usualResidentialAddressCounty",
          value: usualResidentialAddress.usualResidentialAddressCounty
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "usualResidentialAddressPostcode",
          name: "usualResidentialAddressPostcode",
          value: usualResidentialAddress.usualResidentialAddressPostcode
        }) }}
        {% endcall %}

        {{ govukInput({
          label: {
            text: "What is the managing officer's business occupation? (optional)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "e.g. director"
          },
          id: "businessOccupation",
          name: "businessOccupation",
          value: businessOccupation
        }) }}

        {{ govukInput({
          label: {
            text: "Describe the role and responsibilities in relation to the entity (optional)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "roleAndResponsibilities",
          name: "roleAndResponsibilities",
          value: roleAndResponsibilities
        }) }}


        <h2 class="govuk-heading-m">What information is shown on the online register</h2>
        <p class="govuk-body">All details provided about the managing officer will be available on the online register</p>

        {{ govukButton({
          text: "Save and continue",
          attributes: {
            "id": "submit"
          }
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
