{% extends "layout.html" %}

{% set title = "What is the name of the overseas entity?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <h1 class="govuk-heading-xl">{{ title }}</h1>

    <form method="post">
      {% include 'includes/csrf_token.html' %}
      {{ govukInput({
        errorMessage: errors.entity_name if errors,
        label: {
          text: title,
          classes: "govuk-label--m",
          isPageHeading: false,
          classes: "govuk-visually-hidden"
        },
        id: "entity_name",
        name: "entity_name",
        value: entity_name
      }) }}

      {% include "includes/save-and-continue-button.html" %}
    </form>
  </div>
</div>
{% endblock %}
