{% set title = "Page not found" %}

{% if isRegistration %}
  {% extends "layout.html" %}
  {% set titleTemplate = "includes/page-title.html" %}
{% else %}
  {% extends "update-layout.html" %}
  {% set titleTemplate = "includes/update-page-title.html" %}
{% endif %}

{% block pageTitle %}
  {% include titleTemplate %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">If you typed the web address, check it is spelled correctly.</p>

      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

      <p class="govuk-body">If the web address is correct or you selected a link, the page may have moved. </p>

      <p class="govuk-body"> To register an overseas entity, go to the <a class="govuk-link" href="/register-an-overseas-entity">Register an overseas entity start page.</a> </p>

      {% if OE_CONFIGS.FEATURE_FLAG_ENABLE_ROE_UPDATE === "true" %}
      <p class="govuk-body"> To file an overseas entity update statement, go to the <a href="https://www.gov.uk/guidance/file-an-overseas-entity-update-statement" class="govuk-link" data-event-id="update-guidance-link">File an overseas entity update statement start page.</a> </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
