{% extends "layout.html" %}

{% block pageTitle %}
  Page not found - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">If you typed the web address, check it is spelled correctly.</p>

      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

      <p class="govuk-body">If the web address is correct or you selected a link, the page may have moved. Go to the <a href="/register-an-overseas-entity">Register an overseas entity start page.</a></p>

    </div>
  </div>

{% endblock %}
