{% extends "layout.html" %}

{% block pageTitle %}
  Who can we contact about this application? - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Who can we contact about this application?</h1>

      {% include "includes/list/errors.html" %}

      <form method="post">

        {{ govukInput({
          errorMessage: errors.full_name if errors,
          label: {
            text: "Full name",
            isPageHeading: false
          },
          id: "full_name",
          name: "full_name",
          value: full_name
        }) }}

        {{ govukInput({
          errorMessage: errors.email if errors,
          label: {
            text: "Email address",
            isPageHeading: false
          },
          id: "email",
          name: "email",
          value: email
        }) }}

        {{ govukInsetText({
          html: '
            <h2 class="govuk-heading-m">Information shown on the public register</h2>
            <p>None of the information provided in this section will be shown on the public Register of Overseas Entities.</p>
          '
        }) }}

        {% include "includes/continue-button.html" %}
      </form>
    </div>
  </div>
{% endblock %}
