{% extends "layout.html" %}

{% block pageTitle %}
  Who is registering - Register an overseas entity - Companies House
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Tell us about yourself</h1>


      <form method="post">
        {{ govukInput({
          label: {
            text: "What is your full name?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "full_name",
          name: "full_name",
          value: full_name
        }) }}

        {{ govukInput({
          label: {
            text: "What is your phone number?",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "phone_number",
          name: "phone_number",
          value: phone_number,
          classes: "govuk-!-width-one-third"
        }) }}

        {% set otherHtml %}
          {{ govukInput({
            id: "role_title",
            name: "role_title",
            value: role_title,
            classes: "govuk-!-width-one-third",
            label: {
              text: "Role title"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "role",
          name: "role",
          fieldset: {
            legend: {
              text: "What is your role?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "adminstrator",
              text: "Administrator",
              checked: role === 'adminstrator'
            },
            {
              value: "agent",
              text: "Agent",
              checked: role === 'agent'
            },
            {
              value: "solicitor",
              text: "Solicitor",
              checked: role === 'solicitor'
            },
            {
              value: "beneficial_owner",
              text: "Beneficial owner",
              checked: role === 'beneficial_owner'
            },
            {
              value: "other",
              text: "Other",
              checked: role === 'other',
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "What is your anti-money laundering registration number? (optional)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "anti_money_laundering_registration_number",
          name: "anti_money_laundering_registration_number",
          value: anti_money_laundering_registration_number,
          classes: "govuk-!-width-one-third"
        }) }}

        <h2 class="govuk-heading-m">What information is shown on the online register</h2>
        <p class="govuk-body">No third party information will be shown on the online register</p>

        {% include "includes/continue-button.html" %}
      </form>
    </div>
  </div>
{% endblock %}
