{% if (journey == "register") %}
  {% extends "layout.html" %}
{% else %}
  {% set SERVICE_NAME = OE_CONFIGS.UPDATE_SERVICE_NAME %}
  {% extends "update-layout.html" %}
{% endif %}

{% block pageTitle %}
  {% if errors and errors.errorList and errors.errorList.length > 0 %}
    Error:
  {% endif %}
  Are you sure you want to sign out? - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: previousPage
  }) }}
{% endblock %}

{% set isUpdateOrRemoveJourney = (journey === "update" or journey === "remove") %}

{% if saveAndResume and (journey == "register") %}
  {% set hintText = "We will save your application." %}
{% elif saveAndResume and isUpdateOrRemoveJourney %}
  {% set hintText = "We will save your filing." %}
{% else %}
  {% set hintText = "Your answers will not be saved. You will need to start again if you want to "+journey+" an overseas entity and tell us about its beneficial owners." %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <form method="post">
      {% include 'includes/csrf_token.html' %}
      {# Need to have hidden fields for the journey and saveAndResume values so that when the template gets rendered by the validation middleware, #}
      {#   the journey and saveAndResume values are not lost and passed back into the template for rendering #}
      <input type="hidden" name="journey" value="{{ journey }}"/>
      <input type="hidden" name="saveAndResume" value="{{ saveAndResume }}"/>

      {{ govukRadios({
        errorMessage: errors.sign_out if errors,
        classes: "govuk-radios--inline",
        idPrefix: "sign_out",
        name: "sign_out",
        fieldset: {
          legend: {
            text: "Are you sure you want to sign out?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
            text: hintText
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {
              "data-event-id": "yes-sign-out"
            }
          },
          {
            value: "no",
            text: "No",
            attributes: {
              "data-event-id": "no-sign-out"
            }
          }
        ]
      }) }}

      {{ govukInput({
        value: previousPage,
        name: "previousPage",
        classes: "govuk-visually-hidden"
      }) }}

      {% if saveAndResume %}
        <details class="govuk-details" data-module="govuk-details" data-event-id="find-saved-information-details">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {% if journey === "register" %}
              How do I find my saved applications?
            {% elif isUpdateOrRemoveJourney %}
              How do I find my saved filing?
            {% endif %}
          </span>
          </summary>  
          <div class="govuk-details__text">
            {% if journey === "register" %}
              Sign in to your Companies House account and select Your filings to access your saved applications.
            {% elif isUpdateOrRemoveJourney %}
              When you sign back in to this service, we'll ask you if you want to continue with a saved filing.
            {% endif %}
          </div>
        </details>
      {% endif %}
      
      {% if journey === "register" %}
        {% include "includes/continue-button.html" %}
      {% elif isUpdateOrRemoveJourney %}
        {{ govukButton({
          text: "Save and sign out",
          attributes: {
            "id": "submit"
          }
        }) }}
      {% endif %}
      

    </form>
  </div>
</div>

{% endblock %}
