{% extends "layout.html" %}

{% set title = "Has the entity disposed of any property or land in England, Wales or Scotland since 28 February 2022?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}
{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/list/errors.html" %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ title }}</h1>
      <form method="post">
        {% include "includes/csrf_token.html" %}
        {{ govukRadios({
          errorMessage: errors.has_sold_land if errors,
          classes: "govuk-radios--inline",
          idPrefix: "has_sold_land",
          name: "has_sold_land",
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select yes if the entity has disposed of some or all its land or property."
          },
          items: [
            {
              value: 1,
              text: "Yes",
              checked: has_sold_land == 1,
              attributes: {
                "data-event-id": "yes-has-sold-land"
              }
            },
            {
              value: 0,
              text: "No",
              checked: has_sold_land == 0,
              attributes: {
                "data-event-id": "no-has-sold-land"
              }
            }
          ]
        }) }}

        {% include "includes/continue-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}
