{% extends "layout.html" %}

{% set title = "Historical beneficial owner" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/list/errors.html" %}

      <span class="govuk-caption-l">{{ pageData.trustName }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-0">{{ pageParams.title }}</h1>
      <br> <p class="govuk-body">You can add more later.</p> <br>

      <form class="form" method="post">
        {% set legalEntityHtml %}
        <br>
        {% set fieldParam = {
          name: 'corporateName',
          label: 'Name',
          value: formData.corporateName,
          classes: 'govuk-!-width-two-thirds',
          error: errors.corporateName
        } %}
        {% include "includes/inputs/text-input.html" %}
        {% endset -%}

        {% set individualBoHtml %}
        <br>
        {% set fieldParam = {
          name: 'firstName',
          label: 'First Name',
          value: formData.firstName,
          classes: 'govuk-!-width-two-thirds',
          error: errors.firstName
        } %}
        {% include "includes/inputs/text-input.html" %}

        {% set fieldParam = {
          name: 'lastName',
          label: 'Last Name',
          classes: 'govuk-!-width-two-thirds',
          value: formData.lastName,
          error: errors.lastName
        } %}
        {% include "includes/inputs/text-input.html" %}
        {% endset -%}

        {% set fieldParam = {
          name: 'type',
          label: 'Is the former beneficial owner an individual or a legal entity?',
          error: errors.type,
          value: formData.type,
          items: [
            {
              value: 1,
              text: "Legal Entity",
              conditional: {
              html: legalEntityHtml
            }
            },
            {
              value: 0,
              text: "Individual",
              conditional: {
              html: individualBoHtml
            }
            }
          ]
        } %}
        {% include "includes/inputs/radio-input.html" %}

        {% set fieldParam = {
          name: 'ceasedDate',
          label: 'When did they become a beneficial owner?',
          value: {
            'Day': formData.ceasedDateDay,
            'Month': formData.ceasedDateMonth,
            'Year': formData.ceasedDateYear
          },
          hint: 'For example, 27 3 2007',
          error: errors.ceasedDate
        } %}
        {% include "includes/inputs/date-input.html" %}

        {% set fieldParam = {
          name: 'notifiedDate',
          label: 'When did they stop being a beneficial owner?',
          value: {
            'Day': formData.notifiedDateDay,
            'Month': formData.notifiedDateMonth,
            'Year': formData.notifiedDateYear
          },
          hint: 'For example, 28 5 2011',
          error: errors.notifiedDate
        } %}
        {% include "includes/inputs/date-input.html" %}

        {{ govukInsetText({
          html: '
            <h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
            <p>We will not show any of the information you provide on this screen on the public Register of Overseas Entities. However, we may share it with HMRC.</p>
          '
        }) }}

        <input type="hidden" name="boId" value="{{ formData.boId }}"/>

        {% include "includes/save-and-continue-button.html" %}
      </form>
    </div>
  </div>
{% endblock %}
