{% extends "layout.html" %}

{% set title = "Add trust information for the beneficial owners" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% set noMoreToAddHtml %}
  No more <span class="govuk-visually-hidden"> trust information</span> to add
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <h1 class="govuk-heading-xl">Add trust information for the beneficial owners</h1>

      <form class="form" method="post">
        <div class="govuk-form-group">
            {{ govukCheckboxes({
              idPrefix: "beneficialOwner",
              name: "beneficialOwner",
              fieldset: {
                legend: {
                  text: "Who is involved in this trust?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              hint: {
                text: "Select all that apply."
              },
              errorMessage: errors.beneficialOwners if errors,
              items: beneficialOwners
            }) }}
        </div>

        <h2 class="govuk-heading-m">Enter trust information from the Excel document</h2>
        <div class="govuk-form-group">
          {{ govukTextarea({
            errorMessage: errors.trusts if errors,
            name: "trusts",
            id: "trusts",
            label: {
              text: "If you've already completed the trust Excel document, follow the instructions in the document to paste the data into the box:",
              classes: "govuk-body",
              isPageHeading: false
            },
            value: trusts_input
          }) }}
        </div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I have not completed the trust Excel document yet
            </span>
          </summary>
          <div class="govuk-details__text" id="more-detail" value="data.['more-detail']">
            <p class="govuk-body">Enter the trust information into the <a href="{{CDN_HOST}}/static/services/overseas-entities/Companies%20House%20Trust%20Excel%20Document.xlsm" class="govuk-link" data-event-id="trust-document-download-link">Trust Excel document (58KB)</a>. Be aware that this service will time out if you do not use it for 60 minutes. Your answers will not be saved.</p>
          </div>
        </details>

        {{ govukInsetText({
          html: '
            <h2 class="govuk-heading-m">Information shown on the public register</h2>
            <p>None of the information you provide about the trust will be shown on the public Register of Overseas Entities. However, it may be shared with HMRC.</p>
          '
        }) }}
        {{ govukButton({
          text: "Add another trust",
          attributes: {
            "id": "add",
            "name": "add",
            "value": "add"
          }
        }) }}

        <p>
          {{ govukButton({
            html: noMoreToAddHtml,
            attributes: {
              "id": "submit",
              "name": "submit",
              "value": "submit"
            },
            classes: "govuk-button--secondary"
          }) }}
        </p>

      </form>

    </div>
  </div>

{% endblock %}
