{% extends "layout.html" %}

{% set title = pageParams.title %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <span class="govuk-caption-l">{{ pageData.trustData.trustName }}</span>
      <h1 class="govuk-heading-xl">{{ pageParams.title }}</h1>

      {% set boItems = [] %}
      {% for bo in pageData.boInTrust %}
        {% set type = pageData.beneficialOwnerTypeTitle[bo.type] %}
        {% set boItems = (
          boItems.push({
            key: {
              text: type
            },
            value: {
              text: bo.name
            },
            actions: {
              items: [SUMMARY_LIST_LINK(
                'remove',
                pageData.beneficialOwnerUrlDetach + '/' + bo.id,
                [type, bo.name, "detach from trust button"] | join(' '),
                "detach-beneficial-owner-from-trust-button"
              )]
            }
          }),
          boItems
        ) %}
      {% endfor %}

      {% set trusteeList = [] %}
      {% for trustee in pageData.trusteeData %}
        {% set type = pageData.trusteeTypeTitle[trustee.type] %}
        {% set name = trustee.forename + " " + trustee.surname %}
        {% set trusteeList = (
          trusteeList.push({
            key: {
              text: type  
            },
            value: {
              text: name
            },
            actions: {
              items: [SUMMARY_LIST_LINK(
                'remove',
                pageData.beneficialOwnerUrlDetach + '/' + trustee.id,
                [type, name, "detach from trust button"] | join(' '),
                "detach-trustee-from-trust-button"
              )]
            }
          }),
          trusteeList
        ) %}
      {% endfor %}

      {% set trustees = [] %}
      {% for trustee in pageData.trustees %}
        {% set type = pageData.trusteeTypeTitle[trustee.trusteeItemType] %}
        {% set trustees = (
          trustees.push({
            key: {
              text: type
            },
            value: {
              text: trustee.name
            },
            actions: {
              items: [SUMMARY_LIST_LINK(
                'remove',
                pageData.beneficialOwnerUrlDetach + '/' + trustee.id,
                [type, trustee.name, "detach from trust button"] | join(' '),
                "detach-trustee-from-trust-button"
              )]
            }
          }),
          trustees
        ) %}
      {% endfor %}

      {% if boItems | length %}
        <h1 class="govuk-heading-m">
          What <span class="govuk-visually-hidden">individuals or entities</span>
          you have added so far for this trust
        </h1>
        {{ govukSummaryList({
          rows: boItems
        }) }}
        {{ govukSummaryList({
          rows: trustees
        }) }}
      {% endif %}

      {% if trusteeList | length %}
        {{ govukSummaryList({
          rows: trusteeList
        }) }}
      {% endif %}

      <form class="form" method="post">
        {% set fieldParam = {
          name: 'typeOfTrustee',
          label: 'Which type of individual or entity do you want to add to this trust?',
          error: errors.typeOfTrustee,
          items: [
            {
              value: pageData.trusteeType.HISTORICAL,
              text: "Former beneficial owner",
              hint: {
                text: "This is any individual or legal entity that was previously a registrable beneficial owner of the overseas entity, due to being a trustee of this trust."
              }
            }, {
              value: pageData.trusteeType.INDIVIDUAL,
              text: "Individual",
              hint: {
                text: "This is an individual who is currently a beneficiary, settlor, grantor or interested person for this trust."
              }
            }, {
              value: pageData.trusteeType.LEGAL_ENTITY,
              text: "Legal entity",
              hint: {
                text: "This is a legal entity that is currently a beneficiary, settlor, grantor or interested person for this trust. You do not need to tell us about government or public authorities."
              }
            }
          ]
        } %}
        {% include "includes/inputs/radio-input.html" %}

        <div class="govuk-button-group">
          {{ govukButton({
              text: "Add"
            }) }}

          {{ govukButton({
              attributes: {
                "id": "noMoreToAdd",
                "name": "noMoreToAdd",
                "value": "noMoreToAdd"
              },
              html: 'No more <span class="govuk-visually-hidden">individuals or entities</span> to add',
              classes: "govuk-button--secondary"
            }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
