{% extends "layout.html" %}

{% block pageTitle %}
    Who is making the filing? - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

            {{ govukRadios({
                errorMessage: errors.who_is_registering if errors,
                idPrefix: "who_is_registering",
                name: "who_is_registering",
                fieldset: {
                    legend: {
                        text: "Who is completing this registration?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--xl"
                    }
                },
                items: [
                    {
                        value: "agent",
                        text: "The UK-regulated agent that carried out identity checks",
                        checked: who_is_registering === "agent"
                    },
                    {
                        value: "overseas",
                        text: "Someone else",
                        checked: who_is_registering === "overseas"
                    }
                ]
            }) }}

            {% include "includes/continue-button.html" %}
      </form>
    </div>
  </div>

{% endblock %}
