{% extends "layout.html" %}

{% set title = "Do you want to remove " + company + "?" %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <form class="form" method="post">
      {{ govukRadios({
         classes: "govuk-radios",
         idPrefix: "remove_entity",
         name: "remove_entity",
         error: errors.removeEntity if errors,
         fieldset: {
           legend: {
            text: "Do you want to remove " + company + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
         }
       },
       hint: {
        text: " "
       },
       items: [
        {
          value: "true",
          text: "Yes",
          checked: remove_entity === "true"
        },
        {
          value: "false",
          text: "No",
          checked: remove_entity === "false"
         }
       ]
      }) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
