{% call govukFieldset({
  legend: {
    text: "What is their home address?",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: false
  }
}) %}

  {{ govukInput({
    label: {
      html: 'Property name or number (optional)'
    },
    hint: {
      text: "For example, 'Saron House', '116' or 'Apartment 37a'"
    },
    id: "usualResidentialAddressPropertyNameNumber",
    name: "usualResidentialAddressPropertyNameNumber",
    value: usual_residential_address.usualResidentialAddressPropertyNameNumber if usual_residential_address
  }) }}

  {{ govukInput({
    label: {
      html: 'Address line 1'
    },
    classes: "govuk-!-width-two-thirds",
    id: "usualResidentialAddressLine1",
    name: "usualResidentialAddressLine1",
    autocomplete: "usualResidentialAddressLine1",
    value: usual_residential_address.usualResidentialAddressLine1 if usual_residential_address
  }) }}

  {{ govukInput({
    label: {
      html: 'Address line 2 (optional)'
    },
    id: "usualResidentialAddressLine2",
    name: "usualResidentialAddressLine2",
    autocomplete: "usualResidentialAddressLine2",
    value: usual_residential_address.usualResidentialAddressLine2 if usual_residential_address
  }) }}

  {{ govukInput({
    label: {
      text: "City or town"
    },
    classes: "govuk-!-width-two-thirds",
    id: "usualResidentialAddressTown",
    name: "usualResidentialAddressTown",
    value: usual_residential_address.usualResidentialAddressTown if usual_residential_address
  }) }}

  {{ govukInput({
    label: {
      text: "County, state, province or region (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "usualResidentialAddressCounty",
    name: "usualResidentialAddressCounty",
    value: usual_residential_address.usualResidentialAddressCounty if usual_residential_address
  }) }}

  {{ govukInput({
    label: {
      text: "Country"
    },
    classes: "govuk-!-width-two-thirds",
    id: "usualResidentialAddressCountry",
    name: "usualResidentialAddressCountry",
    value: usual_residential_address.usualResidentialAddressCountry if usual_residential_address
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode or ZIP code (if applicable)"
    },
    classes: "govuk-input--width-10",
    id: "usualResidentialAddressPostcode",
    name: "usualResidentialAddressPostcode",
    autocomplete: "usualResidentialAddressPostcode",
    value: usual_residential_address.usualResidentialAddressPostcode if usual_residential_address
  }) }}

{% endcall %}

{% set serviceAddressHtml %}
  <br>
  {% call govukFieldset({
    legend: {
      text: "What is their correspondence address?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}

    {{ govukInput({
      label: {
        html: 'Property name or number (optional)'
      },
      hint: {
        text: "For example, 'Saron House', '116' or 'Apartment 37a'"
      },
      id: "serviceAddressPropertyNameNumber",
      name: "serviceAddressPropertyNameNumber",
      value: service_address.serviceAddressPropertyNameNumber if service_address
    }) }}

    {{ govukInput({
      label: {
        html: 'Address line 1'
      },
      classes: "govuk-!-width-two-thirds",
      id: "serviceAddressLine1",
      name: "serviceAddressLine1",
      autocomplete: "serviceAddressLine1",
      value: service_address.serviceAddressLine1 if service_address
    }) }}

    {{ govukInput({
      label: {
        html: 'Address line 2 (optional)'
      },
      id: "serviceAddressLine2",
      name: "serviceAddressLine2",
      autocomplete: "serviceAddressLine2",
      value: service_address.serviceAddressLine2 if service_address
    }) }}

    {{ govukInput({
      label: {
        text: "City or town"
      },
      classes: "govuk-!-width-two-thirds",
      id: "serviceAddressTown",
      name: "serviceAddressTown",
      value: service_address.serviceAddressTown if service_address
    }) }}

    {{ govukInput({
      label: {
        text: "County, state, province or region (optional)"
      },
      classes: "govuk-!-width-two-thirds",
      id: "serviceAddressCounty",
      name: "serviceAddressCounty",
      value: service_address.serviceAddressCounty if service_address
    }) }}

    {{ govukInput({
      label: {
        text: "Country"
      },
      classes: "govuk-!-width-two-thirds",
      id: "serviceAddressCountry",
      name: "serviceAddressCountry",
      value: service_address.serviceAddressCountry if service_address
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode or ZIP code (if applicable)"
      },
      classes: "govuk-input--width-10",
      id: "serviceAddressPostcode",
      name: "serviceAddressPostcode",
      autocomplete: "serviceAddressPostcode",
      value: service_address.serviceAddressPostcode if service_address
    }) }}
  {% endcall %}
{% endset -%}

{{ govukRadios({
  classes: "govuk-radios",
  idPrefix: "is_service_address_same_as_usual_residential_address",
  name: "is_service_address_same_as_usual_residential_address",
  fieldset: {
    legend: {
      text: "Is their correspondence address the same as their home address?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: 1,
      text: "Yes",
      checked: is_service_address_same_as_usual_residential_address === 1
    },
    {
      value: 0,
      text: "No",
      checked: is_service_address_same_as_usual_residential_address === 0,
      conditional: {
        html: serviceAddressHtml
      }
    }
  ]
}) }}

