{% import "includes/date-macros.html" as dateMacros %}

{% set bocStartDate = dateMacros.formatDate(boc.start_date["day"], boc.start_date["month"], boc.start_date["year"]) %}

{% set bocFormattedPrincipalAddressHtml %}
  {% if not boi.principal_address and pageParams.noChangeFlag %}
      <strong class="govuk-tag govuk-tag--blue">CANNOT BE DISPLAYED</strong>
  {% elif boi.principal_address %}
  {% set address = boc.principal_address %}
  {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set bocChangeServiceAddressHtml = "" %}
{% set bocFormattedServiceAddressHtml %}
  {% if boc.is_service_address_same_as_principal_address == 1 %}
    The correspondence address is the same as the principal or registered office address
    {% set bocChangeServiceAddressHtml = "#is_service_address_same_as_principal_address" %}
  {% else %}
    {% set bocChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = boc.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set bocChangePublicRegister = "" %}
{% set bocFormattedPublicRegister %}
  {% if boc.is_on_register_in_country_formed_in == 1 %}
    {% set bocChangePublicRegister = "#public_register_name" %}
    {{ boc.public_register_name }} / {{ boc.registration_number }}
  {% else %}
    {% set bocChangePublicRegister = "#is_on_register_in_country_formed_in" %}
    No
  {% endif %}
{% endset %}

{% set bocBeneficialOwnerIndividualNOCs %}
  {% set boNOCTypesArray = boc.beneficial_owner_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-noc.html" %}
{% endset %}

{% set bocBeneficialOwnerTrusteeNOCs %}
  {% set boNOCTrusteesTypesArray = boc.trustees_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-trustee-of-trust-noc.html" %}
{% endset %}

{% set bocBeneficialOwnerNonLegalFirmNOCs %}
  {% set boNOCNonLegalTypesArray = boc.non_legal_firm_members_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-member-of-firm-noc.html" %}
{% endset %}

{% set bocIsOnSanctionsListHtml %}
  {% if boc.is_on_sanctions_list == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% if pageParams.isRegistration %}
  {% set changeLinkUrl = OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL %}
{% else %}
  {% set changeLinkUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_OTHER_URL %}
  {% if boc.ceased_date | length %}
    {% set bocCeasedDate = dateMacros.formatDate(boc.ceased_date["day"], boc.ceased_date["month"], boc.ceased_date["year"]) %}
    {% set isStillBeneficialOwner = { 
      key: {
        text: "Are they still a beneficial owner?" },
        value: { text: "No" },
        actions: {
          items:
            [ CREATE_CHANGE_LINK( changeLinkUrl + "/" + boc.id + OE_CONFIGS.IS_CEASED,
            "Corporate beneficial owner " + bocFullName + " - are they still a beneficial owner?",
            "change-corporate-beneficial-owner-still-beneficial-owner-button" ) if not pageParams.noChangeFlag ] } } %}
    {% set ceasedDate ={
      key: {
        text: "Ceased date" },
        value: { text: bocCeasedDate },
        actions: {
          items: [ CREATE_CHANGE_LINK( changeLinkUrl + "/" + boc.id + OE_CONFIGS.CEASED_DATE,
          "Corporate beneficial owner " + bocFullName + " - ceased date",
          "change-corporate-beneficial-owner-ceased-date-button" ) if not pageParams.noChangeFlag ] } } %}
  {% else %}
    {% set isStillBeneficialOwner = {
      key: {
        text: "Are they still a beneficial owner?" },
        value: { text: "Yes" },
        actions: {
          items: [ CREATE_CHANGE_LINK( changeLinkUrl + "/" + boc.id + OE_CONFIGS.IS_CEASED,
          "Corporate beneficial owner " + bocFullName + " - are they still a beneficial owner?",
          "change-corporate-beneficial-owner-still-beneficial-owner-button" ) if not pageParams.noChangeFlag ] } } %}
  {% endif %}
{% endif %}

{% if hideChangeLinksForNonEditableFields == true %}
  {% set changeLink = undefined %}
{% else %}
  {% set changeLink = CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + OE_CONFIGS.START_DATE,
            "Corporate beneficial owner " + boc.name + " - date it became a beneficial owner",
            "change-corporate-beneficial-owner-start-date-button"
          )%}
{% endif %}

<h3 class="govuk-heading-m">Other legal entity beneficial owner</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: boc.name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + OE_CONFIGS.NAME,
            "Corporate beneficial owner " + boc.name + " - name",
            "change-corporate-beneficial-owner-name-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Principal or registered office address"
        },
        value: {
          html: bocFormattedPrincipalAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + OE_CONFIGS.CHANGE_PRINCIPAL_ADDRESS,
            "Corporate beneficial owner " + boc.name + " - principal or registered office address",
            "change-corporate-beneficial-owner-principal-address-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: bocFormattedServiceAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + bocChangeServiceAddressHtml,
            "Corporate beneficial owner " + boc.name + " - correspondence address",
            "change-corporate-beneficial-owner-service-address-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Legal form"
        },
        value: {
          text: boc.legal_form
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + OE_CONFIGS.LEGAL_FORM,
            "Corporate beneficial owner " + boc.name + " - legal form",
            "change-corporate-beneficial-owner-legal-form-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Governing law"
        },
        value: {
          html: boc.law_governed
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + OE_CONFIGS.LAW_GOVERNED,
            "Corporate beneficial owner " + boc.name + " - governing law",
            "change-corporate-beneficial-owner-law-governed-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "On a public register in the country it was formed in" if not pageParams.noChangeFlag else "Is it on a public register in the country it was formed in?"
        },
        value: {
          html: bocFormattedPublicRegister
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + bocChangePublicRegister,
            "Corporate beneficial owner " + boc.name + " - public register",
            "change-corporate-beneficial-owner-public-register-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Date it became a beneficial owner"
        },
        value: {
          text: bocStartDate
        },
        actions: {
          items: [ changeLink if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Nature of control"
        },
        value: {
          html: bocBeneficialOwnerIndividualNOCs + bocBeneficialOwnerTrusteeNOCs + bocBeneficialOwnerNonLegalFirmNOCs
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + OE_CONFIGS.NOC_TYPES,
            "Corporate beneficial owner " + boc.name + " - nature of control",
            "change-corporate-beneficial-owner-nature-of-control-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Is it on the sanctions list?" if not pageParams.noChangeFlag else "Are they on the UK sanctions list?"
        },
        value: {
          html: bocIsOnSanctionsListHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + boc.id + OE_CONFIGS.IS_ON_SANCTIONS_LIST,
            "Corporate beneficial owner " + boc.name + " - is it on the sanctions list?",
            "change-corporate-beneficial-owner-sanctions-list-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      isStillBeneficialOwner, ceasedDate
    ]
}) }}