{% set statementText %}
    {% if appData.beneficial_owners_statement == "ALL_IDENTIFIED_ALL_DETAILS" %}
      All beneficial owners have been identified and all required information can be provided
    {% elif appData.beneficial_owners_statement == "SOME_IDENTIFIED_ALL_DETAILS" %}
      Some beneficial owners have been identified and all required information can be provided
    {% elif appData.beneficial_owners_statement == "NONE_IDENTIFIED" %}
      No beneficial owners have been identified
    {% endif %}
{% endset %}

<h2 class="govuk-heading-l">Have any registrable beneficial owners been identified?</h2>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Statement"
        },
        value: {
          text: statementText
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_STATEMENTS_URL,
            statementText,
            "change-beneficial-owner-statement-button"
          ) ]
        }
      }
    ]
}) }}
