{% import "includes/date-macros.html" as dateMacros %}

{% set inNoChangeJourney = pageParams.noChangeFlag %}
{% set inChangeJourney = not inNoChangeJourney %}

{% set bogStartDate = dateMacros.formatDate(bog.start_date["day"], bog.start_date["month"], bog.start_date["year"]) %}

{% set bogFormattedPrincipalAddressHtml %}
  {% if (bog.principal_address|length === 0 and inNoChangeJourney) %}
    <strong class="govuk-tag govuk-tag--blue">CANNOT BE DISPLAYED</strong>
  {% elif bog.principal_address %}
    {% set address = bog.principal_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set bogChangeServiceAddressHtml = "" %}
{% set bogFormattedServiceAddressHtml %}
  {% if bog.is_service_address_same_as_principal_address == 1 %}
    {% set bogChangeServiceAddressHtml = "#is_service_address_same_as_principal_address" %}
    The correspondence address is the same as the principal or registered office address
  {% else %}
    {% set bogChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = bog.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set bogBeneficialOwnerIndividualNOCs %}
  {% set boNOCTypesArray = bog.beneficial_owner_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-noc.html" %}
{% endset %}

{% if not FEATURE_FLAG_ENABLE_PROPERTY_OR_LAND_OWNER_NOC %}
  {% set bogBeneficialOwnerNonLegalFirmNOCs %}
    {% set boNOCNonLegalTypesArray = bog.non_legal_firm_members_nature_of_control_types %}
    {% include "includes/check-your-answers/nocs/beneficial-owner-member-of-firm-noc.html" %}
  {% endset %}
{% else %}
  {% set bogBeneficialOwnerTrustControlNOCs %}
    {% set boNOCTrustControlTypesArray = bog.trust_control_nature_of_control_types %}
    {% include "includes/check-your-answers/nocs/beneficial-owner-trust-control-noc.html" %}
  {% endset %}

  {% set bogBeneficialOwnerNonLegalFirmControlNOCs %}
    {% set boNOCNonLegalFirmControlTypesArray = bog.non_legal_firm_control_nature_of_control_types %}
    {% include "includes/check-your-answers/nocs/beneficial-owner-member-of-firm-control-noc.html" %}
  {% endset %}

  {% set bogOwnerOfLandPersonNOCs %}
    {% set boNOCOwnerOfLandPersonJurisdictionsArray = bog.owner_of_land_person_nature_of_control_jurisdictions %}
    {% include "includes/check-your-answers/nocs/beneficial-owner-owner-of-land-person-noc.html" %}
  {% endset %}

  {% set bogOwnerOfLandOtherEntityNOCs %}
    {% set boNOCOwnerOfLandOtherEntityJurisdictionsArray = bog.owner_of_land_other_entity_nature_of_control_jurisdictions %}
    {% include "includes/check-your-answers/nocs/beneficial-owner-owner-of-land-other-entity-noc.html" %}
  {% endset %}
{% endif %}

{% set bogIsOnSanctionsListHtml %}
  {% if bog.is_on_sanctions_list == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% if pageParams.isRegistration %}
  {% set changeLinkUrl = OE_CONFIGS.BENEFICIAL_OWNER_GOV_URL + "/" + bog.id %}
{% else %}
  {% if bog.ch_reference %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_REVIEW_BENEFICIAL_OWNER_GOV_URL + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + loop.index0 %}
  {% else %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_GOV_URL + "/" + bog.id %}
  {% endif %}

  {% if bog.ceased_date | length %}
    {% set bogCeasedDate = dateMacros.formatDate(bog.ceased_date["day"], bog.ceased_date["month"], bog.ceased_date["year"]) %}
    {% set isStillBeneficialOwner = { 
      key: { text: "Are they still a beneficial owner?" },
      value: { text: "No" },
      actions: {
        items: [CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.IS_CEASED,
          "Government or public authority beneficial owner " + bogFullName + " - are they still a beneficial owner?",
          "change-government-or-public-authority-still-beneficial-owner-button"
        )]
      } if inChangeJourney
    } %}
    {% set ceasedDate = {
      key: { text: "Ceased date" },
      value: { text: bogCeasedDate },
      actions: {
        items: [CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.CEASED_DATE,
          "Government or public authority beneficial owner " + bogFullName + " - ceased date",
          "change-government-or-public-authority-ceased-date-button"
        )]
      } if inChangeJourney
    } %}
  {% else %}
    {% set isStillBeneficialOwner = {
      key: { text: "Are they still a beneficial owner?" },
      value: { text: "Yes" },
      actions: {
        items: [CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.IS_CEASED,
          "Government or public authority beneficial owner " + bogFullName + " - are they still a beneficial owner?",
          "change-government-or-public-authority-still-beneficial-owner-button"
        )]
      } if inChangeJourney
    } %}
  {% endif %}
{% endif %}

<h3 class="govuk-heading-m">Government or public authority beneficial owner</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Example public authority"
        },
        value: {
          text: bog.name
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.NAME,
            "Government or public authority beneficial owner " + bog.name + " - name",
            "change-government-or-public-authority-beneficial-owner-name-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Principal or registered office address"
        },
        value: {
          html: bogFormattedPrincipalAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.CHANGE_PRINCIPAL_ADDRESS,
            "Government or public authority beneficial owner " + bog.name + " - principal or registered office address",
            "change-government-or-public-authority-beneficial-owner-principal-address-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: bogFormattedServiceAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + bogChangeServiceAddressHtml,
            "Government or public authority beneficial owner " + bog.name + " - correspondence address",
            "change-government-or-public-authority-beneficial-owner-correspondence-address-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Legal form"
        },
        value: {
          text: bog.legal_form
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.LEGAL_FORM,
            "Government or public authority beneficial owner " + bog.name + " - legal form",
            "change-government-or-public-authority-beneficial-owner-legal-form-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Governing law"
        },
        value: {
          html: bog.law_governed
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.LAW_GOVERNED,
            "Government or public authority beneficial owner " + bog.name + " - governing law",
            "change-government-or-public-authority-beneficial-owner-law-governed-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Date it became a beneficial owner"
        },
        value: {
          text: bogStartDate
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.START_DATE,
            "Government or public authority beneficial owner " + bog.name + " - date it became a beneficial owner",
            "change-government-or-public-authority-beneficial-owner-start-date-button"
          )]
        } if inChangeJourney and not hideChangeLinksForNonEditableFields
      },
      {
        key: {
          text: "Nature of control"
        },
        value: {
          html: bogBeneficialOwnerIndividualNOCs + bogBeneficialOwnerNonLegalFirmNOCs + bogBeneficialOwnerTrustControlNOCs + bogBeneficialOwnerNonLegalFirmControlNOCs + bogOwnerOfLandPersonNOCs + bogOwnerOfLandOtherEntityNOCs
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.NOC_TYPES,
            "Government or public authority beneficial owner " + bog.name + " - nature of control",
            "change-government-or-public-authority-beneficial-owner-nature-of-control-button"
          )]
        } if inChangeJourney
      },
      {
        key: {
          text: "Is it on the sanctions list?"
        },
        value: {
          html: bogIsOnSanctionsListHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + OE_CONFIGS.IS_ON_SANCTIONS_LIST,
            "Government or public authority beneficial owner " + bog.name + " - is it on the sanctions list?",
            "change-government-or-public-authority-beneficial-owner-sanctions-list-button"
          )]
        } if inChangeJourney
      },
      isStillBeneficialOwner,
      ceasedDate
    ]
}) }}