{% import "includes/date-macros.html" as dateMacros %}

{% set inNoChangeJourney = pageParams.noChangeFlag %}
{% set inChangeJourney = not inNoChangeJourney %}
{% set isRegistrationJourney = pageParams.isRegistration %}

{% set boiFullName = boi.first_name + " " + boi.last_name %}

{% set boiDateOfBirth %}
  {% if boi.date_of_birth %}
    {% if not isRegistrationJourney and not boi.have_day_of_birth %}
      {% set dob = dateMacros.formatMonthYearDate(boi.date_of_birth["month"] | string, boi.date_of_birth["year"]) %}
    {% else %}
      {% set dob = dateMacros.formatDate(boi.date_of_birth["day"], boi.date_of_birth["month"], boi.date_of_birth["year"]) %}
    {% endif %}
    {{ dob }}
  {% endif %}
{% endset %}

{% set boiStartDate = dateMacros.formatDate(boi.start_date["day"], boi.start_date["month"], boi.start_date["year"]) %}

{% set boiFormattedResidentialAddressHtml %}
  {% if not boi.usual_residential_address and inNoChangeJourney %}
      <strong class="govuk-tag govuk-tag--blue">CANNOT BE DISPLAYED</strong>
  {% elif boi.usual_residential_address %}
  {% set address = boi.usual_residential_address %}
  {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set boiChangeServiceAddressHtml = "" %}
{% set boiFormattedServiceAddressHtml %}
  {% if boi.is_service_address_same_as_usual_residential_address == 1 %}
    The correspondence address is the same as the home address
    {% set boiChangeServiceAddressHtml = "#is_service_address_same_as_usual_residential_address" %}
  {% else %}
    {% set boiChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = boi.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set boiBeneficialOwnerIndividualNOCs %}
  {% set boNOCTypesArray = boi.beneficial_owner_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-noc.html" %}
{% endset %}

{% set boiBeneficialOwnerTrusteeNOCs %}
  {% set boNOCTrusteesTypesArray = boi.trustees_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-trustee-of-trust-noc.html" %}
{% endset %}

{% set boiBeneficialOwnerNonLegalFirmNOCs %}
  {% set boNOCNonLegalTypesArray = boi.non_legal_firm_members_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-member-of-firm-noc.html" %}
{% endset %}

{% set boiIsOnSanctionsListHtml %}
  {% if boi.is_on_sanctions_list == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% if pageParams.isRegistration %}
  {% set changeLinkUrl = OE_CONFIGS.BENEFICIAL_OWNER_INDIVIDUAL_URL + "/" + boi.id %}
{% else %}
  {% if boi.ch_reference %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_REVIEW_BENEFICIAL_OWNER_INDIVIDUAL_URL + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + loop.index0 %}
  {% else %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_INDIVIDUAL_URL + "/" + boi.id %}
  {% endif %}
{% endif %}

{# Build and add each govukSummaryList row separately so that some rows can be optional #}
{% set rows=[] %}

{% set rows = (rows.push({
  key: {
    text: "First name"
  },
  value: {
    text: boi.first_name
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.FIRST_NAME,
      "Individual beneficial owner " + boiFullName + " - first name",
      "change-individual-beneficial-owner-first-name-button"
   )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Last name"
  },
  value: {
    text: boi.last_name
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.LAST_NAME,
      "Individual beneficial owner " + boiFullName + " - last name",
      "change-individual-beneficial-owner-last-name-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Date of birth" if inChangeJourney else "Born"
  },
  value: {
    text: boiDateOfBirth
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.DATE_OF_BIRTH,
      "Individual beneficial owner " + boiFullName + " - date of birth",
      "change-individual-beneficial-owner-date-of-birth-name-button"
    )]
  } if inChangeJourney and not hideChangeLinksForNonEditableFields
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Nationality"
  },
  value: {
    text: boi.nationality
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.NATIONALITY,
      "Individual beneficial owner " + boiFullName + " - nationality",
      "change-individual-beneficial-owner-nationality-button"
    )]
  } if inChangeJourney
}), rows) %}

{% if boi.second_nationality %}
  {% set rows = (rows.push({
    key: {
      text: "Second nationality"
    },
    value: {
     text: boi.second_nationality
    },
    actions: {
      items: [CREATE_CHANGE_LINK(
        changeLinkUrl + OE_CONFIGS.SECOND_NATIONALITY,
        "Individual beneficial owner " + boiFullName + " - second_nationality",
        "change-individual-beneficial-owner-second-nationality-button"
      )]
    } if inChangeJourney
  }), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Home address"
  },
  value: {
      html: boiFormattedResidentialAddressHtml
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.CHANGE_RESIDENTIAL_ADDRESS,
      "Individual beneficial owner " + boiFullName + " - home address",
      "change-individual-beneficial-owner-residential-address-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Correspondence address"
  },
  value: {
    html: boiFormattedServiceAddressHtml
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + boiChangeServiceAddressHtml,
      "Individual beneficial owner " + boiFullName + " - correspondence address",
      "change-individual-beneficial-owner-correspondence-address-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Date they became a beneficial owner"
  },
  value: {
   text: boiStartDate
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.START_DATE,
      "Individual beneficial owner " + boiFullName + " - date they became a beneficial owner",
      "change-individual-beneficial-owner-start-date-button"
    )]
  } if inChangeJourney and not hideChangeLinksForNonEditableFields
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Nature of control"
  },
  value: {
   html: boiBeneficialOwnerIndividualNOCs + boiBeneficialOwnerTrusteeNOCs + boiBeneficialOwnerNonLegalFirmNOCs
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.NOC_TYPES,
      "Individual beneficial owner " + boiFullName + " - nature of control",
      "change-individual-beneficial-owner-nature-of-control-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Are they on the sanctions list?" if inChangeJourney else "Are they on the UK sanctions list?"
  },
  value: {
    html: boiIsOnSanctionsListHtml
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.IS_ON_SANCTIONS_LIST,
      "Individual beneficial owner " + boiFullName + " - are they on the sanctions list?",
      "change-individual-beneficial-owner-sanctions-list-button"
    )]
  } if inChangeJourney
}), rows) %}

{% if pageParams.isRegistration == false %}
  {% if boi.ceased_date | length %}
    {% set rows = (rows.push({
      key: {
        text: "Are they still a beneficial owner?"
      },
      value: {
        text: "No"
      },
      actions: {
        items: [CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.IS_CEASED,
          "Individual beneficial owner " + boiFullName + " - are they still a beneficial owner?",
          "change-individual-beneficial-owner-still-beneficial-owner-button"
        )]
      } if inChangeJourney
    }), rows) %}

    {% set boiCeasedDate = dateMacros.formatDate(boi.ceased_date["day"], boi.ceased_date["month"], boi.ceased_date["year"]) %}

    {% set rows = (rows.push({
      key: {
        text: "Ceased date"
      },
      value: {
        html: boiCeasedDate
      },
      actions: {
        items: [CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.IS_CEASED,
          "Individual beneficial owner " + boiFullName + " - ceased date",
          "change-individual-beneficial-owner-ceased-date-button"
        )]
      } if inChangeJourney
    }), rows) %}
  {% else %}
    {% set rows = (rows.push({
      key: {
        text: "Are they still a beneficial owner?"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.IS_CEASED,
          "Individual beneficial owner " + boiFullName + " - are they still a beneficial owner?",
          "change-individual-beneficial-owner-ceased-date-button"
        )]
      } if inChangeJourney
    }), rows) %}
  {% endif %}
{% endif %}

<h3 class="govuk-heading-m">Individual beneficial owner</h3>

{{ govukSummaryList({
  rows: rows
}) }}
