{% import "includes/date-macros.html" as dateMacros %}

{% set bogStartDate = dateMacros.formatDate(bog.start_date["day"], bog.start_date["month"], bog.start_date["year"]) %}

{% set bogFormattedPrincipalAddressHtml %}
  {% set address = bog.principal_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set bogChangeServiceAddressHtml = "" %}
{% set bogFormattedServiceAddressHtml %}
  {% if bog.is_service_address_same_as_principal_address == 1 %}
    {% set bogChangeServiceAddressHtml = "#is_service_address_same_as_principal_address" %}
    The correspondence address is the same as the principal or registered office address
  {% else %}
    {% set bogChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = bog.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set bogBeneficialOwnerIndividualNOCs %}
  {% set boNOCTypesArray = bog.beneficial_owner_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-noc.html" %}
{% endset %}

{% set bogBeneficialOwnerNonLegalFirmNOCs %}
  {% set boNOCNonLegalTypesArray = bog.non_legal_firm_members_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-member-of-firm-noc.html" %}
{% endset %}

{% set bogIsOnSanctionsListHtml %}
  {% if bog.is_on_sanctions_list == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% if pageParams.isRegistration %}
  {% set changeLinkUrl = OE_CONFIGS.BENEFICIAL_OWNER_GOV_URL %}
{% else %}
  {% set changeLinkUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_GOV_URL %}
{% endif %}
<h3 class="govuk-heading-m">Government or public authority beneficial owner</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Example public authority"
        },
        value: {
          text: bog.name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + OE_CONFIGS.NAME,
            "Government or public authority beneficial owner " + bog.name + " - name",
            "change-government-or-public-authority-beneficial-owner-name-button"
          ) ]
        }
      },
      {
        key: {
          text: "Principal or registered office address"
        },
        value: {
          html: bogFormattedPrincipalAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + OE_CONFIGS.CHANGE_PRINCIPAL_ADDRESS,
            "Government or public authority beneficial owner " + bog.name + " - principal or registered office address",
            "change-government-or-public-authority-beneficial-owner-principal-address-button"
          ) ]
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: bogFormattedServiceAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + bogChangeServiceAddressHtml,
            "Government or public authority beneficial owner " + bog.name + " - correspondence address",
            "change-government-or-public-authority-beneficial-owner-correspondence-address-button"
          ) ]
        }
      },
      {
        key: {
          text: "Legal form"
        },
        value: {
          text: bog.legal_form
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + OE_CONFIGS.LEGAL_FORM,
            "Government or public authority beneficial owner " + bog.name + " - legal form",
            "change-government-or-public-authority-beneficial-owner-legal-form-button"
          ) ]
        }
      },
      {
        key: {
          text: "Governing law"
        },
        value: {
          html: bog.law_governed
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + OE_CONFIGS.LAW_GOVERNED,
            "Government or public authority beneficial owner " + bog.name + " - governing law",
            "change-government-or-public-authority-beneficial-owner-law-governed-button"
          ) ]
        }
      },
      {
        key: {
          text: "Date it became a beneficial owner"
        },
        value: {
          text: bogStartDate
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + OE_CONFIGS.START_DATE,
            "Government or public authority beneficial owner " + bog.name + " - date it became a beneficial owner",
            "change-government-or-public-authority-beneficial-owner-start-date-button"
          ) ]
        }
      },
      {
        key: {
          text: "Nature of control"
        },
        value: {
          html: bogBeneficialOwnerIndividualNOCs + bogBeneficialOwnerNonLegalFirmNOCs
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + OE_CONFIGS.NOC_TYPES,
            "Government or public authority beneficial owner " + bog.name + " - nature of control",
            "change-government-or-public-authority-beneficial-owner-nature-of-control-button"
          ) ]
        }
      },
      {
        key: {
          text: "Is it on the sanctions list?"
        },
        value: {
          html: bogIsOnSanctionsListHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + bog.id + OE_CONFIGS.IS_ON_SANCTIONS_LIST,
            "Government or public authority beneficial owner " + bog.name + " - is it on the sanctions list?",
            "change-government-or-public-authority-beneficial-owner-sanctions-list-button"
          ) ]
        }
      }
    ]
}) }}
