{% import "includes/date-macros.html" as dateMacros %}

{% set bocStartDate = dateMacros.formatDate(boc.start_date["day"], boc.start_date["month"], boc.start_date["year"]) %}

{% set bocFormattedPrincipalAddressHtml %}
  {% set address = boc.principal_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set bocChangeServiceAddressHtml = "" %}
{% set bocFormattedServiceAddressHtml %}
  {% if boc.is_service_address_same_as_principal_address == 1 %}
    The correspondence address is the same as the principal or registered office address
    {% set bocChangeServiceAddressHtml = "#is_service_address_same_as_principal_address" %}
  {% else %}
    {% set bocChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = boc.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set bocChangePublicRegister = "" %}
{% set bocFormattedPublicRegister %}
  {% if boc.is_on_register_in_country_formed_in == 1 %}
    {% set bocChangePublicRegister = "#public_register_name" %}
    {{ boc.public_register_name }} / {{ boc.registration_number }}
  {% else %}
    {% set bocChangePublicRegister = "#is_on_register_in_country_formed_in" %}
    No
  {% endif %}
{% endset %}

{% set bocBeneficialOwnerIndividualNOCs %}
  {% set boNOCTypesArray = boc.beneficial_owner_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-noc.html" %}
{% endset %}

{% set bocBeneficialOwnerTrusteeNOCs %}
  {% set boNOCTrusteesTypesArray = boc.trustees_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-trustee-of-trust-noc.html" %}
{% endset %}

{% set bocBeneficialOwnerNonLegalFirmNOCs %}
  {% set boNOCNonLegalTypesArray = boc.non_legal_firm_members_nature_of_control_types %}
  {% include "includes/check-your-answers/nocs/beneficial-owner-member-of-firm-noc.html" %}
{% endset %}

{% set bocIsOnSanctionsListHtml %}
  {% if boc.is_on_sanctions_list == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

<h3 class="govuk-heading-m">Corporate beneficial owner</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: boc.name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + OE_CONFIGS.NAME,
            "Corporate beneficial owner " + boc.name + " - name"
          ) ]
        }
      },
      {
        key: {
          text: "Principal or registered office address"
        },
        value: {
          html: bocFormattedPrincipalAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + OE_CONFIGS.CHANGE_PRINCIPAL_ADDRESS,
            "Corporate beneficial owner " + boc.name + " - principal or registered office address"
          ) ]
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: bocFormattedServiceAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + bocChangeServiceAddressHtml,
            "Corporate beneficial owner " + boc.name + " - correspondence address"
          ) ]
        }
      },
      {
        key: {
          text: "Legal form"
        },
        value: {
          text: boc.legal_form
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + OE_CONFIGS.LEGAL_FORM,
            "Corporate beneficial owner " + boc.name + " - legal form"
          ) ]
        }
      },
      {
        key: {
          text: "Governing law"
        },
        value: {
          html: boc.law_governed
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + OE_CONFIGS.LAW_GOVERNED,
            "Corporate beneficial owner " + boc.name + " - governing law"
          ) ]
        }
      },
      {
        key: {
          text: "On a public register in the country it was formed in"
        },
        value: {
          html: bocFormattedPublicRegister
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + bocChangePublicRegister,
            "Corporate beneficial owner " + boc.name + " - public register"
          ) ]
        }
      },
      {
        key: {
          text: "Date it became a beneficial owner"
        },
        value: {
          text: bocStartDate
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + OE_CONFIGS.START_DATE,
            "Corporate beneficial owner " + boc.name + " - date it became a beneficial owner"
          ) ]
        }
      },
      {
        key: {
          text: "Nature of control"
        },
        value: {
          html: bocBeneficialOwnerIndividualNOCs + bocBeneficialOwnerTrusteeNOCs + bocBeneficialOwnerNonLegalFirmNOCs
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + OE_CONFIGS.NOC_TYPES,
            "Corporate beneficial owner " + boc.name + " - nature of control"
          ) ]
        }
      },
      {
        key: {
          text: "Is it on the sanctions list?"
        },
        value: {
          html: bocIsOnSanctionsListHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.BENEFICIAL_OWNER_OTHER_URL + "/" + boc.id + OE_CONFIGS.IS_ON_SANCTIONS_LIST,
            "Corporate beneficial owner " + boc.name + " - is it on the sanctions list?"
          ) ]
        }
      }
    ]
}) }}
  