{% import "includes/date-macros.html" as dateMacros %}

{% set inNoChangeJourney = pageParams.noChangeFlag %}

{% if formerTrustee.corporate_name %}
  {% set formerTrusteeName = formerTrustee.corporate_name %}
  {% set formerTrusteeChangeName = OE_CONFIGS.CORPORATE_NAME %}
{% else %}
  {% set formerTrusteeName = formerTrustee.forename + " " + formerTrustee.surname %}
  {% set formerTrusteeChangeName = OE_CONFIGS.INDIVIDUAL_NAME %}
{% endif %}

{% set formerTrusteeStartDate = dateMacros.formatDate(formerTrustee.notified_date_day, formerTrustee.notified_date_month, formerTrustee.notified_date_year) %}
{% set formerTrusteeEndDate = dateMacros.formatDate(formerTrustee.ceased_date_day, formerTrustee.ceased_date_month, formerTrustee.ceased_date_year) %}


{% if pageParams.isRegistration %}
  {% set changeLinkUrl = OE_CONFIGS.TRUSTS_URL + "/" + trust.trust_id + "/" + OE_CONFIGS.TRUST_HISTORICAL_BENEFICIAL_OWNER_PAGE + "/" + formerTrustee.id %}
{% else %}
  {% if manageTrusts %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_ORCHESTRATOR_CHANGE_HANDLER_URL +  "/" + trust.trust_id + "/historical/" + formerTrustee.id %}
  {% else %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_TRUSTS_INDIVIDUALS_OR_ENTITIES_INVOLVED_URL +  "/" + trust.trust_id + "/" + OE_CONFIGS.TRUST_HISTORICAL_BENEFICIAL_OWNER_PAGE + "/" + formerTrustee.id %}
  {% endif %}
{% endif %}


{# Build and add each govukSummaryList row separately so that some rows can be optional #}
{% set rows=[] %}

{% set rows = (rows.push({
  key: {
    text: "Former beneficial owner's name"
  },
  value: {
    text: formerTrusteeName
  },
    actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + formerTrusteeChangeName,
      "Former Trustee" + formerTrustee.name + " - name",
      "change-former-trustee-name-button"
   ) ]
  } if not inNoChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Date they became a beneficial owner"
  },
  value: {
    text: formerTrusteeStartDate
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.TRUSTEE_START_DATE,
      "Former Trustee" + formerTrustee.name + " - name",
      "change-former-trustee-start-date-link"
   ) ]
  } if not inNoChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Date they stopped being a beneficial owner"
  },
  value: {
    text: formerTrusteeEndDate
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.TRUSTEE_END_DATE,
      "Former Trustee" + formerTrustee.name + " - name",
      "change-former-trustee-end-date-link"
   ) ]
  } if not inNoChangeJourney
}), rows) %}

<h3 class="govuk-heading-m">Former beneficial owner for {{trust.trust_name}}</h3>

{{ govukSummaryList({
  rows: rows
}) }}
