{% import "includes/date-macros.html" as dateMacros %}

{% set formattedIdentityAddressHtml %}
  {% set address = appData.due_diligence.identity_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set checkDate = dateMacros.formatDate(appData.due_diligence.identity_date["day"], appData.due_diligence.identity_date["month"], appData.due_diligence.identity_date["year"]) %}

<h3 class="govuk-heading-l">Identity checks</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
        text: "Who is completing this registration"
      },
        value: {
          text: appData.entity.name
        }
      },
      {
        key: {
         text: "Date the identity checks were completed"
        },
        value: {
           html: checkDate
        }
      },
      {
        key: {
            text: "Name of agent"
          },
          value: {
            text: appData.due_diligence.name
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: formattedIdentityAddressHtml
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: appData.due_diligence.email
        }
      },
      {
        key: {
          text: "Name of supervisory body"
        },
        value: {
          text: appData.due_diligence.supervisory_name
        }
      },
      {
        key: {
          text: "Anti Money Laundering(AML) registration number"
        },
        value: {
          text: appData.due_diligence.aml_number
        }
      },
      {
        key: {
          text: "Agent assurance code"
        },
        value: {
          text: appData.due_diligence.agent_code
        }
      },
      {
        key: {
          text: "Person responsible for overseeing identity checks"
        },
        value: {
          text: appData.due_diligence.partner_name
        }
      }
    ]
}) }}
