{% import "includes/date-macros.html" as dateMacros %}

{% if ( appData.due_diligence and appData.due_diligence | length ) %}
  {% set dueDiligence = appData.due_diligence %}
  {% set agentCode = {
    key: {
      text: "Agent assurance code"
    },
    value: {
      text: appData.due_diligence.agent_code
    },
    actions: {
      items: [ CREATE_CHANGE_LINK(
        OE_CONFIGS.DUE_DILIGENCE_CHANGE_AGENT_CODE,
        "Agent’s authentication code"
      ) ]
    }
  } %}
{% else %}
  {% set dueDiligence = appData.overseas_entity_due_diligence %}
  {% set agentCode = "" %}
{% endif %}

{% set formattedIdentityAddressHtml %}
  {% set address = dueDiligence.identity_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set checkDate = dateMacros.formatDate(dueDiligence.identity_date["day"], dueDiligence.identity_date["month"], dueDiligence.identity_date["year"]) %}

{% set whoIsCompletingTheRegistration %}
  {% if appData.who_is_registering == "agent" %}
    The UK agent
  {% else %}
    Someone from the overseas entity
  {% endif %}
{% endset %}

{% set dateChangeLink %}
  {% if appData.who_is_registering == "agent" %}
    {{ OE_CONFIGS.DUE_DILIGENCE_CHANGE_IDENTITY_DATE }}
  {% else %}
    {{ OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_DATE }}
  {% endif %}
{% endset %}

{% set nameChangeLink %}
  {% if appData.who_is_registering == "agent" %}
    {{ OE_CONFIGS.DUE_DILIGENCE_CHANGE_NAME }}
  {% else %}
    {{ OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_NAME }}
  {% endif %}
{% endset %}

{% set addressChangeLink %}
  {% if appData.who_is_registering == "agent" %}
    {{ OE_CONFIGS.DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS }}
  {% else %}
    {{ OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS }}
  {% endif %}
{% endset %}

{% set emailChangeLink %}
  {% if appData.who_is_registering == "agent" %}
    {{ OE_CONFIGS.DUE_DILIGENCE_CHANGE_EMAIL }}
  {% else %}
    {{ OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_EMAIL }}
  {% endif %}
{% endset %}

{% set supervisoryChangeLink %}
  {% if appData.who_is_registering == "agent" %}
    {{ OE_CONFIGS.DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME }}
  {% else %}
    {{ OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME }}
  {% endif %}
{% endset %}

{% set amlChangeLink %}
  {% if appData.who_is_registering == "agent" %}
    {{ OE_CONFIGS.DUE_DILIGENCE_CHANGE_AML_NUMBER }}
  {% else %}
    {{ OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_AML_NUMBER }}
  {% endif %}
{% endset %}

{% set partnerChangeLink %}
  {% if appData.who_is_registering == "agent" %}
    {{ OE_CONFIGS.DUE_DILIGENCE_CHANGE_PARTNER_NAME }}
  {% else %}
    {{ OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_PARTNER_NAME }}
  {% endif %}
{% endset %}


<h3 class="govuk-heading-l">Identity checks</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
        text: "Who is completing this registration"
        },
        value: {
          text: whoIsCompletingTheRegistration
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.DUE_DILIGENCE_CHANGE_WHO,
            "Who is completing this registration"
          ) ]
        }
      },
      {
        key: {
         text: "Date the identity checks were completed"
        },
        value: {
           html: checkDate
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            dateChangeLink,
            "Date the identity checks were completed"
          ) ]
        }
      },
      {
        key: {
            text: "Name of agent"
          },
          value: {
            text: dueDiligence.name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            nameChangeLink,
            "Name of agent"
          ) ]
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: formattedIdentityAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            addressChangeLink,
            "Address of agent"
          ) ]
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: dueDiligence.email
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            emailChangeLink,
            "Email address of agent"
          ) ]
        }
      },
      {
        key: {
          text: "Name of supervisory body"
        },
        value: {
          text: dueDiligence.supervisory_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            supervisoryChangeLink,
            "Name of the supervisory body"
          ) ]
        }
      },
      {
        key: {
          text: "Anti Money Laundering(AML) registration number"
        },
        value: {
          text: dueDiligence.aml_number
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            amlChangeLink,
            "Anti Money Laundering (AML) registration number of the agent"
          ) ]
        }
      },
      agentCode,
      {
        key: {
          text: "Person responsible for overseeing identity checks"
        },
        value: {
          text: dueDiligence.partner_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            partnerChangeLink,
            "Name of partner"
          ) ]
        }
      }
    ]
}) }}
