{% import "includes/date-macros.html" as dateMacros %}

{% if ( appData.due_diligence and appData.due_diligence | length ) %}
  {% set dueDiligence = appData.due_diligence %}
  {% set agentCode = {
    key: {
      text: "Agent assurance code"
    },
    value: {
      text: appData.due_diligence.agent_code
    }
  } %}
{% else %}
  {% set dueDiligence = appData.overseas_entity_due_diligence %}
  {% set agentCode = "" %}
{% endif %}

{% set formattedIdentityAddressHtml %}
  {% set address = dueDiligence.identity_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set checkDate = dateMacros.formatDate(dueDiligence.identity_date["day"], dueDiligence.identity_date["month"], dueDiligence.identity_date["year"]) %}

<h3 class="govuk-heading-l">Identity checks</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
        text: "Who is completing this registration"
      },
        value: {
          text: appData.entity.name
        }
      },
      {
        key: {
         text: "Date the identity checks were completed"
        },
        value: {
           html: checkDate
        }
      },
      {
        key: {
            text: "Name of agent"
          },
          value: {
            text: dueDiligence.name
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: formattedIdentityAddressHtml
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: dueDiligence.email
        }
      },
      {
        key: {
          text: "Name of supervisory body"
        },
        value: {
          text: dueDiligence.supervisory_name
        }
      },
      {
        key: {
          text: "Anti Money Laundering(AML) registration number"
        },
        value: {
          text: dueDiligence.aml_number
        }
      },
      agentCode,
      {
        key: {
          text: "Person responsible for overseeing identity checks"
        },
        value: {
          text: dueDiligence.partner_name
        }
      }
    ]
}) }}
