{% import "includes/date-macros.html" as dateMacros %}

{% set inNoChangeJourney = pageParams.noChangeFlag %}

{% set individualTrusteeFullName = individualTrustee.forename + " " + individualTrustee.surname %}

{% set individualTrusteeDateOfBirth = dateMacros.formatDate(individualTrustee.dob_day, individualTrustee.dob_month, individualTrustee.dob_year) %}

{% set interestedPersonDate = dateMacros.formatDate(individualTrustee.date_became_interested_person_day, individualTrustee.date_became_interested_person_month, individualTrustee.date_became_interested_person_year) %}

{% set individualTrusteeFormattedResidentialAddressHtml %}
   {% set address = {
      property_name_number: individualTrustee.ura_address_premises,
      line_1: individualTrustee.ura_address_line_1,
      line_2: individualTrustee.ura_address_line_2,
      town: individualTrustee.ura_address_locality,
      county: individualTrustee.ura_address_region,
      country: individualTrustee.ura_address_country,
      postcode: individualTrustee.ura_address_postal_code
    } %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set individualTrusteeChangeServiceAddressHtml = "" %}
{% set individualTrusteeFormattedServiceAddressHtml %}
  {% if individualTrustee.is_service_address_same_as_usual_residential_address == '1' %}
    The correspondence address is the same as the home address
    {% set individualTrusteeChangeServiceAddressHtml = OE_CONFIGS.IS_SERVICE_ADDRESS_SAME_AS_USUAL_RESIDENTIAL_ADDRESS %}
  {% else %}
    {% set individualTrusteeChangeServiceAddressHtml = OE_CONFIGS.CHANGE_SERVICE_ADDRESS %}
    {% set address = {
      property_name_number: individualTrustee.sa_address_premises,
      line_1: individualTrustee.sa_address_line_1,
      line_2: individualTrustee.sa_address_line_2,
      town: individualTrustee.sa_address_locality,
      county: individualTrustee.sa_address_region,
      country: individualTrustee.sa_address_country,
      postcode: individualTrustee.sa_address_postal_code
    } %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% if pageParams.isRegistration %}
  {% set changeLinkUrl = OE_CONFIGS.TRUSTS_URL +  "/" + trust.trust_id + "/" + OE_CONFIGS.TRUST_INDIVIDUAL_BENEFICIAL_OWNER_PAGE + "/" + individualTrustee.id %}
{% else %}
  {% set stillInvolved =  individualTrustee.still_involved %}
  {% set isNotStillInvolved = ndividualTrustee.still_involved === "No" %}    
  {% set trusteeCeasedDate = dateMacros.formatDate(individualTrustee.ceased_date_day, individualTrustee.ceased_date_month, individualTrustee.ceased_date_year) %}
  {% if manageTrusts %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_ORCHESTRATOR_CHANGE_HANDLER_URL +  "/" + trust.trust_id + "/individual/" + individualTrustee.id %}
  {% else %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_TRUSTS_INDIVIDUALS_OR_ENTITIES_INVOLVED_URL +  "/" + trust.trust_id + "/" + OE_CONFIGS.TRUST_INDIVIDUAL_BENEFICIAL_OWNER_PAGE + "/" + individualTrustee.id %}
  {% endif %}
{% endif %}


{# Build and add each govukSummaryList row separately so that some rows can be optional #}
{% set rows=[] %}

{% set rows = (rows.push({
  key: {
    text: "First name"
  },
  value: {
    text: individualTrustee.forename
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.FORENAME,
      "Individual beneficial owner " + individualTrusteeFullName + " - first name",
      "change-individual-beneficial-owner-first-name-button"
   ) ]
  } if not inNoChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Last name"
  },
  value: {
    text: individualTrustee.surname
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.SURNAME,
      "Individual beneficial owner " + individualTrusteeFullName + " - last name",
      "change-individual-beneficial-owner-last-name-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Date of birth"
  },
  value: {
    text: individualTrusteeDateOfBirth
  },
  actions: {
  items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.TRUST_DATE_OF_BIRTH,
      "Individual beneficial owner " + individualTrusteeFullName + " - date of birth",
      "change-individual-beneficial-owner-date-of-birth-name-button"
    ) ]
  } if not inNoChangeJourney and not individualTrustee.ch_references
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Role within the trust"
  },
  value: {
    text: individualTrustee.type
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.ROLE_WITHIN_TRUST,
      "Individual beneficial owner " + individualTrusteeFullName + " - type",
      "change-individual-beneficial-owner-type-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% if individualTrustee.type ==  roleTypes.INTERESTED_PERSON %}
  {% set rows = (rows.push({
    key: {
      text: "Date " + individualTrusteeFullName + " became an interested person"
    },
    value: {
      text: interestedPersonDate
    },
    actions: {
    items: [ CREATE_CHANGE_LINK(
        changeLinkUrl + OE_CONFIGS.INTERESTED_PERSON_START_DATE,
        "Individual beneficial owner " + individualTrusteeFullName + " - date of birth",
        "change-individual-beneficial-owner-date-of-birth-name-button"
      ) ]
    } if not inNoChangeJourney
  }), rows) %}
{% endif %}


{% set rows = (rows.push({
  key: {
    text: "Nationality"
  },
  value: {
    text: individualTrustee.nationality
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.NATIONALITY,
      "Individual beneficial owner " + individualTrusteeFullName + " - nationality",
      "change-individual-beneficial-owner-nationality-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% if individualTrustee.second_nationality %}
  {% set rows = (rows.push({
    key: {
      text: "Second nationality"
    },
    value: {
     text: individualTrustee.second_nationality
    },
    actions: {
    items: [ CREATE_CHANGE_LINK(
        changeLinkUrl + OE_CONFIGS.SECOND_NATIONALITY,
        "Individual beneficial owner " + individualTrusteeFullName + " - second_nationality",
        "change-individual-beneficial-owner-second-nationality-button"
      ) ]
    } if not inNoChangeJourney
  }), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Home address"
  },
  value: {
      html: individualTrusteeFormattedResidentialAddressHtml
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.CHANGE_RESIDENTIAL_ADDRESS,
      "Individual beneficial owner " + individualTrusteeFullName + " - home address",
      "change-individual-beneficial-owner-residential-address-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% if individualTrusteeFormattedServiceAddressHtml.length %}
  {% set rows = (rows.push({
    key: {
      text: "Correspondence address"
    },
    value: {
      html: individualTrusteeFormattedServiceAddressHtml
    },
    actions: {
      items: [ CREATE_CHANGE_LINK(
        changeLinkUrl + individualTrusteeChangeServiceAddressHtml,
        "Individual beneficial owner " + individualTrusteeFullName + " - correspondence address",
        "change-individual-beneficial-owner-correspondence-address-button"
      ) ]
    } if not inNoChangeJourney
  }), rows) %}
{% endif %}

{% if not pageParams.isRegistration %}
  {% set rows = (rows.push({
    {
      key: {
        text: "Are they still involved in the trust?"
      },
      value: {
        text: stillInvolved
      },
      actions: {
        items: [ CREATE_CHANGE_LINK(
          changeLinkUrl + "/" + trust.trust_id + OE_CONFIGS.TRUSTEE_STILL_INVOLVED,
          "Individual beneficial owner " + individualTrusteeFullName + " -  Still Involved",
          "change-trustee-still-involved"
        ) ]
      }
    },
    {
      key: {
        text: "Date the trust stopped being associated to the overseas entity"
      },
      value: {
        text: trusteeCeasedDate
      },
      actions: {
        items: [ CREATE_CHANGE_LINK(
          changeLinkUrl + "/" + OE_CONFIGS.TRUSTEE_STILL_INVOLVED,
          "Individual beneficial owner " + individualTrusteeFullName + " -  Ceased date",
          "change-trustee-still-involved"
        ) ]
      } 
    } if isNotStillInvolved
  }), rows) %}
{% endif %}


<h3 class="govuk-heading-m">Individual for {{trust.trust_name}}</h3>

{{ govukSummaryList({
  rows: rows
}) }}
