{% import "includes/date-macros.html" as dateMacros %}

{% set inNoChangeJourney = pageParams.noChangeFlag %}

{% set legalEntityDateOfBirth = dateMacros.formatDate(legalEntity.dateOfBirthDay, legalEntity.dateOfBirthMonth, legalEntity.dateOfBirthYear) %}

{% set interestedPersonDate = dateMacros.formatDate(legalEntity.date_became_interested_person_day, legalEntity.date_became_interested_person_month, legalEntity.date_became_interested_person_year) %}

{% set legalEntityFormattedResidentialAddressHtml %}
   {% set address = {
      property_name_number: legalEntity.ro_address_premises,
      line_1: legalEntity.ro_address_line_1,
      line_2: legalEntity.ro_address_line_2,
      town: legalEntity.ro_address_locality,
      county: legalEntity.ro_address_region,
      country: legalEntity.ro_address_country,
      postcode: legalEntity.ro_address_postal_code
    } %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set legalEntityChangeServiceAddressHtml = "" %}
{% set legalEntityFormattedServiceAddressHtml %}
  {% if legalEntity.is_service_address_same_as_principal_address == '1' %}
    The correspondence address is the same as the entity’s principal or registered office address
    {% set legalEntityChangeServiceAddressHtml = OE_CONFIGS.IS_SERVICE_ADDRESS_SAME_AS_PRINCIPAL_ADDRESS %}
  {% else %}
    {% set legalEntityChangeServiceAddressHtml = OE_CONFIGS.CHANGE_SERVICE_ADDRESS %}
    {% set address = {
      property_name_number: legalEntity.sa_address_premises,
      line_1: legalEntity.sa_address_line_1,
      line_2: legalEntity.sa_address_line_2,
      town: legalEntity.sa_address_locality,
      county: legalEntity.sa_address_region,
      country: legalEntity.sa_address_country,
      postcode: legalEntity.sa_address_postal_code
    } %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set formattedPublicRegister %}
  {% if legalEntity.is_on_register_in_country_formed_in == '1' %}
     {% set legalEntityChangePublicRegisterName = OE_CONFIGS.PUBLIC_REGISTER_NAME %}
     {% set legalEntityChangePublicRegisterJurisdiction = OE_CONFIGS.PUBLIC_REGISTER_JURISDICTION %}
     {{ legalEntity.identification_place_registered | safe}} / {{ legalEntity.identification_registration_number | safe }}
  {% else %}
     {% set legalEntityChangePublicRegisterName = OE_CONFIGS.IS_ON_REGISTER_IN_COUNTRY_FORMED_IN %}
     {% set legalEntityChangePublicRegisterJurisdiction = OE_CONFIGS.IS_ON_REGISTER_IN_COUNTRY_FORMED_IN %}
    No
  {% endif %}
{% endset %}

{% if pageParams.isRegistration %}
  {% if not IS_REDIS_REMOVAL_ENABLED %}
    {% set changeLinkUrl = OE_CONFIGS.TRUSTS_URL +  "/" + trust.trust_id + "/" + OE_CONFIGS.TRUST_LEGAL_ENTITY_BENEFICIAL_OWNER_PAGE + "/" + legalEntity.id %}
  {% else %}
    {% set changeLinkUrl = CREATE_CHANGE_LINK_WITH_IDs(OE_CONFIGS.TRUST_ENTRY_WITH_PARAMS_URL, OE_TRANSACTION_ID, OE_SUBMISSION_ID) +  "/" + trust.trust_id + "/" + OE_CONFIGS.TRUST_LEGAL_ENTITY_BENEFICIAL_OWNER_PAGE + "/" + legalEntity.id %}
  {% endif %}
{% else %}
  {% set stillInvolved = legalEntity.still_involved %}
  {% set isNotStillInvolved = stillInvolved === "No" %}    
  {% set trusteeCeasedDate = dateMacros.formatDate(legalEntity.ceased_date_day, legalEntity.ceased_date_month, legalEntity.ceased_date_year) %}
  {% if manageTrusts %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_ORCHESTRATOR_CHANGE_HANDLER_URL + "/" + trust.trust_id + "/legalEntity/" + legalEntity.id %}
  {% else %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_TRUSTS_INDIVIDUALS_OR_ENTITIES_INVOLVED_URL +  "/" + trust.trust_id + "/" + OE_CONFIGS.TRUST_LEGAL_ENTITY_BENEFICIAL_OWNER_PAGE + "/" + legalEntity.id %}
  {% endif %}
{% endif %}

{# Build and add each govukSummaryList row separately so that some rows can be optional #}
{% set rows=[] %}

{% set rows = (rows.push({
  key: {
    text: "Name"
  },
  value: {
    text: legalEntity.name
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.LEGAL_ENTITY_NAME,
      "Legal entity " + legalEntity.name + " - name",
      "change-legal-entity-name-button"
   ) ]
  } if not inNoChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Role within the trust"
  },
  value: {
    text: legalEntity.type
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.ROLE_WITHIN_TRUST,
      "Legal entity " + legalEntity.name + " - type",
      "change-legal-entity-type-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% if legalEntity.type ==  roleTypes.INTERESTED_PERSON %}
  {% set rows = (rows.push({
    key: {
      text: "Date " + legalEntity.name + " became an interested person"
    },
    value: {
      text: interestedPersonDate
    },
    actions: {
    items: [ CREATE_CHANGE_LINK(
        changeLinkUrl + OE_CONFIGS.LEGAL_INTERESTED_PERSON_START_DATE,
        "Legal entity " + legalEntity.name + " - date became an interested person",
        "change-legal-entity-beneficial-owner-became-interested-person-date-button"
      ) ]
    } if not inNoChangeJourney
  }), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Principal or registered office address"
  },
  value: {
      html: legalEntityFormattedResidentialAddressHtml
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + "#principal_address_property_name_number",
      "Legal entity " + legalEntity.name + " - home address",
      "change-legal-entity-residential-address-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% if legalEntityFormattedServiceAddressHtml.length %}
  {% set rows = (rows.push({
    key: {
      text: "Correspondence address"
    },
    value: {
      html: legalEntityFormattedServiceAddressHtml
    },
    actions: {
      items: [ CREATE_CHANGE_LINK(
        changeLinkUrl + legalEntityChangeServiceAddressHtml,
        "Legal entity " + legalEntity.name + " - correspondence address",
        "change-legal-entity-correspondence-address-button"
      ) ]
    } if not inNoChangeJourney
  }), rows) %}
{% endif %}

{% if legalEntity.is_on_register_in_country_formed_in == '1' %}
  {% set rows = (rows.push({
    key: {
      text: "On a public register in the country it was formed in"
    },
    value: {
      text: legalEntity.identification_country_registration
    },
    actions: {
      items: [ CREATE_CHANGE_LINK(
        changeLinkUrl + OE_CONFIGS.PUBLIC_REGISTER_JURISDICTION,
        "Legal entity " + legalEntity.name + " - country formed in",
        "change-legal-entity-country-formed-in-button"
      ) ]
    } if not inNoChangeJourney
  }), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Legal form"
  },
  value: {
    text: legalEntity.identification_legal_form
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + "#legalForm",
      "Legal entity " + legalEntity.name + " - legal form",
      "change-legal-entity-legal-form-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Governing Law"
  },
  value: {
    text: legalEntity.identification_legal_authority
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + "#governingLaw",
      "Legal entity " + legalEntity.name + " - legal authority",
      "change-legal-entity-governing-law-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Overseas public register"
  },
  value: {
    text: formattedPublicRegister
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + legalEntityChangePublicRegisterName,
      "Legal entity " + legalEntity.name + " - legal authority",
      "change-legal-entity-identification-registration-number-button"
    ) ]
  } if not inNoChangeJourney
}), rows) %}

{% if not pageParams.isRegistration and
      not inNoChangeJourney and 
      (isTrustStillInvolved or isNotStillInvolved) %}
  {% set rows = (rows.push({
    key: {
    text: "Is it still involved in the trust?"
      },
      value: {
        text: stillInvolved
      },
      actions: {
      items: [ CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.TRUST_STILL_INVOLVED,
          "Legal entity " + legalEntity.name + " - still involved",
          "change-legal-entity-still-involved-button"
        ) ]
      }
    }), rows) %}
    
    {% set rows = (rows.push({
      key: {
        text: "Date it ceased to be involved in the trust"
      },
      value: {
        text: trusteeCeasedDate
      },
      actions: {
      items: [ CREATE_CHANGE_LINK(
          changeLinkUrl + OE_CONFIGS.TRUST_CEASED_DATE,
          "Legal entity " + legalEntity.name + " - ceased date",
          "change-legal-entity-ceased-date-button"
        ) ]
      } 
    }) if isNotStillInvolved, rows) %} 
{% endif %}   

<h3 class="govuk-heading-m">Legal Entity for {{trust.trust_name}}</h3>

{{ govukSummaryList({
  rows: rows
}) }}
