{% import "includes/date-macros.html" as dateMacros %}

{% set moiDateOfBirth = dateMacros.formatDate(moi.date_of_birth["day"], moi.date_of_birth["month"], moi.date_of_birth["year"]) %}

{% set moiFormattedResidentialAddressHtml %}
  {% set address = moi.usual_residential_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set moiChangeFormerNamesHtml = "" %}
{% if moi.has_former_names == 1 %}
  {% set moiChangeFormerNamesHtml = "#former_names" %}
{% else %}
  {% set moiChangeFormerNamesHtml = "#has_former_names" %}
{% endif %}

{% set moiChangeServiceAddressHtml = "" %}
{% set moiFormattedServiceAddressHtml %}
  {% if moi.is_service_address_same_as_usual_residential_address == 1 %}
    {% set moiChangeServiceAddressHtml = "#is_service_address_same_as_usual_residential_address" %}
    The correspondence address is the same as the home address
  {% else %}
    {% set moiChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = moi.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% if not IS_REDIS_REMOVAL_ENABLED %}
  {% set changeLinkUrl = OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id %}
{% else %}
  {% set changeLinkUrl = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.MANAGING_OFFICER_WITH_PARAMS_URL, OE_TRANSACTION_ID, OE_SUBMISSION_ID) + "/" + moi.id %}
{% endif %}

{# Build and add each govukSummaryList row separately so that some rows can be optional #}
{% set rows=[] %}

{% set rows = (rows.push({
  key: {
    text: "First name"
  },
  value: {
    text: moi.first_name
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.FIRST_NAME,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - first name",
      "change-individual-managing-officer-first-name-button"
    )]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Last name"
  },
  value: {
    text: moi.last_name
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.LAST_NAME,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - last name",
      "change-individual-managing-officer-last-name-button"
    )]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Former names"
  },
  value: {
    text: moi.former_names if moi.has_former_names == 1
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + moiChangeFormerNamesHtml,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - former names",
      "change-individual-managing-officer-former-names-button"
    )]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Date of birth"
  },
  value: {
    text: moiDateOfBirth
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.DATE_OF_BIRTH,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - date of birth",
      "change-individual-managing-officer-date-of-birth-button"
    )]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Nationality"
  },
  value: {
    text: moi.nationality
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.NATIONALITY,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - nationality",
      "change-individual-managing-officer-nationality-button"
    )]
  }
}), rows) %}

{% if moi.second_nationality %}
  {% set rows = (rows.push({
    key: {
      text: "Second nationality"
    },
    value: {
      text: moi.second_nationality
    },
    actions: {
      items: [CREATE_CHANGE_LINK(
        changeLinkUrl  + OE_CONFIGS.SECOND_NATIONALITY,
        "Individual managing officer " + moi.first_name + " " + moi.last_name + " - second_nationality",
        "change-individual-managing-officer-second-nationality-button"
      )]
    }
  }), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Home address"
  },
  value: {
    html: moiFormattedResidentialAddressHtml
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.CHANGE_RESIDENTIAL_ADDRESS,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - home address",
      "change-individual-managing-officer-residential-address-button"
    )]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Correspondence address"
  },
  value: {
    html: moiFormattedServiceAddressHtml
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + moiChangeServiceAddressHtml,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - correspondence address",
      "change-individual-managing-officer-correspondence-address-button"
    )]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Occupation"
  },
  value: {
    html: moi.occupation
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.OCCUPATION,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - occupation",
      "change-individual-managing-officer-occupation-button"
    )]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Role and responsibilities"
  },
  value: {
    html: moi.role_and_responsibilities
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.ROLE_AND_RESPONSIBILITIES,
      "Individual managing officer " + moi.first_name + " " + moi.last_name + " - role and responsibilities",
      "change-individual-managing-officer-role-and-responsibilities-button"
    )]
  }
}), rows) %}

<h3 class="govuk-heading-m">Individual managing officer</h3>
{{ govukSummaryList({
   rows: rows
}) }}