{% set mocFormattedPrincipalAddressHtml %}
  {% set address = moc.principal_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set mocChangeServiceAddressHtml = "" %}
{% set mocFormattedServiceAddressHtml %}
  {% if moc.is_service_address_same_as_principal_address == 1 %}
    {% set mocChangeServiceAddressHtml = "#is_service_address_same_as_principal_address" %}
    The correspondence address is the same as the principal or registered office address
  {% else %}
    {% set mocChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = moc.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set mocChangePublicregisterNameHtml = "" %}
{% set mocFormattedPublicRegister %}
  {% if moc.is_on_register_in_country_formed_in == 1 %}
    {% set mocChangePublicregisterNameHtml = "#public_register_name" %}
    {{ moc.public_register_name }} / {{ moc.registration_number }}
  {% else %}
    {% set mocChangePublicregisterNameHtml = "#is_on_register_in_country_formed_in" %}
    No
  {% endif %}
{% endset %}

<h3 class="govuk-heading-m">Corporate managing officer</h3>

{% if pageParams.isRegistration %}
  {% set changeLinkUrl = OE_CONFIGS.MANAGING_OFFICER_CORPORATE_URL %}
{% else %}
  {% set changeLinkUrl = OE_CONFIGS.UPDATE_MANAGING_OFFICER_CORPORATE_URL %}
{% endif %}

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: moc.name
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + OE_CONFIGS.NAME,
            "Corporate managing officer " + moc.name + " - name",
            "change-corporate-managing-officer-name-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Principal or registered office address"
        },
        value: {
          html: mocFormattedPrincipalAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + OE_CONFIGS.CHANGE_PRINCIPAL_ADDRESS,
            "Corporate managing officer " + moc.name + " - principal or registered office address",
            "change-corporate-managing-officer-principal-address-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: mocFormattedServiceAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + mocChangeServiceAddressHtml,
            "Corporate managing officer " + moc.name + " - correspondence address",
            "change-corporate-managing-officer-correspondence-address-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Legal form"
        },
        value: {
          text: moc.legal_form
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + OE_CONFIGS.LEGAL_FORM,
            "Corporate managing officer " + moc.name + " - legal form",
            "change-corporate-managing-officer-legal-form-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Governing law"
        },
        value: {
          html: moc.law_governed
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + OE_CONFIGS.LAW_GOVERNED,
            "Corporate managing officer " + moc.name + " - governing law",
            "change-corporate-managing-officer-law-governed-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "On a public register in the country it was formed in"
        },
        value: {
          html: mocFormattedPublicRegister
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + mocChangePublicregisterNameHtml,
            "Corporate managing officer " + moc.name + " - on a public register in the country it was formed in",
            "change-corporate-managing-officer-public-register-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Role and responsibilities"
        },
        value: {
          text: moc.role_and_responsibilities
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + OE_CONFIGS.ROLE_AND_RESPONSIBILITIES,
            "Corporate managing officer " + moc.name + " - role and responsibilities",
            "change-corporate-managing-officer-role-and-responsibilities-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Contact full name"
        },
        value: {
          html: moc.contact_full_name
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + OE_CONFIGS.CONTACT_FULL_NAME,
            "Corporate managing officer " + moc.name + " - contact full name",
            "change-corporate-managing-officer-contact-name-button"
          ) if not pageParams.noChangeFlag ]
        }
      },
      {
        key: {
          text: "Contact email address"
        },
        value: {
          html: moc.contact_email
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + moc.id + OE_CONFIGS.CONTACT_EMAIL,
            "Corporate managing officer " + moc.name + " - contact email",
            "change-corporate-managing-officer-contact-email-button"
          ) if not pageParams.noChangeFlag ]
        }
      }
    ]
}) }}