{% import "includes/date-macros.html" as dateMacros %}

{% set moiDateOfBirth = dateMacros.formatDate(moi.date_of_birth["day"], moi.date_of_birth["month"], moi.date_of_birth["year"]) %}

{% set moiFormattedResidentialAddressHtml %}
  {% set address = moi.usual_residential_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set moiFormattedServiceAddressHtml %}
  {% if moi.is_service_address_same_as_usual_residential_address == 1 %}
    The correspondence address is the same as the home address
  {% else %}
    {% set address = moi.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

<h3 class="govuk-heading-m">Individual managing officer</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "First name"
        },
        value: {
          text: moi.first_name
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.FIRST_NAME,
            "First name"
          ) ]
        }
      },
      {
        key: {
          text: "Last name"
        },
        value: {
          text: moi.last_name
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.LAST_NAME,
            "Last name"
          ) ]
        }
      },
      {
        key: {
          text: "Former names"
        },
        value: {
          text: moi.former_names if moi.has_former_names == 1
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.FORMER_NAMES,
            "Former names"
          ) ]
        }
      },
      {
        key: {
          text: "Date of birth"
        },
        value: {
          text: moiDateOfBirth
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.DATE_OF_BIRTH,
            "Date of birth"
          ) ]
        }
      },
      {
        key: {
          text: "Nationality"
        },
        value: {
          text: moi.nationality
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.NATIONALITY,
            "Nationality"
          ) ]
        }
      },
      {
        key: {
          text: "Home address"
        },
        value: {
          html: moiFormattedResidentialAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.CHANGE_RESIDENTIAL_ADDRESS,
            "Home address"
          ) ]
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: moiFormattedServiceAddressHtml
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.CHANGE_SERVICE_ADDRESS,
            "Correspondence address"
          ) ]
        }
      },
      {
        key: {
          text: "Occupation"
        },
        value: {
          html: moi.occupation
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.OCCUPATION,
            "Occupation"
          ) ]
        }
      },
      {
        key: {
          text: "Role and responsibilities"
        },
        value: {
          html: moi.role_and_responsibilities
        },
        actions: {
          items: [CREATE_CHANGE_LINK(
            OE_CONFIGS.MANAGING_OFFICER_URL + "/" + moi.id + OE_CONFIGS.ROLE_AND_RESPONSIBILITIES,
            "Role and responsibilities"
          ) ]
        }
      }
    ]
}) }}
