<h2 class="govuk-heading-l">Contact details</h2>
<h3 class="govuk-heading-m">Who can we contact about this application?</h3>

{% if pageParams.isRegistration %}
  {% set presenterNameChangeLink = OE_CONFIGS.PRESENTER_CHANGE_FULL_NAME %} 
  {% set presenterEmailChangeLink = OE_CONFIGS.PRESENTER_CHANGE_EMAIL %}
{% else %} 
  {% set presenterNameChangeLink = OE_CONFIGS.UPDATE_PRESENTER_CHANGE_FULL_NAME %} 
  {% set presenterEmailChangeLink = OE_CONFIGS.UPDATE_PRESENTER_CHANGE_EMAIL %}
{% endif %}

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: appData.presenter.full_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            presenterNameChangeLink,
            "Full name - who can we contact about this application",
            "change-presenter-name-button"
          ) ]
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          text: appData.presenter.email
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            presenterEmailChangeLink,
            "Email address - who can we contact about this application",
            "change-presenter-email-button"
          ) ]
        }
      }
    ]
}) }}
