<h2 class="govuk-heading-l">Contact details</h2>
<h3 class="govuk-heading-m">Who can we contact about this application?</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: appData.presenter.full_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.PRESENTER_CHANGE_FULL_NAME,
            "Full name - who can we contact about this application",
            "change-presenter-name-button"
          ) ]
        }
      },
      {
        key: {
          text: "Email"
        },
        value: {
          text: appData.presenter.email
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            OE_CONFIGS.PRESENTER_CHANGE_EMAIL,
            "Email address - who can we contact about this application",
            "change-presenter-email-button"
          ) ]
        }
      }
    ]
}) }}
