{% if pageParams.isRegistration %}
  {% set contactDetailsSubText = "Who can we contact about this application?" %}
  {% set presenterNameChangeLink = OE_CONFIGS.PRESENTER_CHANGE_FULL_NAME %} 
  {% set presenterEmailChangeLink = OE_CONFIGS.PRESENTER_CHANGE_EMAIL %}
  {% set nameFieldLabel = "Name" %}
  {% set emailFieldLabel = "Email" %}
{% else %} 
  {% set contactDetailsSubText = "Who can we contact about this update application?" %}
  {% set presenterNameChangeLink = OE_CONFIGS.UPDATE_PRESENTER_CHANGE_FULL_NAME %} 
  {% set presenterEmailChangeLink = OE_CONFIGS.UPDATE_PRESENTER_CHANGE_EMAIL %}
  {% set nameFieldLabel = "Full Name" %}
  {% set emailFieldLabel = "Email address" %}
{% endif %}

<h2 class="govuk-heading-l">Contact details</h2>
<h3 class="govuk-heading-m">{{ contactDetailsSubText }}</h3>

{% if pageParams.isRegistration %}
  {% set presenterNameChangeLink = OE_CONFIGS.PRESENTER_CHANGE_FULL_NAME %} 
  {% set presenterEmailChangeLink = OE_CONFIGS.PRESENTER_CHANGE_EMAIL %}
{% else %} 
  {% set presenterNameChangeLink = OE_CONFIGS.UPDATE_PRESENTER_CHANGE_FULL_NAME %} 
  {% set presenterEmailChangeLink = OE_CONFIGS.UPDATE_PRESENTER_CHANGE_EMAIL %}
{% endif %}

{{ govukSummaryList({
    rows: [
      {
        key: {
          text: nameFieldLabel
        },
        value: {
          text: appData.presenter.full_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            presenterNameChangeLink,
            "Full name - who can we contact about this application",
            "change-presenter-name-button"
          ) ]
        }
      },
      {
        key: {
          text: emailFieldLabel
        },
        value: {
          text: appData.presenter.email
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            presenterEmailChangeLink,
            "Email address - who can we contact about this application",
            "change-presenter-email-button"
          ) ]
        }
      }
    ]
}) }}