{% if (journey == "remove") %}
  {% set isRemoveJourney = true %}
{% endif %}

{% set noChange %}
  {% if update.no_change == 1 %}
    No, I do not need to make changes
  {% endif %}
{% endset %}

{% set updateStatementDate = dateMacros.formatDate(update.filing_date["day"], update.filing_date["month"],
update.filing_date["year"]) %}


{% set isOwnedLand %}
  {% if update.owned_land_relevant_period  %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set isProtectedInformation %}
  {% if appData.is_secure_register == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% if not IS_REDIS_REMOVAL_ENABLED %}
  {% set changeLinkSecureUpdateUrl = OE_CONFIGS.SECURE_UPDATE_FILTER_URL %}
  {% set changeLinkRelevantPeriodUrl = OE_CONFIGS.RELEVANT_PERIOD_OWNED_LAND_FILTER_URL %}
  {% set changeLinkFilingDateUrl = OE_CONFIGS.UPDATE_FILING_DATE_CHANGELINK %}
  {% set changeLinkOeChangeUrl = OE_CONFIGS.UPDATE_DO_YOU_WANT_TO_MAKE_OE_CHANGE_CHANGELINK %}
{% else %}
  {% set changeLinkSecureUpdateUrl = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.SECURE_UPDATE_FILTER_WITH_PARAMS_URL, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
  {% set changeLinkRelevantPeriodUrl = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.RELEVANT_PERIOD_OWNED_LAND_FILTER_URL, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
  {% set changeLinkFilingDateUrl = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.UPDATE_FILING_DATE_CHANGELINK_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
  {% set changeLinkOeChangeUrl = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.UPDATE_DO_YOU_WANT_TO_MAKE_OE_CHANGE_CHANGELINK_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
{% endif %}

  {{ govukSummaryList({
    rows: [
    {
      key: {
        text: "Do any beneficial owners or managing officers have personal information protected at Companies House?"
    },
      value: {
        text: isProtectedInformation
    },
      actions: {
        items: [ CREATE_CHANGE_LINK(
        changeLinkSecureUpdateUrl,
        isProtectedInformation,
        "has-protected-information-change-link"
        ) ]
        }
    },
    {
      key: {
          text: "Was the overseas entity a registered owner of UK property or land during the pre-registration period?"
        },
        value: {
          text: isOwnedLand
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
          changeLinkRelevantPeriodUrl,
          isOwnedLand,
          "is-owned-land-change-link"
          ) ]
        }
     } if pageParams.relevantPeriodStatements == false,
    {
      key: {
        text: "Date of the update statement"
      },
      value: {
        text: updateStatementDate
      },
      attributes: {
        "data-event-id":  "nochange-changelink-filingdate-review-statement-button"
      },
      actions: {
        items: [ CREATE_CHANGE_LINK(
        changeLinkFilingDateUrl,
        updateStatementDate,
        "nochange-changelink-filingdate-review-statement-button"
        ) ]
      }
    } if pageParams.noChangeFlag and not isRemoveJourney,
    {
      key: {
        text: "Do you need to make any changes to this overseas entity for the update period?"
      },
      value: {
        text: noChange
      },
      attributes: {
        "data-event-id": "nochange-changelink-entity-review-statement-button"
      },
      actions: {
        items: [ CREATE_CHANGE_LINK(
        changeLinkOeChangeUrl,
        noChange,
        "nochange-changelink-entity-review-statement-button"
        ) ]
      }
    } if pageParams.noChangeFlag and not isRemoveJourney
  ]
  }) }}
