{% import "includes/date-macros.html" as dateMacros %}
<h3 class="govuk-heading-m">Trust {{ trust_count }}</h3>

{% set trustBeneficialOwnersHtml %}
  {% include "includes/check-your-answers/trust-beneficial-owners.html" %}
{% endset %}
{% if pageParams.isTrustFeatureEnabled %}
{% set trustCreationDate = dateMacros.formatDate(trust.creation_date_day, trust.creation_date_month, trust.creation_date_year) %}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Trust"
      },
      value: {
        text: trust.trust_name if trust
      }
    },
    {
      key: {
        text: "Date the trust was created"
      },
      value: {
        text: trustCreationDate
      }
    },
    {
      key: {
        text: "Beneficial owners involved in the trust"
      },
      value: {
        html: trustBeneficialOwnersHtml
      }
    }
  ]
}) }}
{% else %}
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: trust.trust_name if trust
      }
    },
    {
      key: {
        text: "Trust data"
      },
      value: {
        text: "Added"
      }
    },
    {
      key: {
        text: "Involved with trust"
      },
      value: {
        html: trustBeneficialOwnersHtml
      }
    }
  ]
}) }}
{% endif %}
