{% import "includes/date-macros.html" as dateMacros %}

{% set inNoChangeJourney = pageParams.noChangeFlag %}

{% set trustBeneficialOwnersHtml %}
  {% include "includes/check-your-answers/trust-beneficial-owners.html" %}
{% endset %}

<h3 class="govuk-heading-m">{{ trust_heading }}</h3>

{% if pageParams.isTrustFeatureEnabled %}
  {% if pageParams.isRegistration %}
    {% set changeLinkUrl = OE_CONFIGS.TRUST_DETAILS_URL %}
  {% else %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_TRUSTS_TELL_US_ABOUT_IT_URL %}
  {% endif %}

  {% set trustCreationDate = dateMacros.formatDate(trust.creation_date_day, trust.creation_date_month, trust.creation_date_year) %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Trust name"
        },
        value: {
          text: trust.trust_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + trust.trust_id + OE_CONFIGS.NAME,
            "Trust " + trust.trust_name + " -  name",
            "change-trust-name-button"
          ) ]
        } if not inNoChangeJourney
      },
      {
        key: {
          text: "Date the trust was created"
        },
        value: {
          text: trustCreationDate
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + trust.trust_id + OE_CONFIGS.CREATED_DATE,
            "Trust " + trust.trust_name + " -  created date",
            "change-trust-created-date-button"
          ) ]
        } if not inNoChangeJourney
      },
      {
        key: {
          text: "Beneficial owners involved in the trust"
        },
        value: {
          html: trustBeneficialOwnersHtml
        },  
        actions: {
          items: [ CREATE_CHANGE_LINK(
            changeLinkUrl + "/" + trust.trust_id + OE_CONFIGS.TRUST_BENEFICIAL_OWNERS,
            "Trust " + trust.trust_name + " -  Beneficial Owner",
            "change-beneficial-owner-button"
          ) ]
        } if not inNoChangeJourney
      }
    ]
}) }}
  <br>
  {% if (trust.HISTORICAL_BO and trust.HISTORICAL_BO.length > 0) %}
    {% for formerTrustee in trust.HISTORICAL_BO %}
      {% include "includes/check-your-answers/historical-trustee.html" %}
    {% endfor %}
    <br>
  {% endif %}
  {% if (trust.INDIVIDUALS and trust.INDIVIDUALS .length > 0) %}
    {% for individualTrustee in trust.INDIVIDUALS  %}
      {% include "includes/check-your-answers/individual-trustee.html" %}
    {% endfor %}
    <br>
  {% endif %}
  {% if (trust.CORPORATES and trust.CORPORATES.length > 0) %}
    {% for legalEntity in trust.CORPORATES %}
      {% include "includes/check-your-answers/legal-entity-trustee.html" %}
    {% endfor %}
    <br>
  {% endif %}

{% else %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: trust.trust_name if trust
        }
      },
      {
        key: {
          text: "Trust data"
        },
        value: {
          text: "Added"
        }
      },
      {
        key: {
          text: "Involved with trust"
        },
        value: {
          html: trustBeneficialOwnersHtml
        }
      }
    ]
  }) }}
{% endif %}
