{% import "includes/date-macros.html" as dateMacros %}

{% set ukAgent = "The UK agent" %}
{% set someoneElse = "Someone from the overseas entity" %}

{% if pageParams.isRegistration %}
  {% set whoIsCompletingText = "Who is completing this registration" %}
  {% set whoIsCompletingChangeLink = OE_CONFIGS.WHO_IS_MAKING_FILING_CHANGE %}
  {% if not IS_REDIS_REMOVAL_ENABLED %}
    {% if who_is_registering == "agent" %}
      {% set whoIsCompleting = ukAgent %}
      {% set agentChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_AGENT_CODE %}
      {% set dateChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_IDENTITY_DATE %}
      {% set nameChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_NAME %}
      {% set addressChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS %}
      {% set emailChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_EMAIL %}
      {% set supervisoryChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME %}
      {% set amlChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_AML_NUMBER %}
      {% set partnerChangeLink = OE_CONFIGS.DUE_DILIGENCE_CHANGE_PARTNER_NAME %}
    {% else %}
      {% set whoIsCompleting = someoneElse %}
      {% set dateChangeLink = OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_DATE %}
      {% set nameChangeLink = OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_NAME %}
      {% set addressChangeLink = OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS %}
      {% set emailChangeLink = OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_EMAIL %}
      {% set supervisoryChangeLink = OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME %}
      {% set amlChangeLink = OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_AML_NUMBER %}
      {% set partnerChangeLink = OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_PARTNER_NAME %}
    {% endif %}
  {% else %}
    {% set whoIsCompletingChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.WHO_IS_MAKING_FILING_CHANGE_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
    {% if who_is_registering == "agent" %}
      {% set whoIsCompleting = ukAgent %}
      {% set agentChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_AGENT_CODE_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set dateChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_IDENTITY_DATE_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set nameChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_NAME_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set addressChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set emailChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_EMAIL_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set supervisoryChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set amlChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_AML_NUMBER_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set partnerChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.DUE_DILIGENCE_CHANGE_PARTNER_NAME_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
    {% else %}
      {% set whoIsCompleting = someoneElse %}
      {% set agentChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_AGENT_CODE_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set dateChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_DATE_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set nameChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_NAME_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set addressChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set emailChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_EMAIL_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set supervisoryChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set amlChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_AML_NUMBER_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
      {% set partnerChangeLink = CREATE_CHANGE_LINK_WITH_IDS(OE_CONFIGS.OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_PARTNER_NAME_WITH_PARAMS, OE_TRANSACTION_ID, OE_SUBMISSION_ID) %}
    {% endif %}
  {% endif %}
{% else %}
  {% set whoIsCompletingText = "Who is completing this update" %}
  {% if who_is_registering == "agent" %}
    {% set whoIsCompleting = ukAgent %}
    {% set agentChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_AGENT_CODE %}
    {% set dateChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_IDENTITY_DATE %}
    {% set nameChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_NAME %}
    {% set addressChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS %}
    {% set emailChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_EMAIL %}
    {% set supervisoryChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME %}
    {% set amlChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_AML_NUMBER %}
    {% set partnerChangeLink = OE_CONFIGS.UPDATE_DUE_DILIGENCE_CHANGE_PARTNER_NAME %}
  {% else %}
    {% set whoIsCompleting = someoneElse %}
    {% set dateChangeLink = OE_CONFIGS.UPDATE_OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_DATE %}
    {% set nameChangeLink = OE_CONFIGS.UPDATE_OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_NAME %}
    {% set addressChangeLink = OE_CONFIGS.UPDATE_OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_IDENTITY_ADDRESS %}
    {% set emailChangeLink = OE_CONFIGS.UPDATE_OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_EMAIL %}
    {% set supervisoryChangeLink = OE_CONFIGS.UPDATE_OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_SUPERVISORY_NAME %}
    {% set amlChangeLink = OE_CONFIGS.UPDATE_OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_AML_NUMBER %}
    {% set partnerChangeLink = OE_CONFIGS.UPDATE_OVERSEAS_ENTITY_DUE_DILIGENCE_CHANGE_PARTNER_NAME %}
  {% endif %}
{% endif %}

{% if (due_diligence and due_diligence | length) %}
  {% set dueDiligence = due_diligence %}
  {% set agentCode = {
    key: {
      text: "Agent assurance code"
    },
    value: {
      text: due_diligence.agent_code
    },
    actions: {
      items: [ CREATE_CHANGE_LINK(
        agentChangeLink,
        "Agent's assurance code",
        "change-agent-assurance-code-button"
      ) ]
    }
  } %}
{% else %}
  {% set dueDiligence = overseas_entity_due_diligence %}
  {% set agentCode = "" %}
{% endif %}

{% set formattedIdentityAddressHtml %}
  {% set address = dueDiligence.identity_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set checkDate = dateMacros.formatDate(dueDiligence.identity_date["day"], dueDiligence.identity_date["month"], dueDiligence.identity_date["year"]) %}

<h3 class="govuk-heading-l">Verification checks</h3>

{{ govukSummaryList({
    rows: [
      {
        key: {
        text: whoIsCompletingText
        },
        value: {
          text: whoIsCompleting
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            whoIsCompletingChangeLink,
            whoIsCompletingText,
            "change-identity-check-name-button"
          ) ]
        }
      },
      {
        key: {
         text: "Date the verification checks were completed"
        },
        value: {
           html: checkDate
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            dateChangeLink,
            "Date the identity checks were completed",
            "change-identity-check-date-button"
          ) ]
        }
      },
      {
        key: {
            text: "Name of agent"
          },
          value: {
            text: dueDiligence.name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            nameChangeLink,
            "Name of agent",
            "change-identity-check-agent-name-button"
          ) ]
        }
      },
      {
        key: {
          text: "Correspondence address"
        },
        value: {
          html: formattedIdentityAddressHtml
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            addressChangeLink,
            "Address of agent",
            "change-identity-check-agent-correspondence-address-button"
          ) ]
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: dueDiligence.email
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            emailChangeLink,
            "Email address of agent",
            "change-identity-check-agent-email-button"
          ) ]
        }
      },
      {
        key: {
          text: "Name of supervisory body"
        },
        value: {
          text: dueDiligence.supervisory_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            supervisoryChangeLink,
            "Name of the supervisory body",
            "change-identity-check-supervisory-body-name-button"
          ) ]
        }
      },
      {
        key: {
          text: "Anti Money Laundering(AML) registration number"
        },
        value: {
          text: dueDiligence.aml_number
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            amlChangeLink,
            "Anti Money Laundering (AML) registration number of the agent",
            "change-identity-check-anti-money-laundering-number-button"
          ) ]
        }
      },
      agentCode,
      {
        key: {
          text: "Person responsible for overseeing verification checks"
        },
        value: {
          text: dueDiligence.partner_name
        },
        actions: {
          items: [ CREATE_CHANGE_LINK(
            partnerChangeLink,
            "Name of partner",
            "change-identity-check-partner-name-button"
          ) ]
        }
      }
    ]
}) }}
