{% if (beneficial_owners_individual and beneficial_owners_individual.length > 0)
    or (beneficial_owners_corporate and beneficial_owners_corporate.length > 0)
    or (beneficial_owners_government_or_public_authority and beneficial_owners_government_or_public_authority.length > 0)
%}
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Beneficial owners</caption>
    <tbody class="govuk-table__body">
        {% for boi in beneficial_owners_individual %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Individual</th>
                <td class="govuk-table__cell">{{ boi.first_name }} {{ boi.last_name }}</td>
            </tr>
        {% endfor %}
        {% for boo in beneficial_owners_corporate %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Corporate</th>
                <td class="govuk-table__cell">{{ boo.name }}</td>
            </tr>
        {% endfor %}
        {% for bog in beneficial_owners_government_or_public_authority %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Government or public authority</th>
                <td class="govuk-table__cell">{{ bog.name }}</td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="{{ OE_CONFIGS.BENEFICIAL_OWNER_GOV_URL }}/{{ bog.id }}">
                        Change or remove
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
