{% if (managingOfficer and managingOfficer.length > 0) or (managingOfficerCorporate and managingOfficerCorporate.length > 0) %}
<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Managing officers</caption>
    <tbody class="govuk-table__body">
        {% for mo in managingOfficer %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Individual</th>
                <td class="govuk-table__cell">{{ mo.fullName }}</td>
            </tr>
        {% endfor %}
        {% for moc in managingOfficerCorporate %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Corporate</th>
                <td class="govuk-table__cell">{{ moc.officerName }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}