<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">What you have reviewed</caption>
    <tbody class="govuk-table__body">
        {% for boi in beneficial_owners_individual %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ boi.first_name }} {{ boi.last_name }}</th>
                <td class="govuk-table__cell">Individual Beneficial Owner</td>
                {% if ceased_date %}
                    <td class="govuk-table__cell">Ceased</td>
                {% else %}
                    <td class="govuk-table__cell">Active</td>
                {% endif%}
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="{{ reviewBeneficialOwnerIndividualUrl }}{{ indexQueryParam }}{{ beneficial_owners_individual.indexOf(boi) }}" data-event-id="change-link">
                        Change
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for boo in beneficial_owners_corporate %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ boo.name }}</th>
                <td class="govuk-table__cell">Other legal entity</td>
                {% if ceased_date %}
                    <td class="govuk-table__cell">Ceased</td>
                {% else %}
                    <td class="govuk-table__cell">Active</td>
                {% endif%}
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="{{ reviewBeneficialOwnerOtherUrl }}{{ indexQueryParam }}{{ beneficial_owners_corporate.indexOf(boo) }}" data-event-id="change-link">
                        Change
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% for bog in beneficial_owners_government_or_public_authority %}
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ bog.name }}</th>
                <td class="govuk-table__cell">Government or public authority</td>
                {% if ceased_date %}
                    <td class="govuk-table__cell">Ceased</td>
                {% else %}
                    <td class="govuk-table__cell">Active</td>
                {% endif%}
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="{{ reviewBeneficialOwnerGovUrl }}{{ indexQueryParam }}{{ beneficial_owners_government_or_public_authority.indexOf(bog) }}" data-event-id="change-link">>
                        Change
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
