{% set reviewBeneficialOwnerIndividualUrl = OE_CONFIGS.UPDATE_REVIEW_BENEFICIAL_OWNER_INDIVIDUAL_URL %}
{% set reviewBeneficialOwnerGovUrl = OE_CONFIGS.UPDATE_REVIEW_BENEFICIAL_OWNER_GOV_URL %}
{% set reviewBeneficialOwnerOtherUrl = OE_CONFIGS.UPDATE_REVIEW_BENEFICIAL_OWNER_OTHER_URL %}
{% set reviewManagingOfficerIndividualUrl = OE_CONFIGS.UPDATE_REVIEW_INDIVIDUAL_MANAGING_OFFICER_URL %}
{% set reviewManagingOfficerCorporateUrl = OE_CONFIGS.UPDATE_REVIEW_CORPORATE_MANAGING_OFFICER_URL %}
{% set indexQueryParam = OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM %}

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">What you have reviewed</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            {% for boi in beneficial_owners_individual %}
                {% if boi.ch_reference %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ boi.first_name }} {{ boi.last_name }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Individual beneficial owner
                        </dd>
                        <dd class="govuk-summary-list__value summary-status" aria-label="status">
                            {% if boi.ceased_date|length === 0 %}
                                Active
                            {% else %}
                                Ceased
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="{{ reviewBeneficialOwnerIndividualUrl }}{{ indexQueryParam }}{{ beneficial_owners_individual.indexOf(boi) }}"
                            data-event-id="change-link-review-individual-bo">
                                Change<span class="govuk-visually-hidden"> {{ boi.first_name }} {{ boi.last_name }} - Individual beneficial owner</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
            {% endfor %}
            {% for boo in beneficial_owners_corporate %}
                {% if boo.ch_reference %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ boo.name }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Other legal entity beneficial owner
                        </dd>
                        <dd class="govuk-summary-list__value summary-status" aria-label="status">
                            {% if boo.ceased_date|length === 0 %}
                                Active
                            {% else %}
                                Ceased
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="{{ reviewBeneficialOwnerOtherUrl }}{{ indexQueryParam }}{{ beneficial_owners_corporate.indexOf(boo) }}"
                            data-event-id="change-link-review-other-bo">
                                Change<span class="govuk-visually-hidden">{{ boo.name }} - Other legal entity</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
            {% endfor %}
            {% for bog in beneficial_owners_government_or_public_authority %}
                {% if bog.ch_reference %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ bog.name }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Government or public authority beneficial owner
                        </dd>
                        <dd class="govuk-summary-list__value summary-status" aria-label="status">
                            {% if bog.ceased_date|length === 0 %}
                                Active
                            {% else %}
                                Ceased
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="{{ reviewBeneficialOwnerGovUrl }}{{ indexQueryParam }}{{ beneficial_owners_government_or_public_authority.indexOf(bog) }}"
                            data-event-id="change-link-review-gov-bo">
                                Change<span class="govuk-visually-hidden">{{ bog.name }} - Government or public authority</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
            {% endfor %}
            {% for mo in managing_officers_individual %}
                {% if mo.ch_reference %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ mo.first_name + " " + mo.last_name }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Individual managing officer
                        </dd>
                        <dd class="govuk-summary-list__value summary-status" aria-label="status">
                            {% if mo.resigned_on|length === 0 %}
                                Active
                            {% else %}
                                Not active
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="{{ reviewManagingOfficerIndividualUrl }}{{ indexQueryParam }}{{ managing_officers_individual.indexOf(mo) }}"
                            data-event-id="change-link-review-individual-mo">
                                Change<span class="govuk-visually-hidden">{{ mo.first_name + " " + mo.last_name }} - Individual managing officer</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
            {% endfor %}
            {% for moc in managing_officers_corporate %}
                {% if moc.ch_reference %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            {{ moc.first_name + " " + mo.last_name }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Corporate managing officer
                        </dd>
                        <dd class="govuk-summary-list__value summary-status" aria-label="status">
                            {% if moc.resigned_on|length === 0 %}
                                Active
                            {% else %}
                                Not active
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="{{ reviewManagingOfficerCorporateUrl }}{{ indexQueryParam }}{{ managing_officers_corporate.indexOf(moc) }}"
                            data-event-id="change-link-review-corporate-mo">
                                Change<span class="govuk-visually-hidden">{{ moc.first_name + " " + mo.last_name }} - Corporate managing officer</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
</div>
