<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">What you have reviewed</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            {% for boi in beneficial_owners_individual %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ boi.first_name }} {{ boi.last_name }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Individual beneficial owner
                    </dd>
                    <dd class="govuk-summary-list__value summary-status" aria-label="status">
                        {% if boi.ceased_date %}
                            Ceased
                        {% else %}
                            Active
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{{ reviewBeneficialOwnerIndividualUrl }}{{ indexQueryParam }}{{ beneficial_owners_individual.indexOf(boi) }}">
                            Change<span class="govuk-visually-hidden"> {{ boi.first_name }} {{ boi.last_name }} - Individual beneficial owner</span>
                        </a>
                    </dd>
                </div>
            {% endfor %}
            {% for boo in beneficial_owners_corporate %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ boo.name }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Other legal entity
                    </dd>
                    <dd class="govuk-summary-list__value summary-status" aria-label="status">
                        {% if boo.ceased_date %}
                            Ceased
                        {% else %}
                            Active
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{{ reviewBeneficialOwnerOtherUrl }}{{ indexQueryParam }}{{ beneficial_owners_corporate.indexOf(boo) }}">
                            Change<span class="govuk-visually-hidden">{{ boo.name }} - Other legal entity</span>
                        </a>
                    </dd>
                </div>
            {% endfor %}
            {% for bog in beneficial_owners_government_or_public_authority %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        {{ bog.name }}
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Government or public authority
                    </dd>
                    <dd class="govuk-summary-list__value summary-status" aria-label="status">
                        {% if bog.ceased_date %}
                            Ceased
                        {% else %}
                            Active
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="{{ reviewBeneficialOwnerGovUrl }}{{ indexQueryParam }}{{ beneficial_owners_government_or_public_authority.indexOf(bog) }}">
                            Change<span class="govuk-visually-hidden">{{ bog.name }} - Government or public authority</span>
                        </a>
                    </dd>
                </div>
            {% endfor %}
        </dl>
    </div>
</div>
