{% macro trustStatus(trust) %}
  {% if trust.ceased_date_day and trust.ceased_date_month and trust.ceased_date_year %}
    Removed
  {% else %}
    Active
  {% endif %}
{% endmacro %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}
      <h1 class="govuk-heading-xl govuk-!-margin-10">{{ title }}</h1>

      {% if pageData.trustData.length > 0 %}
        {% set reviewedTrustsRows = [] %}
        {% set addedTrusts = [] %}
        {% for trust in pageData.trustData %}
            {% if trust.ch_reference.length %}
              {% set reviewedTrustsRows = (reviewedTrustsRows.push({
                key: {
                  text: trust.trust_name
                },
                value: {
                  text: trustStatus(trust)
                },
                actions: {
                  items: [CREATE_CHANGE_LINK(
                    OE_CONFIGS.UPDATE_MANAGE_TRUSTS_ORCHESTRATOR_CHANGE_HANDLER_URL + "/" + trust.trust_id,
                    "Trust " + trust.trust_name,
                    "change-trust-button"
                  )]
                }
              }), reviewedTrustsRows) %}
            {% else %}
              {% set addedTrusts = (addedTrusts.push(trust), addedTrusts) %}
            {% endif %}
        {% endfor %}
      {% endif %}

      {% set feature_flag_relevant_period = OE_CONFIGS.FEATURE_FLAG_ENABLE_RELEVANT_PERIOD %}
      {% if reviewedTrustsRows.length > 0 %}
        {% if feature_flag_relevant_period === "true" and pageData.isRelevantPeriod %}
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title"> What you have reviewed </h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                {{ govukSummaryList({ rows: reviewedTrustsRows }) }}
              </dl>
            </div>
          </div>
        {% else %}
          <h3 class="govuk-heading-m">What you have reviewed</h3>
          {{ govukSummaryList({ rows: reviewedTrustsRows }) }}
        {% endif %}
      {% endif %}

      {% if (isUpdate and addedTrusts.length > 0) %}
        <h3 class="govuk-heading-m">What you have added so far</h3>
      {% endif %}

      {% if isUpdate %}
        {% set changeLink = OE_CONFIGS.UPDATE_TRUSTS_TELL_US_ABOUT_IT_PAGE %}
      {% else %}
        {% if FEATURE_FLAG_ENABLE_REDIS_REMOVAL %}
          {% set changeLink = OE_CONFIGS.REGISTER_AN_OVERSEAS_ENTITY_URL + activeSubmissionBasePath + OE_CONFIGS.TRUSTS_URL %}
        {% else %}
          {% set changeLink = OE_CONFIGS.TRUST_DETAILS_URL %}
        {% endif %}
      {% endif %}

      {% for trust in addedTrusts %}
        {{ govukSummaryList({
        rows: [
          {
            key: {
              text: trust.trust_name
            },
            value: {
              text: trustStatus(trust)
            },
            actions: {
              items: [ CREATE_CHANGE_LINK(
                changeLink + "/" + trust.trust_id + OE_CONFIGS.NAME,
                "Trust " + trust.trust_name,
                "change-trust-button"
                ) ]
              }
            }
          ]
        })
      }}
      {% endfor %}

      <form method="post">
        {% include "includes/csrf_token.html" %}
        {% if feature_flag_relevant_period === "true" and pageData.isRelevantPeriod %}
          {% include "includes/page-templates/pre-registration-radio-button.html" %}
        {% else %}
          {% if pageData.isAddTrustQuestionToBeShown %}
            {% set fieldParam = {
              label: pageParams.subtitle,
              name: 'addTrust',
              error: errors.addTrust,
              items: [
                {
                  value: "addTrustYes",
                  text: "Yes",
                  attributes: {
                    "data-event-id": "add-trust-yes-radio-option"
                  },
                  checked: formData.addTrust == "addTrustYes"
                },
                {
                  value: "noTrust",
                  text: "No",
                  attributes: {
                    "data-event-id": "add-trust-no-radio-option"
                  },
                  checked: formData.addTrust == "noTrust"
                }
              ]
            } %}
            {% include "includes/inputs/radio-input.html" %}
          {% endif %}

          {% if isUpdate %}
            {% include "includes/save-and-continue-button.html" %}
          {% else %}
            {% include "includes/continue-button.html" %}
          {% endif %}
        {% endif %}
        </form>
      </div>
    </div>
  {% endblock %}
