{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}
      <h1 class="govuk-heading-xl govuk-!-margin-10">{{ title }}</h1>

      {% if (isUpdate and pageData.trustData.length > 0) %}
        <h3 class="govuk-heading-m">What you have added so far</h3>
      {% endif %}

      {% if isUpdate %}
        {% set changeLink = OE_CONFIGS.UPDATE_TRUSTS_TELL_US_ABOUT_IT_PAGE %}
      {% else %}
        {% set changeLink = OE_CONFIGS.TRUST_DETAILS_URL %}
      {% endif %}

      {% for trust in pageData.trustData %}
        {{ govukSummaryList({
        rows: [
          {
            key: {
              text: trust.trust_name
            },
            actions: {
              items: [ CREATE_CHANGE_LINK(
                changeLink + "/" + trust.trust_id + OE_CONFIGS.NAME,
                "Trust " + trust.trust_name,
                "change-trust-button"
                ) ]
              }
            }
          ]
        }) 
      }}
      {% endfor %}
      <form method="post">
        {% set fieldParam = {
          label: pageParams.subtitle,
          name: 'addTrust',
          error: errors.addTrust,
          items: [
            {
              value: 1,
              text: "Yes",
              attributes: {
                "data-event-id": "add-trust-yes-radio-option"
              },
              checked: formData.addTrust == 1
            }, {
              value: 0,
              text: "No",
              attributes: {
                "data-event-id": "add-trust-no-radio-option"
              },
              checked: formData.addTrust == 0
            }
          ]
        } %}
        {% include "includes/inputs/radio-input.html" %}
        {% if isUpdate %}
          {% include "includes/save-and-continue-button.html" %}
        {% else %}
          {% include "includes/continue-button.html" %}
        {% endif %}
        </form>
      </div>
    </div>
  {% endblock %}
