{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}
      <h1 class="govuk-heading-xl govuk-!-margin-10">{{ title }}</h1>

      {% if pageData.trustData.length > 0 %}
        {% set reviewedTrustsRows = [] %}
        {% set addedTrusts = [] %}
        {% for trust in pageData.trustData %}
            {% if trust.ch_reference.length %}
              {% set reviewedTrustsRows = (reviewedTrustsRows.push({
                key: {
                  text: trust.trust_name
                },
                actions: {
                  items: [CREATE_CHANGE_LINK(
                    OE_CONFIGS.UPDATE_MANAGE_TRUSTS_ORCHESTRATOR_CHANGE_HANDLER_URL + "/" + trust.trust_id,
                    "Trust " + trust.trust_name,
                    "change-trust-button"
                  )]
                }
              }), reviewedTrustsRows) %}
            {% else %}
              {% set addedTrusts = (addedTrusts.push(trust), addedTrusts) %}
            {% endif %}
        {% endfor %}
      {% endif %}

      {% if reviewedTrustsRows.length > 0 %}
        <h3 class="govuk-heading-m">What you have reviewed</h3>
        {{ govukSummaryList({ rows: reviewedTrustsRows }) }}
      {% endif %}

      {% if (isUpdate and addedTrusts.length > 0) %}
        <h3 class="govuk-heading-m">What you have added so far</h3>
      {% endif %}

      {% if isUpdate %}
        {% set changeLink = OE_CONFIGS.UPDATE_TRUSTS_TELL_US_ABOUT_IT_PAGE %}
      {% else %}
        {% if FEATURE_FLAG_ENABLE_REDIS_REMOVAL %}
            <b> *********** FLAG ON</b>
          {% set changeLink = OE_CONFIGS.REGISTER_AN_OVERSEAS_ENTITY_URL + activeSubmissionBasePath + OE_CONFIGS.TRUSTS_URL %}
        {% else %}
          {% set changeLink = OE_CONFIGS.TRUST_DETAILS_URL %}
        {% endif %}
      {% endif %}

      {% for trust in addedTrusts %}
        {{ govukSummaryList({
        rows: [
          {
            key: {
              text: trust.trust_name
            },
            actions: {
              items: [ CREATE_CHANGE_LINK(
                changeLink + "/" + trust.trust_id + OE_CONFIGS.NAME,
                "Trust " + trust.trust_name,
                "change-trust-button"
                ) ]
              }
            }
          ]
        })
      }}
      {% endfor %}
      <form method="post">
        {% set fieldParam = {
          label: pageParams.subtitle,
          name: 'addTrust',
          error: errors.addTrust,
          items: [
            {
              value: 1,
              text: "Yes",
              attributes: {
                "data-event-id": "add-trust-yes-radio-option"
              },
              checked: formData.addTrust == 1
            }, {
              value: 0,
              text: "No",
              attributes: {
                "data-event-id": "add-trust-no-radio-option"
              },
              checked: formData.addTrust == 0
            }
          ]
        } %}
        {% include "includes/inputs/radio-input.html" %}
        {% if isUpdate %}
          {% include "includes/save-and-continue-button.html" %}
        {% else %}
          {% include "includes/continue-button.html" %}
        {% endif %}
        </form>
      </div>
    </div>
  {% endblock %}
