<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <h1 class="govuk-heading-xl govuk-!-margin-0">{{ title }}</h1>
    <br/>

    {% include "includes/managing-officer-details-summary.html" %}

    <form method="post">
      {% include "includes/beneficial-owner-type-add-radios.html" %}

      <button class="govuk-button" data-module="govuk-button" id="add" formaction="{{ addButtonAction }}" >Add<span class="govuk-visually-hidden"> {{ whatToAdd }} </span></button>

      {% if (hasBeneficialOwners or hasManagingOfficers) %}
        <h2 class="govuk-heading-l govuk-!-margin-0">What <span class="govuk-visually-hidden"> {{ hiddenTextValue }}</span> you have added so far:</h2>
        <br>
        {% include "includes/list/beneficial-owner.html" %}
        {% include "includes/list/managing-officer.html" %}
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="noMoreToAdd" formaction="{{ noMoreToAddButtonAction }}" >No more <span class="govuk-visually-hidden"> {{ hiddenTextValue }} </span> to add </button>
      {% endif %}

      <!-- Hidden input, needed to submit the beneficial owners statement -->
      {{ govukInput({
        label: {
          text: "Hidden input, needed to submit the beneficial owners statement",
          classes: "govuk-visually-hidden"
        },
        id: "beneficial_owners_statement",
        value: beneficial_owners_statement,
        name: "beneficial_owners_statement",
        classes: "govuk-visually-hidden"
      }) }}

    </form>

  </div>
</div>
