{% set beneficialOwnerPronoun = "they" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/list/errors.html" %}

    <span class="govuk-caption-xl">Beneficial owner</span>

    {% if relevant_period %}
      {% include "includes/page-templates/important-banner.html" %}
      <h1 class="govuk-heading-xl govuk-!-margin-0">Tell us about the individual beneficiary</h1>
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-0">{{ title }}</h1>
    <br> <p class="govuk-body">You can add more later.</p> <br>

    {% if entity_number %}
      {% include "includes/ceased-date-details-summary-new-bo.html" %}
    {% endif %}

    <form method="post">
      {% include "includes/csrf_token.html" %} 
      {% include "includes/inputs/fields/first-name-input.html" %}

      {% set hintLastNameText = "This is also known as your family name." %}
      {% include "includes/inputs/fields/last-name-input.html" %}

      {% include "includes/inputs/date/date-of-birth-input.html" %}

      {% include "includes/inputs/nationality/nationality.html" %}
      {% include "includes/inputs/nationality/second-nationality.html" %}

      {% set hintResidentialAddress = "The beneficial owner’s home address would be shown on the public register as the correspondence address." %}
      {% include "includes/inputs/address/residential-address-input.html" %}

      {% set dateText = "When did they become a beneficial owner for the overseas entity?" %}
      {% include "includes/inputs/date/start-date-input.html" %}
      {% if entity_number %}
        {% include "includes/inputs/fields/is-still-a-beneficial-owner-input.html" %}
      {% endif %}

      {% set isBeneficialOwnerGov = false %}
      {% set natureOfControlText = "What is their nature of control?" %}
      {% include "includes/page-templates/beneficial-owner-nature-of-control-types.html" %}

      {% include "includes/inputs/fields/is-on-sanctions-list-input.html" %}

      {% set paragraphOne = '<p>We will not show the beneficial owner’s home address unless it is the same as their correspondence address. We’ll only show the month and year of their date of birth.</p>' %}
      {% include "includes/inset-text.html" %}

      {% include "includes/save-and-continue-button.html" %}
      {% set nameToBeRemoved = first_name + " " + last_name %}

      {% if not entity_number %}
        {% include "includes/remove-button.html" %}
      {% endif %}
    </form>
  </div>
</div>
