{% set beneficialOwnerPronoun = "it" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/list/errors.html" %}

    {% if relevant_period %}
    {% include "includes/page-templates/important-banner.html" %}
    {% endif %}

    <span class="govuk-caption-xl">Beneficial owner</span>
    <h1 class="govuk-heading-xl govuk-!-margin-0">{{ title }}</h1>

    {% if relevant_period %}
    {{ govukInsetText({
    text: 'You need to enter information that is correct as at the date it ceased to be a registrable beneficial owner.'
    }) }}
    {% else %}
    <br> <p class="govuk-body">You can add more later.</p> <br>
    {% if entity_number %}
      {% include "includes/ceased-date-details-summary-new-bo.html" %}
    {% endif %}
    {% endif %}

    <form class="form" method="post">
      {% include "includes/csrf_token.html" %}  
      {% include "includes/inputs/fields/name-input.html" %}

      {% include "includes/inputs/address/principal-address-input.html" %}

      {% set hintText = "For example, limited company or partnership" %}
      {% include "includes/inputs/legal-form-input.html" %}

      {% set hintText = "This is the law that the beneficial owner operates under" %}
      {% include "includes/inputs/governing-law-input.html" %}

      {% set dateText = "When did it become a beneficial owner for the overseas entity?" %}
      {% include "includes/inputs/date/start-date-input.html" %}
      {% if entity_number %}
        {% include "includes/inputs/fields/is-still-a-beneficial-owner-input.html" %}
      {% endif %}

      {% set isBeneficialOwnerGov = true %}
      {% set natureOfControlText = "What is its nature of control?" %}
      {% include "includes/page-templates/beneficial-owner-nature-of-control-types.html" %}

      {% include "includes/inputs/fields/is-on-sanctions-list-input.html" %}

      {% include "includes/inset-text.html" %}

      {% include "includes/save-and-continue-button.html" %}
      {% set nameToBeRemoved = name %}

      {% if not entity_number %}
        {% include "includes/remove-button.html" %}
      {% endif %}
    </form>
  </div>
</div>
