{% set title = "Has the overseas entity identified any registrable beneficial owners?" %}

{% if entity_number %}
  {% extends "update-layout.html" %}
  {% set titleTemplate = "includes/update-page-title.html" %}
{% else %}
  {% extends "layout.html" %}
  {% set titleTemplate = "includes/page-title.html" %}
{% endif %}

{% block pageTitle %}
  {% include titleTemplate %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% include "includes/list/errors.html" %}
        {% if not registrationFlag %}
          <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ entity_name }} - {{ entity_number }}</span>
        {% endif %}
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        
        {% set someIdentifiedAllDetailsText = "You'll also need to provide" %}
        {% set noneIdentifiedText = "You'll need to provide" %}
        {% set allIdentifiedText="can provide" %}
        {% if (statementValidationFlag or noChangeFlag) and not registrationFlag %}
          {% set someIdentifiedAllDetailsText = "You have also provided" %}
          {% set noneIdentifiedText = "You have provided " %}
          {% set allIdentifiedText="have provided" %}
        {% endif %}

        <form method="post">
          {% include "includes/csrf_token.html" %}

            {{ govukRadios({
          errorMessage: errors.beneficial_owners_statement if errors,
          idPrefix: "beneficial_owners_statement",
          name: "beneficial_owners_statement",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "ALL_IDENTIFIED_ALL_DETAILS",
              text: "All beneficial owners have been identified and I " + allIdentifiedText + " all the required information",
              checked: beneficial_owners_statement == "ALL_IDENTIFIED_ALL_DETAILS",
              attributes: {
                "data-event-id": "all-identified-all-details-radio-option"
              }
            },
            {
              value: "SOME_IDENTIFIED_ALL_DETAILS",
              text: "Some beneficial owners have been identified and I " + allIdentifiedText +" all required information",
              hint: {
                text: someIdentifiedAllDetailsText + " information about each managing officer."
              },
              checked: beneficial_owners_statement == "SOME_IDENTIFIED_ALL_DETAILS",
              attributes: {
                "data-event-id": "some-identified-all-details-radio-option"
              }
            },
            {
              value: "NONE_IDENTIFIED",
              text: "No beneficial owners have been identified",
              hint: {
                text: noneIdentifiedText + " information about each managing officer."
              },
              checked: beneficial_owners_statement == "NONE_IDENTIFIED",
              attributes: {
                "data-event-id": "none-identified-radio-option"
              }
            }
          ]
        }) }}
        {% if registrationFlag or (not statementValidationFlag and not noChangeFlag)  %}
          {{ govukDetails({
            summaryText: "What are registrable beneficial owners and managing officers?",
            attributes: {
              "data-event-id": "what-is-a-beneficial-owner-details"
            },
            html: "<p>A beneficial owner is any legal body that has significant influence or control over the overseas entity. It can be an individual person, other legal entity, government or public authority.</p><p>A beneficial owner is registrable if they meet one or more of the conditions known as the natures of control.</p><p>A managing officer is a director, manager or company secretary of the overseas entity.</p>"
            })
          }}
        {% else %}
          {{ govukInsetText({
            html: '
              <h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
              <p>We will show the information you provide in this section on the public Register of Overseas Entities.</p>
            '
            })
          }}
        {% endif %}

        {% include "includes/save-and-continue-button.html" %}

        </form>

    </div>
  </div>
{% endblock %}