{% set beneficialOwnerPronoun = "it" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/list/errors.html" %}

    <form class="form" method="post">
      {% include "includes/page-templates/relevant-period-common-code.html" %}
      {% include "includes/csrf_token.html" %}
      {% include "includes/inputs/fields/name-input.html" %}

      {% include "includes/inputs/address/principal-address-input.html" %}

      {% set hintText = "For example, limited company or partnership" %}
      {% include "includes/inputs/legal-form-input.html" %}

      {% set hintText = "This is the law that the beneficial owner operates under" %}
      {% include "includes/inputs/governing-law-input.html" %}

      {% set dateText = "When did it become a beneficial owner for the overseas entity?" %}
      {% include "includes/inputs/date/start-date-input.html" %}
      {% if entity_number %}
        {% include "includes/inputs/fields/is-still-a-beneficial-owner-input.html" %}
      {% endif %}

      {% set isBeneficialOwnerGov = true %}
      {% set natureOfControlText = "What is its nature of control?" %}
      {% include "includes/page-templates/beneficial-owner-nature-of-control-types.html" %}

      {% if not entity_number %}
        {% include "includes/page-templates/beneficial-owner-nature-of-control-jurisdictions.html" %}
      {% endif %}

      {% include "includes/inputs/fields/is-on-sanctions-list-input.html" %}

      {% include "includes/inset-text.html" %}

      {% include "includes/save-and-continue-button.html" %}
      {% set nameToBeRemoved = name %}

      {% include "includes/inputs/relevant-period-input.html" %}

      {% if not entity_number %}
        {% include "includes/remove-button.html" %}
      {% endif %}
    </form>
  </div>
</div>
