{% call govukFieldset({
  legend: {
    text: natureOfControlText,
    classes: "govuk-fieldset__legend--m",
    isPageHeading: false
  }
}) %}

{% set errorMessage = errors.beneficial_owner_nature_of_control_types if errors %}
{% include "includes/inputs/nature-of-control-checkboxes/beneficial-owner-nature-of-control-types.html" %}

{% if not isBeneficialOwnerGov %}
  {% set errorMessage = {} if errors.beneficial_owner_nature_of_control_types %}
  {% include "includes/inputs/nature-of-control-checkboxes/trustees-nature-of-control-types.html" %}
{% endif %}

{% if FEATURE_FLAG_ENABLE_PROPERTY_OR_LAND_OWNER_NOC and not entity_number and isBeneficialOwnerIndividual %}
  {% set errorMessage = {} if errors.beneficial_owner_nature_of_control_types %}
  {% include "includes/inputs/nature-of-control-checkboxes/trust-control-nature-of-control-types.html" %}
{% endif %}

{% set errorMessage = {} if errors.beneficial_owner_nature_of_control_types %}
{% include "includes/inputs/nature-of-control-checkboxes/non-legal-firm-nature-of-control-types.html" %}

{% endcall %}
