{% set managingOfficerPronoun = "they" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}
    <span class="govuk-caption-xl">Managing officer</span>
    <h1 class="govuk-heading-xl govuk-!-margin-0">{{ title }}</h1>
    <br> <p class="govuk-body">You can add more later.</p> <br>

    {% if entity_number %}
      {% include "includes/resigned-on-details-summary-new-mo.html" %}
    {% endif %}

    <form class="form" method="post">

      {% include 'includes/csrf_token.html' %}
      
      {% include "includes/page-templates/managing-officer-names.html"%}
      {% include "includes/inputs/date/date-of-birth-input.html" %}

      {% include "includes/inputs/nationality/nationality.html" %}
      {% include "includes/inputs/nationality/second-nationality.html" %}

      {% set hintResidentialAddress = "The managing officer's home address would be shown on the public register as the correspondence address." %}
      {% include "includes/inputs/address/residential-address-input.html" %}

      {% include "includes/page-templates/managing-officer-occupation-roles.html" %}

      {% if entity_number %}
        {% set dateText = "When did they become a managing officer for the overseas entity?" %}
        {% include "includes/inputs/date/start-date-input.html" %}
        {% include "includes/inputs/fields/is-still-a-managing-officer-input.html" %}
      {% endif %}

      {% set paragraphOne = '<p>We will not show the managing officer’s home address unless it is the same as their correspondence address. We’ll only show the month and year of their date of birth.</p>' %}
      {% include "includes/inset-text.html" %}

      {% include "includes/save-and-continue-button.html" %}

      {% if not entity_number %} 
        {% set removePathURL = OE_CONFIGS.MANAGING_OFFICER_URL + OE_CONFIGS.REMOVE + "/" + id %}
        {% if FEATURE_FLAG_ENABLE_REDIS_REMOVAL %}
          {% set removePathURL = OE_CONFIGS.REGISTER_AN_OVERSEAS_ENTITY_URL + activeSubmissionBasePath + OE_CONFIGS.MANAGING_OFFICER_PAGE + OE_CONFIGS.REMOVE + "/" + id %}
        {% endif %}
        {% set nameToBeRemoved = first_name + " " + last_name %}
        {% include "includes/remove-button.html" %}
      {% endif %}
      </form>
    </div>
  </div>
