<h2 class="govuk-heading-m"> Do you need to add another trust? </h2>
<div class="govuk-inset-text">
    <p>Based on the pre-registration statement you provided earlier in this service, you also need to tell us about any trusts from this period, that the entity has not already told us about.</p>
    {% include "includes/page-templates/relevant-period.html" %}
</div>

{% set fieldParam = {
name: 'addTrust',
error: errors.addTrust,
items: [
{
value: "addTrustYes",
text: "Yes - for the current filing period",
attributes: {
"data-event-id": "add-trust-yes-radio-option"
},
checked: formData.addTrust == "addTrustYes"
}, {
value: "preRegistration",
text: "Yes - for the pre-registration period",
checked: formData.preRegistrationPeriod == "preRegistration"
},
{
value: "noTrust",
text: "No",
attributes: {
"data-event-id": "add-trust-no-radio-option"
},
checked: formData.addTrust == "noTrust"
}
]
} %}
{% include "includes/inputs/radio-input.html" %}
{% if isUpdate %}
{% include "includes/save-and-continue-button.html" %}
{% else %}
{% include "includes/continue-button.html" %}
{% endif %}