{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <span class="govuk-caption-l">{{ pageData.trustData.trustName }}</span>
      <h1 class="govuk-heading-xl">{{ pageParams.title }}</h1>

      {% set reviewedBoItems = [] %}
      {% set addedBoItems = [] %}
      {% for bo in pageData.boInTrust %}
        {% if pageData.isReview %}
          {% set type = "Beneficial Owner" %}
        {% else %}
          {% set type = pageData.beneficialOwnerTypeTitle[bo.type] %}
        {% endif %}
        {% set row = {
          key: { text: type },
          value: { text: bo.name }
        } %}
        {% if pageData.isReview %}
          {% set reviewedBoItems = (reviewedBoItems.push(row), reviewedBoItems) %}
        {% else %}
          {% set addedBoItems = (addedBoItems.push(row), addedBoItems) %}
        {% endif %}
      {% endfor %}

      {% set reviewedFormerTrustees = [] %}
      {% set addedFormerTrustees = [] %}
      {% for trustee in pageData.formerTrusteeData %}
        {% set type = pageData.trusteeTypeTitle[pageData.trusteeType.HISTORICAL] %}
        {% if trustee.forename and trustee.surname or trustee.firstName and trustee.lastName %}
          {% set name = trustee.firstName + " " + trustee.lastName if pageData.isReview else trustee.forename + " " + trustee.surname %}
          {% set formerTrusteeChangeName = OE_CONFIGS.INDIVIDUAL_NAME %}
        {% else %}
          {% set name = trustee.corporate_name %}
          {% set formerTrusteeChangeName = OE_CONFIGS.CORPORATE_NAME %}
        {% endif %}
        {% if pageData.isReview %}
          {% set changeLink = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_TELL_US_ABOUT_THE_FORMER_BO_URL + "/" + trustee.boId + formerTrusteeChangeName %}
        {% else %}
          {% set changeLink = OE_CONFIGS.TRUST_HISTORICAL_BENEFICIAL_OWNER_PAGE + "/" + trustee.id + formerTrusteeChangeName %}
        {% endif %}

        {% set row = {
          key: { text: type },
          value: { text: name },
          actions: {
            items: [CREATE_CHANGE_LINK(changeLink, "Former Trustee " + name, "change-former-trustee-button")]
          }
        } %}

        {% if not pageData.isReview %}
          {% set addedFormerTrustees = (addedFormerTrustees.push(row), addedFormerTrustees) %}
        {% else %}
          {% if trustee.is_newly_added %}
            {% set addedFormerTrustees = (addedFormerTrustees.push(row), addedFormerTrustees) %}
          {% else %}
            {% set reviewedFormerTrustees = (reviewedFormerTrustees.push(row), reviewedFormerTrustees) %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% set reviewedIndividualTrustees = [] %}
      {% set addedIndividualTrustees = [] %}
      {% for trustee in pageData.individualTrusteeData %}
        {% set type = pageData.trusteeType.INDIVIDUAL | capitalize %}
        {% set name = trustee.forename + " " + trustee.surname %}
        {% if pageData.isReview %}
          {% set changeLink = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_TELL_US_ABOUT_THE_INDIVIDUAL_URL + "/" + trustee.trusteeId + OE_CONFIGS.FORENAME %}
        {% else %}
          {% set changeLink = OE_CONFIGS.TRUST_INDIVIDUAL_BENEFICIAL_OWNER_PAGE + "/" + trustee.id + OE_CONFIGS.FORENAME %}
        {% endif %}

        {% set row = {
          key: { text: type },
          value: { text: name },
          actions: {
            items: [CREATE_CHANGE_LINK(changeLink, "Individual Trustee " + name, "change-individual-trustee-button")]
          }
        } %}

        {% if not pageData.isReview %}
          {% set addedIndividualTrustees = (addedIndividualTrustees.push(row), addedIndividualTrustees) %}
        {% else %}
          {% if trustee.is_newly_added %}
            {% set addedIndividualTrustees = (addedIndividualTrustees.push(row), addedIndividualTrustees) %}
          {% else %}
            {% set reviewedIndividualTrustees = (reviewedIndividualTrustees.push(row), reviewedIndividualTrustees) %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% set reviewedLegalEntityTrustees = [] %}
      {% set addedLegalEntityTrustees = [] %}
      {% for trustee in pageData.trustees %}
        {% set type = pageData.trusteeTypeTitle[trustee.trusteeItemType] %}
        {% if pageData.isReview %}
          {% set changeLink = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_TELL_US_ABOUT_THE_LEGAL_ENTITY_URL + "/" + trustee.id + OE_CONFIGS.LEGAL_ENTITY_NAME %}
        {% else %}
          {% set changeLink = OE_CONFIGS.TRUST_LEGAL_ENTITY_BENEFICIAL_OWNER_PAGE + "/" + trustee.id + OE_CONFIGS.LEGAL_ENTITY_NAME %}
        {% endif %}

        {% set row = {
          key: { text: type },
          value: { text: trustee.name },
          actions: {
            items: [CREATE_CHANGE_LINK(changeLink, "Legal Entity Trustee " + trustee.name, "change-legal-entity-trustee-button")]
          }
        } %}

        {% if not pageData.isReview %}
          {% set addedLegalEntityTrustees = (addedLegalEntityTrustees.push(row), addedLegalEntityTrustees) %}
        {% else %}
          {% if trustee.is_newly_added %}
            {% set addedLegalEntityTrustees = (addedLegalEntityTrustees.push(row), addedLegalEntityTrustees) %}
          {% else %}
            {% set reviewedLegalEntityTrustees = (reviewedLegalEntityTrustees.push(row), reviewedLegalEntityTrustees) %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if pageData.isReview %}
        {% if reviewedBoItems | length or reviewedFormerTrustees | length or reviewedIndividualTrustees | length or reviewedLegalEntityTrustees | length %}
          <h1 class="govuk-heading-m">
            What you have reviewed for this trust
          </h1>
          {{ govukSummaryList({
            rows: reviewedBoItems
          }) }}

          {{ govukSummaryList({
            rows: reviewedFormerTrustees
          }) }}

          {{ govukSummaryList({
            rows: reviewedIndividualTrustees
          }) }}

          {{ govukSummaryList({
            rows: reviewedLegalEntityTrustees
          }) }}

        {% endif %}
      {% endif %}

      {% if addedBoItems | length or addedFormerTrustees | length or addedIndividualTrustees | length or addedLegalEntityTrustees | length %}
        <h1 class="govuk-heading-m">
          What <span class="govuk-visually-hidden">individuals or entities</span>
          you have added so far for this trust
        </h1>
        {{ govukSummaryList({
          rows: addedBoItems
        }) }}

        {{ govukSummaryList({
          rows: addedFormerTrustees
        }) }}

        {{ govukSummaryList({
          rows: addedIndividualTrustees
        }) }}

        {{ govukSummaryList({
          rows: addedLegalEntityTrustees
        }) }}
        
      {% endif %}

      <form class="form" method="post">
        {{
          csrfTokenInput({
            csrfToken: csrfToken
          })
        }}

        {% set fieldParam = {
          name: 'typeOfTrustee',
          label: 'Which type of individual or entity do you want to add to this trust?',
          error: errors.typeOfTrustee,
          items: [
            {
              value: pageData.trusteeType.HISTORICAL,
              text: "Former beneficial owner",
              hint: {
                text: "This is any individual or legal entity that was previously a registrable beneficial owner of the overseas entity, due to being a trustee of this trust."
              },
              checked: typeOfTrustee == pageData.trusteeType.HISTORICAL,
              attributes: {
                "data-event-id": "former-beneficial-owner-radio-option"
              }
            }, {
              value: pageData.trusteeType.INDIVIDUAL,
              text: "Individual",
              hint: {
                text: "This is an individual who is currently a beneficiary, settlor, grantor or interested person for this trust."
              },
               checked: typeOfTrustee == pageData.trusteeType.INDIVIDUAL,
              attributes: {
                "data-event-id": "individual-radio-option"
              }
            }, {
              value: pageData.trusteeType.LEGAL_ENTITY,
              text: "Legal entity",
              hint: {
                text: "This is a legal entity that is currently a beneficiary, settlor, grantor or interested person for this trust. You do not need to tell us about government or public authorities."
              },
              checked: typeOfTrustee == pageData.trusteeType.LEGAL_ENTITY,
              attributes: {
                "data-event-id": "legal-entity-radio-option"
              }
            }
          ]
        } %}
        {% include "includes/inputs/radio-input.html" %}

        <div class="govuk-button-group">
          {{ govukButton({
              text: "Add",
            attributes: {
              "id": "add",
              "data-event-id": "trust-involved-page-add-button"
            }
            }) }}

          {{ govukButton({
              attributes: {
                "id": "noMoreToAdd",
                "name": "noMoreToAdd",
                "value": "noMoreToAdd"
              },
              html: 'No more <span class="govuk-visually-hidden">individuals or entities</span> to add',
              classes: "govuk-button--secondary"
            }) }}
        </div>

      </form>
    </div>
  </div>

{% endblock %}
