<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if pageData.relevantPeriod %}
      {% include "includes/page-templates/important-banner.html" %}
    {% endif %}
    {% include "includes/list/errors.html" %}

    {# Check if there are any beneficial owners. If the length of the 'beneficialOwners' array is 0, then 'isTrustToBeCeased' will be true #}
    {# and can be used to show the ceased date - only for 'review' mode (review mode is only in update journey) #}
    {% set isTrustToBeCeased = pageData.beneficialOwners | length == 0 %}

    {% if isReview %}
      {% if isTrustToBeCeased and isFeatureFlagCeaseTrustsEnabled %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              This trust is no longer associated with a beneficial owner and will be removed.</p>
            <p>Review the trust information and make sure it is correct as at the date the trust stopped being associated with the overseas entity.</p>
            <p>If you don't want to remove this trust, you need to change the nature of control for the beneficial owner it is associated with, or link it to a new beneficial owner.</p>
          </div>
        </div>
      {% endif %}

      <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ formData.name }}</span>
    {% endif %}

    {% if pageData.relevantPeriod %}
      <h1 class="govuk-heading-xl">Tell us about the trust involved in the pre-registration period</h1>

      {{ govukInsetText({
        text: "You need to enter information that is correct as at the date the trust stopped being associated with the overseas entity."
      }) }}
    {% else %}
      <h1 class="govuk-heading-xl">{{ pageParams.title }}</h1>

      <p class="govuk-caption-l govuk-!-margin-bottom-8">{{ pageParams.subtitle }}</p>
    {% endif %}

    <form class="form" method="post">
      {% include "includes/csrf_token.html" %}

      {% set fieldParam = {
        name: 'name',
        label: 'What is the name of the trust?',
        hint: 'If the trust does not have a name, give a description that it can be identified by.',
        value: formData.name | truncate(160),
        error: errors.name if errors
      } %}
      {% include "includes/inputs/text-input.html" %}

      {% set date_classes_year = "govuk-input--width-4 govuk-input" %}
      {% set date_classes_month = "govuk-input--width-2 govuk-input" %}
      {% set date_classes_day = "govuk-input--width-2 govuk-input" %}

      {% if isReview %}
        <h1 class="govuk-heading-m govuk-!-margin-0">Date the trust was created:</h1>
        <label class="govuk-label govuk-!-margin-bottom-7">{{ formatted_creation_date }}</label>
        <br>

        {% if isTrustToBeCeased and isFeatureFlagCeaseTrustsEnabled %}
          {% set fieldParam = {
            name: 'ceasedDate',
            label: 'When did this trust stop being associated with the overseas entity?',
            hint: "For example, 27 3 2007. This trust's information must be correct to this date.",
            error: errors.ceasedDate if errors,
            value: {
              'Day': formData.ceasedDateDay,
              'Month': formData.ceasedDateMonth,
              'Year': formData.ceasedDateYear
            }
          } %}
          {% include "includes/inputs/date-input.html" %}
        {% endif %}
      {% else %}
        {% set fieldParam = {
          name: 'createdDate',
          label: 'When was the trust created?',
          error: errors.createdDate if errors,
          value: {
            'Day': formData.createdDateDay,
            'Month': formData.createdDateMonth,
            'Year': formData.createdDateYear
          }
        } %}
        {% include "includes/inputs/date-input.html" %}
      {% endif %}

      {% set isUpdateOrRemoveJourney = (isUpdate or journey === "remove") %}

      {% if not isTrustToBeCeased and isUpdateOrRemoveJourney %}
        {% if pageData.relevantPeriod %}
          {% set fieldParam = {
          name: 'ceasedDate',
          label: 'When did this trust stop being associated with the overseas entity?',
          hint: "For example, 27 3 2007. This trust's information must be correct to this date.",
          error: errors.ceasedDate if errors,
          value: {
          'Day': formData.ceasedDateDay,
          'Month': formData.ceasedDateMonth,
          'Year': formData.ceasedDateYear
          }
          } %}
          {% include "includes/inputs/date-input.html" %}
        {% else %}
          {% set ceasedDateLabel = "When did this trust stop being associated with the overseas entity?" %}
          {% set ceasedDateHint = "For example, 27 3 2007. This trust's information must be correct to this date." %}
          {% set stillInvolvedLegendText = "Is the trust still involved in the overseas entity?" %}
          {% include "includes/inputs/date/trust-ceased-date-input.html" %}
        {% endif %}
      {% endif %}

      {% set boItems = [] %}
      {% set beneficialOwnersIds = formData.beneficialOwnersIds if formData.beneficialOwnersIds else [] %}
      {% for bo in pageData.beneficialOwners %}
        {% set boItems = (
          boItems.push({
            id: "trustBeneficialOwners",
            value: bo.id,
            text: bo.name,
            checked: true if bo.id in beneficialOwnersIds
          }),
          boItems
          ) %}
      {% endfor %}
      {% if boItems | length %}
        {% set fieldParam = {
          name: 'beneficialOwnersIds',
          label: 'Which of the overseas entity’s beneficial owners are trustees of this trust?',
          hint: 'Select all that apply. You can add more later.',
          error: errors.beneficialOwnersIds if errors,
          items: boItems
        } %}
      {% include "includes/inputs/checkbox-input.html" %}
      {% endif %}

      {% set fieldParam = {
        name: 'hasAllInfo',
        label: 'To the best of their knowledge, does the entity have all the required information about the trust?',
        error: errors.hasAllInfo if errors,
        items: [
          {
            value: '1',
            text: 'Yes',
            checked: formData.hasAllInfo == '1',
            attributes: {
              "data-event-id": "hasAllInfo-yes-radio-option"
            }
          },
          {
            value: '0',
            text: 'No',
            checked: formData.hasAllInfo == '0',
            attributes: {
              "data-event-id": "hasAllInfo-no-radio-option"
            }
          }
        ]
      } %}
      {% include "includes/inputs/radio-input.html" %}

      {{ govukInsetText({
        html: '
          <h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
          <p>We will not show any of the information you provide on this screen on the public Register of Overseas Entities. However, we may share it with HMRC.</p>
        '
      }) }}

      <input type="hidden" name="trustId" value="{{ formData.trustId }}"/>

      {% if isReview %}
        <input type="hidden" name="createdDateDay" value="{{ formData.createdDateDay }}"/>
        <input type="hidden" name="createdDateMonth" value="{{ formData.createdDateMonth }}"/>
        <input type="hidden" name="createdDateYear" value="{{ formData.createdDateYear }}"/>
      {% endif %}

      {% if pageData.relevantPeriod %}
        <input type="hidden" name="stillInvolved" value="0"/>
      {% endif %}
      
      {% include "includes/save-and-continue-button.html" %}
    </form>
  </div>
</div>
