<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}

    <form method="post">
      
      {% include 'includes/csrf_token.html' %}
      
      {% set fieldParam = {
        name: 'who_is_registering',
        error: errors.who_is_registering if errors,
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        },
        items: [
          {
            value: "agent",
            text: "Someone who works for the UK-regulated agent that carried out verification checks",
            checked: who_is_registering === "agent"
          },
          {
            value: "someone_else",
            text: "Someone else",
            checked: who_is_registering === "someone_else"
          }
        ]
      } %}
      {% include "includes/inputs/radio-input.html" %}
      {% include "includes/continue-button.html" %}
    </form>
  </div>
</div>
