{% set filingDateErrorMsg = '' %}
{% set isFilingDateDayError = false %}
{% set isFilingDateMonthError = false %}
{% set isFilingDateYearError = false %}

{# We are constrained by the generic validation handling so have to manipulate the error data in the template rather than the controller #}
{# We need to loop through the errors returned to pick out the first identity_date error #}
{# to prevent duplicate messages on the same field. #}
{# We can use its message text and then work out which of the day/month/year fields #}
{# to mark as 'red' using the error style class #}

{% if errors %}
  {% for key, value in errors %}

    {# only look at first matching error #}
    {% if not filingDateErrorMsg %}
      {% if "filing_date" == key|string %}
        {# if the matching error is for the whole date field, look at the data to see what has not been populated in the date #}
        {% set filingDateErrorMsg = value %}
        {% if filing_date %}
          {% if not filing_date["filing_date-day"] %}
            {% set isFilingDateDayError = true %}
          {% endif %}
          {% if not identity_date["filing_date-month"] %}
            {% set isFilingDateMonthError = true %}
          {% endif %}
          {% if not identity_date["filing_date-year"] %}
            {% set isFilingDateYearError = true %}
          {% endif %}
        {% endif %}
        {% elif "filing_date" in key|string %}
          {# if the matching error is for a -day,-month,-year field, set the flag to mark that field as in error #}
            {% set filingDateErrorMsg = value %}
            {% if "-day" in key|string %}
              {% set isFilingDateDayError = true %}
            {% elif "-month" in key|string %}
              {% set isFilingDateMonthError = true %}
            {% elif "-year" in key|string %}
              {% set isFilingDateYearError = true %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}


{% set filing_date_classes_year = "govuk-input--width-4 govuk-input" %}
{% set filing_date_classes_month = "govuk-input--width-2 govuk-input" %}
{% set filing_date_classes_day = "govuk-input--width-2 govuk-input" %}

{% if isFilingDateDayError %}
  {% set filing_date_classes_day = filing_date_classes_day + "--error" %}
{% endif %}
{% if isFilingDateMonthError %}
  {% set filing_date_classes_month = filing_date_classes_month + "--error" %}
{% endif %}
{% if isFilingDateYearError %}
  {% set filing_date_classes_year = filing_date_classes_year + "--error" %}
{% endif %}

{{ govukDateInput({
  errorMessage: filingDateErrorMsg,
  id: "filing_date",
  namePrefix: "filing_date",
  fieldset: {
    legend: {
    text: filingDateLabelText,
    isPageHeading: false,
    classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: "For example, 29 8 2023. <br>An update period can be a maximum of 12 months."
  },
  items: [
    {
      classes: filing_date_classes_day,
      name: "day",
      value: filing_date["filing_date-day"] if filing_date
    },
    {
      classes: filing_date_classes_month,
      name: "month",
      value: filing_date["filing_date-month"] if filing_date
    },
    {
      classes: filing_date_classes_year,
      name: "year",
      value: filing_date["filing_date-year"] if filing_date
    }
  ]
}) }}