{% set identityDateErrorMsg = '' %}
{% set isIdentityDateDayError = false %}
{% set isIdentityDateMonthError = false %}
{% set isIdentityDateYearError = false %}

{% if errors %}
  {% for key, value in errors %}

    {% if "identity_date" == key|string %}
      {% set identityDateErrorMsg = value %}
      {% if identity_date %}
        {% if not identity_date["identity_date-day"] %}
          {% set isIdentityDateDayError = true %}
        {% endif %}
        {% if not identity_date["identity_date-month"] %}
          {% set isIdentityDateMonthError = true %}
        {% endif %}
        {% if not identity_date["identity_date-year"] %}
          {% set isIdentityDateYearError = true %}
        {% endif %}
      {% endif %}
    {% elif not identityDateErrorMsg and "identity_date" in key|string %}
      {% set identityDateErrorMsg = value %}
      {% if "-day" in key|string %}
        {% set isIdentityDateDayError = true %}
      {% elif "-month" in key|string %} 
        {% set isIdentityDateMonthError = true %}
      {% elif "-year" in key|string %} 
        {% set isIdentityDateYearError = true %}
      {% endif %}

    {% endif %}
  {% endfor %}    
{% endif %}


{% set identity_date_classes_year = "govuk-input--width-4 govuk-input" %}
{% set identity_date_classes_month = "govuk-input--width-2 govuk-input" %}
{% set identity_date_classes_day = "govuk-input--width-2 govuk-input" %}

{% if isIdentityDateDayError %}
  {% set identity_date_classes_day = identity_date_classes_day + "--error" %}
{% endif %}
{% if isIdentityDateMonthError %}
  {% set identity_date_classes_month = identity_date_classes_month + "--error" %}
{% endif %}
{% if isIdentityDateYearError %}
  {% set identity_date_classes_year = identity_date_classes_year + "--error" %}
{% endif %}

{{ govukDateInput({
  errorMessage: identityDateErrorMsg,
  id: "identity_date",
  namePrefix: "identity_date",
  fieldset: {
    legend: {
      text: identityDateLabelText,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    html: "For example, 21 7 2022. <br>The checks must have been carried out in the last 3 months."
  },
  items: [
    {
      classes: identity_date_classes_day,
      name: "day",
      value: identity_date["identity_date-day"] if identity_date
    },
    {
      classes: identity_date_classes_month,
      name: "month",
      value: identity_date["identity_date-month"] if identity_date
    },
    {
      classes: identity_date_classes_year,
      name: "year",
      value: identity_date["identity_date-year"] if identity_date
    }
  ]
}) }}
