{% set resignedOnErrorMessage = '' %}
{% set isResignedOnDayError = false %}
{% set isResignedOnMonthError = false %}
{% set isResignedOnYearError = false %}

{# We are constrained by the generic validation handling so have to manipulate the error data in the template rather than the controller #}
{# We need to loop through the errors returned to pick out the first resigned_on error #}
{# to prevent duplicate messages on the same field. #}
{# We can use its message text and then work out which of the day/month/year fields #}
{# to mark as 'red' using the error style class #}

{% if errors %}
  {% for key, value in errors %}

    {# only look at first matching error #}
    {% if not resignedOnErrorMessage %}
      {% if "resigned_on" == key|string %}
        {# if the matching error is for the whole date field, look at the data to see what has not been populated in the date #}
        {% set resignedOnErrorMessage = value %}
        {% if resigned_on %}
          {% if not resigned_on["resigned_on-day"] %}
            {% set isResignedOnDayError = true %}
          {% endif %}
          {% if not resigned_on["resigned_on-month"] %}
            {% set isResignedOnMonthError = true %}
          {% endif %}
          {% if not resigned_on["resigned_on-year"] %}
            {% set isResignedOnYearError = true %}
          {% endif %}
        {% endif %}
      {% elif "resigned_on" in key|string %}
        {# if the matching error is for a -day,-month,-year field, set the flag to mark that field as in error #}
        {% set resignedOnErrorMessage = value %}
        {% if "-day" in key|string %}
          {% set isResignedOnDayError = true %}
        {% elif "-month" in key|string %}
          {% set isResignedOnMonthError = true %}
        {% elif "-year" in key|string %}
          {% set isResignedOnYearError = true %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}


{% set resigned_on_classes_year = "govuk-input--width-4 govuk-input" %}
{% set resigned_on_classes_month = "govuk-input--width-2 govuk-input" %}
{% set resigned_on_classes_day = "govuk-input--width-2 govuk-input" %}

{% if isResignedOnDayError %}
  {% set resigned_on_classes_day = resigned_on_classes_day + "--error" %}
{% endif %}
{% if isResignedOnMonthError %}
  {% set resigned_on_classes_month = resigned_on_classes_month + "--error" %}
{% endif %}
{% if isResignedOnYearError %}
  {% set resigned_on_classes_year = resigned_on_classes_year + "--error" %}
{% endif %}


{{ govukDateInput({
  errorMessage: resignedOnErrorMessage,
  id: "resigned_on",
  namePrefix: "resigned_on",
  fieldset: {
    legend: {
      text: dateText,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  },
  items: [
    {
      classes: resigned_on_classes_day,
      name: "day",
      value: resigned_on["resigned_on-day"] if resigned_on
    },
    {
      classes: resigned_on_classes_month,
      name: "month",
      value: resigned_on["resigned_on-month"] if resigned_on
    },
    {
      classes: resigned_on_classes_year,
      name: "year",
      value: resigned_on["resigned_on-year"] if resigned_on
    }
  ]
}) }}
