{% extends "update-layout.html" %}

{% set title = "You cannot apply to remove this overseas entity" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %} 
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You cannot apply to remove this overseas entity</h1>
      <p class="govuk-body"> We cannot remove an overseas entity if it:
        <ul class="govuk-list govuk-list--bullet">
          <li>owns any property or land in the UK</li>
          <li>still appears on any land registry records as the registered owner of relevant property or land in the UK</li>
        </ul>
      </p>

      <details class="govuk-details" data-module="govuk-details" data-event-id="relevant-property-or-land-meaning-dropdown">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What does 'relevant property or land' mean?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">This means property or land in the UK that was bought on or after:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>1 January 1999 in England and Wales</li>
            <li>8 December 2014 in Scotland</li>
            <li>5 September 2022 in Northern Ireland</li>
          </ul>
        </div>
      </details>

      <h3 class="govuk-heading-s">What to do next</h3>

      <p class="govuk-body">
        If you've already registered the disposal of property or land with the relevant land registry, you need to
        wait until it has been removed from their records.
      </p>
      <p class="govuk-body">You can search the land registries online to check if the overseas entity is still listed on their records
          (they will charge a fee):
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="https://www.gov.uk/government/organisations/land-registry" class="govuk-link"data-event-id="remove-hm-land-registry-link">HM Land Registry</a> (for England
            and Wales)
          </li>
          <li>
            <a href="https://www.ros.gov.uk/our-registers/land-register-of-scotland" class="govuk-link"data-event-id="remove-land-registry-of-scotland-link">Land Register of Scotland</a>
          </li>
          <li>
            <a href="https://www.nidirect.gov.uk/articles/searching-land-registry" class="govuk-link" data-event-id="remove-land-registry-for-northern
          -ireland-link">Land Registry for Northern
            Ireland</a>
          </li>
        </ul>
      </p>
      <p class="govuk-body">
        You may also need to <a href="https://www.gov.uk/guidance/file-an-overseas-entity-update-statement" class="govuk-link" data-event-id="update-guidance-link">file your overseas entity update statement</a> if it is due.
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/contact-companies-house" class="govuk-link" data-event-id="remove-contact-companies-house-link">Contact Companies House</a> if you need to speak to someone.
      </p>
    </div>
  </div>
{% endblock %}