<h2 class="govuk-heading-l govuk-!-margin-0">What <span class="govuk-visually-hidden"> beneficial owners or managing officers</span> you have added so far:</h2>
<br>
{% include "includes/list/beneficial-owner.html" %}
{% include "includes/list/managing-officer.html" %}

{% if (hasTrusts) %}
  {% set nextPage = "trust-information" %}
{% else %}
  {% set nextPage = "check-your-answers" %}
{% endif %}

<a href= "/register-an-overseas-entity/"  + {{ nextPage }} role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-top- 6" data-module="govuk-button" id="submit">No more <span class="govuk-visually-hidden"> beneficial owners or managing officers</span> to add</a>
