{% set isUpdateOrRemoveJourney = (isUpdate or journey === "remove") %}

{% if isUpdateOrRemoveJourney %}
  {% set stillInvolvedCeasedDateHtml %}
    {% set fieldParam = {
      name: 'ceasedDate',
      label: 'Date it ceased to be involved in the trust',
      hint: "For example, 27 1 2023.",
      error: errors.ceasedDate if errors,
      classes: "govuk-fieldset__legend--s",
      value: {
        'Day': formData.ceasedDateDay,
        'Month': formData.ceasedDateMonth,
        'Year': formData.ceasedDateYear
      }
    } %}
    {% include "includes/inputs/date-input.html" %}
  {% endset %}

  {{ govukRadios({
    errorMessage: errors.stillInvolved if errors,
    classes: "govuk-radios",
    idPrefix: "stillInvolved",
    name: "stillInvolved",
    fieldset: {
      legend: {
        text: 'Is it still involved in the trust?',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: '1',
        text: 'Yes',
        checked: formData.stillInvolved == '1',
        attributes: {
          "data-event-id": "stillInvolved-yes-radio-option"
        }
      },
      {
        value: '0',
        text: 'No',
        checked: formData.stillInvolved == '0',
        attributes: {
          "data-event-id": "stillInvolved-no-radio-option"
        },
        conditional: {
          html: stillInvolvedCeasedDateHtml
        }
      }
    ]
  }) }}
{% endif %}  
