{% if beneficialOwnerPronoun == "they" %}
  {% set sanctionsListHintText = "This means that they are subject to sanctions under the Sanctions and Anti-Money Laundering Act 2018." %}
  {% set sanctionsListText = "Are they on the UK Sanctions List?" %}
  {% set sanctionsListNoText = "No, they are not on the Sanctions List" %}
  {% set sanctionsListYesText = "Yes, they are on the Sanctions List" %}
{% else %}
  {% set sanctionsListHintText = "This means that it is subject to sanctions under the Sanctions and Anti-Money Laundering Act 2018." %}
  {% set sanctionsListText = "Is it on the UK Sanctions List?" %}
  {% set sanctionsListNoText = "No, it is not on the Sanctions List" %}
  {% set sanctionsListYesText = "Yes, it is on the Sanctions List" %}
{% endif %}

{{ govukRadios({
  errorMessage: errors.is_on_sanctions_list if errors,
  classes: "govuk-radios",
  idPrefix: "is_on_sanctions_list",
  name: "is_on_sanctions_list",
  fieldset: {
    legend: {
      text: sanctionsListText,
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: sanctionsListHintText
  },
  items: [
    {
      value: 0,
      text: sanctionsListNoText,
      checked: is_on_sanctions_list == 0
    },
    {
      value: 1,
      text: sanctionsListYesText,
      checked: is_on_sanctions_list == 1
    }
  ]
}) }}

{% if not isReview %}
  <details class="govuk-details" data-module="govuk-details" data-event-id="sanctions-list-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        How to check if a beneficial owner is on the UK Sanctions List
      </span>
    </summary>
    <div class="govuk-details__text">
      <a class="govuk-link" href="https://www.gov.uk/government/publications/the-uk-sanctions-list" target="_blank" rel="noopener noreferrer" data-event-id="sanctions-list-details-link">Search the UK Sanctions List (opens in a new tab)</a> to check if a beneficial owner is subject to sanctions under the Sanctions and Anti-Money Laundering Act 2018.
    </div>
  </details>
{% endif %}


