{% if errors %}
  {% if errors.public_register_name.text == ERROR_MESSAGES.MAX_ENTITY_PUBLIC_REGISTER_NAME_AND_JURISDICTION_LENGTH  %}
    {% set errorMsg = errors.public_register_name %}
  {% else %}
    {% set errorMsg = errors.public_register_jurisdiction %}
  {% endif %}
{% endif %}
{{ govukInput({
  errorMessage: errorMsg if errors,
  id: "public_register_jurisdiction",
  name: "public_register_jurisdiction",
  value: public_register_jurisdiction,
  hint: {
    text: "For example, Jersey."
  },
  label: {
    text: "Jurisdiction"
  }
}) }}
