{% extends "update-layout.html" %}
{% import "includes/date-macros.html" as dateMacros %}

{% set title = "Confirm this is the correct overseas entity" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% set displayRegistrationDate = dateMacros.formatDate(registrationDate["day"], registrationDate["month"], registrationDate["year"]) %}

{% if (journey == "remove") %}
  {% set chooseLink = "/update-an-overseas-entity/overseas-entity-query?journey=remove" %}  
{% else %}
  {% set chooseLink = "/update-an-overseas-entity/overseas-entity-query" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/list/errors.html" %}
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        {{ govukTable({
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: "Name",
                attributes: {
                  "id": "oe_entity_name"
                }
              },
              {
                text: appData.entity_name,
                attributes: {
                  "id": "oe_entity_name_value"
                }
              }
            ],
            [
              {
                text: "Overseas Entity ID",
                attributes: {
                  "id": "oe_entity_number"
                }
              },
              {
                text: appData.entity_number,
                attributes: {
                  "id": "oe_entity_number_value"
                }
              }
            ],
            [
              {
                text: "Formed in",
                attributes: {
                  "id": "oe_entity_incorporation_country"
                }
              },
              {
                text: "" if appData.entity === undefined else appData.entity.incorporation_country,
                attributes: {
                  "id": "oe_entity_incorporation_country_value"
                }
              }
            ],
            [
              {
                text: "Date registered on the Register of Overseas Entities",
                attributes: {
                  "id": "oe_entity_registered_date"
                }
              },
              {
                text: displayRegistrationDate,
                attributes: {
                  "id": "oe_entity_registered_date_value"
                }
              }
            ]
          ]
          })
        }}
      <br>
      <form method="post">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm and continue",
            attributes: {
              "id": "submit"
            }
          }) }}
        </div>
        <br>
          <a href="{{ chooseLink }}" class="govuk-link govuk-link--no-visited-state">Choose a different overseas entity</a>
      </form>
    </div>
  </div>
{% endblock %}
