{% extends "update-layout.html" %}

{% if (journey == "remove") %}
  {% set title = "Do you need to make any changes to this overseas entity before it is removed?" %}
  {% set titleHintText = "All information about the overseas entity must be correct as at the date of this application. This includes information about any beneficial owners and managing officers." %}
  {% set yesOptionHintText = "All changes must have been verified by a UK-regulated agent no more than 3 months before the date of this application." %}
  {% set noOptionHintText = "Later in the service, we will show you all the information we hold and ask you to confirm that it is correct." %}
{% else %}
  {% set title = "Do you need to make any changes to this overseas entity?" %}
  {% set titleHintText = "This includes any changes to information about the overseas entity, its beneficial owners or managing officers." %}
  {% set yesOptionHintText = "All changes must have been verified by a UK-regulated agent no more than 3 months before the date of this update statement." %}
  {% set noOptionHintText = "" %}
{% endif %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/list/errors.html" %}
    <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ entity_name }} - {{ entity_number }}</span>

    <form method="post">
      {{ govukRadios({
        errorMessage: errors.no_change if errors,
        classes: "govuk-radios--inline",
        idPrefix: "no_change",
        name: "no_change",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: titleHintText
        },
        items: [
          {
            value: 0,
            text: "Yes, I need to make changes",
            hint: {
              text: yesOptionHintText
            },
            checked: no_change == 0,
            attributes: {
              "data-event-id": "yes-make-oe-change"
            }
          },
          {
            value: 1,
            text: "No, I do not need to make changes",
            hint: {
              text: noOptionHintText
            },
            checked: no_change == 1,
            attributes: {
              "data-event-id": "no-do-not-make-oe-change"
            }
          }
        ]
      }) }}

      {% include "includes/save-and-continue-button.html" %}
    </form>
  </div>
</div>
{% endblock %}