{% extends "layout.html" %}

{% set title = "What is the OE number? (NOT LIVE)" %}

{% block pageTitle %}
    {% include "includes/page-title.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner.html" %}
  {% include "includes/no-back-link.html" %}
{% endblock %}

{% block content %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{title}}</h1>
        {% if errorList %}
            {{ govukErrorSummary
              ({
                titleText: "There is a problem",
                errorList: [
                {
                  text: errorList,
                  href: "#oe_number"
                }
               ]
              }) 
            }}
        {% endif %}
        {% include "includes/list/errors.html" %}
        <form method="post">
            {{ govukInput
              ({
                label: {
                    text: title,
                    isPageHeading: false,
                    classes: "govuk-visually-hidden"
                },
                errorMessage: errors.oe_number if errors,
                id: "oe_number",
                name: "oe_number",
                value: oe_number
              }) 
            }}
            {% include "includes/continue-button.html" %}
        </form>
    </div>
</div>
{% endblock %}