{% extends "submit-by-paper-template.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You'll need to file an update statement using the paper form</h1>
      <p class="govuk-body">You've told us that you cannot provide all the required information about the pre-registration period.</p>
      <p class="govuk-body">This means you need to file the overseas entity update statement on paper instead.</p>
      <p class="govuk-body">Contact us at <a href="mailto: enquiries@companieshouse.gov.uk" class="govuk-link">enquiries@companieshouse.gov.uk</a> if you need us to send you a paper form. </p>
    </div>
  </div>

{% endblock %}
