{% extends "submit-by-paper-template.html" %}

{% set title = "You'll need to file this year's update statement using the paper form" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You'll need to file this year's update statement using the paper form</h1>
      <p class="govuk-body">You've told us that you want to provide this overseas entity's pre-registration information as part of its next update statment.</p>
      <p class="govuk-body">This means you need to file this year's update statement on paper.</p>
      <p class="govuk-body">Contact us at <a href="mailto: enquiries@companieshouse.gov.uk" class="govuk-link">enquiries@companieshouse.gov.uk</a> if you need us to send you a paper form. </p>
    </div>
  </div>

{% endblock %}
