{% extends "layouts/main.html" %}

{% set title = Apply to remove an overseas entity from the register %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %} 
  {% include "includes/back-link.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% include "includes/list/errors.html" %}

      <form class="form">
        <span class="govuk-caption-l">{{ appData.entity_name }} - {{ appData.entity_number }}</span>
        {{ govukCheckboxes({
          name: "waste",
            fieldset: {
              legend: {
                text: "Confirm the removal statement",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "removal-declaration",
                text: "
                I confirm that the overseas entity is not registered as the proprietor of a relevant interest in land. "
              }
            ]
          })
        }}

        {{ govukInsetText({
          html: '<h2 class="govuk-heading-m">What information we’ll show on the public register</h2>
            <p>We will show this statement on the public Register of Overseas Entities.</p>'
          })
        }}

        {{ govukButton({
          text: "Save and continue",
          href: "36-check-your-answers-before-submitting"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}