{% extends "update-layout.html" %}

{% set title = "Is the overseas entity currently listed on any land registry records as the registered owner of property or land in the UK?" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
      <form action="06b-is-the-overseas-entity-registered-as-the-owner" method="post">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Is the overseas entity currently listed on any land registry records as the registered owner of property or land in the UK?</h1>
        <p class="govuk-hint">This includes land titles held at HM Land Registry (for England and Wales), the Land Register of Scotland, and the Land Registry for Northern Ireland.</p>
    
        {{ govukWarningText({
          classes: "govuk-!-margin-bottom-2",
          text: "If our checks show the entity is still listed as the registered owner (proprietor) of UK property or land, this application will be rejected and the fee will not be refunded.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "ownerDisposed",
          name: "owner-disposed",
          fieldset: {
            legend: {
              text: "Has the overseas entity been removed from the land registry records as the owner of UK property or land?",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, it is still listed as the registered owner of UK property or land"
            },
            {
              value: "no",
              text: "No, it is not listed as the registered owner of UK property or land"
            }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How can I check if the overseas entity is still listed?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You can check the land registry records online (they will charge a fee):</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="https://www.gov.uk/government/organisations/land-registry">HM Land Registry</a> (for England and Wales)
              </li>
              <li>
                <a href="https://www.ros.gov.uk/our-registers/land-register-of-scotland">Land Register of Scotland</a>
              </li>
              <li>
                <a href="https://www.nidirect.gov.uk/articles/searching-land-registry">Land Registry for Northern Ireland</a>
              </li>
            </ul>
            <p>Even if you've registered a disposal with the relevant UK land registry, you need to wait until it has been processed. You should only submit this application if you can see that the overseas entity is no longer listed as the registered owner (proprietor) of UK property or land.</p>
          </div>
        </details>
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}