{% extends "update-layout.html" %}
{% import "includes/date-macros.html" as dateMacros %}

{% if (journey == "remove") %}
  {% set isRemoveJourney = true %}
{% endif %}

{% set feature_flag_relevant_period = OE_CONFIGS.FEATURE_FLAG_ENABLE_RELEVANT_PERIOD %}

{% if isRemoveJourney %}
  {% set title = "Review the information before submitting" %}
{% else %}
  {% set title = "Review update statement before submitting" %}
{% endif %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% set isProtectedInformation %}
  {% if is_secure_register == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set hasSoldAllLand %}
  {% if remove.has_sold_all_land == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set IsListedAsPropertyOwner %}
  {% if remove.is_listed_as_property_owner == 1 %}
    Yes
  {% else %}
    No
  {% endif %}
{% endset %}

{% set noChange %}
  {% if update.no_change == 1 %}
    No, I do not need to make changes
  {% endif %}
{% endset %}

{% set updateStatementDate = dateMacros.formatDate(update.filing_date["day"], update.filing_date["month"],
update.filing_date["year"]) %}

{% if isRemoveJourney %}
  {% set removeStatementDate = dateMacros.formatDate(pageParams.today["day"], pageParams.today["month"], pageParams.today["year"]) %}
{% endif %}

{% set identifiedStatementText %}
    {% if beneficial_owners_statement == "ALL_IDENTIFIED_ALL_DETAILS" %}
      All beneficial owners have been identified and all required information has been provided.
    {% elif beneficial_owners_statement == "SOME_IDENTIFIED_ALL_DETAILS" %}
      Some beneficial owners have been identified and all required information has been provided.
    {% elif beneficial_owners_statement == "NONE_IDENTIFIED" %}
      No beneficial owners have been identified
    {% endif %}
{% endset %}

{% set beneficialOwerSectionHeading %}
  {% if not pageParams.noChangeFlag %}
    Beneficial owners you have added
  {% else %}
    Beneficial owners
  {% endif %}
{% endset %}

{% set addTrustsEnabled = pageParams.addTrustsEnabled %}
{% set manageTrustsEnabled = pageParams.manageTrustsEnabled %}
{% set hasExistingTrusts = update and update.review_trusts and update.review_trusts.length > 0 %}
{% set hasBosWithTrusteeNOC = pageParams.hasAnyBosWithTrusteeNocs %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% include "includes/list/errors.html" %}

      <span class="govuk-caption-xl govuk-!-padding-bottom-1">
        {% if entity_name %}
          {{ entity_name }}
        {% else %}
            {{ entityName }}
        {% endif %}
        -
        {% if entity_number %}
          {{ entity_number }}
        {% else %}
            {{ entityNumber }}
        {% endif %}
      </span>

      {% if isRemoveJourney %}
        <h1 class="govuk-heading-xl">Review the information before submitting</h1>
      {% else %}
        {% if feature_flag_relevant_period === "true" and not pageParams.isRPStatementExists %}
          <h1 class="govuk-heading-xl">Check your answers before submitting</h1>
        {% else %}
          <h1 class="govuk-heading-xl">Review the information before submitting this update statement</h1>
        {% endif %}
      {% endif %}

      {% if feature_flag_relevant_period === "true" and not pageParams.isRPStatementExists %}
      {% include "includes/check-your-answers/relevant-period-check-your-answers.html" %}
      {% else %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Has the overseas entity disposed of all relevant property or land in the UK?"
              },
              value: {
                text: hasSoldAllLand
              }
            } if isRemoveJourney,
            {
              key: {
                text: "Is the overseas entity currently listed on any land registry records as the registered owner of property or land in the UK?"
              },
              value: {
                text: IsListedAsPropertyOwner
              }
            } if isRemoveJourney,
            {
              key: {
                text: "Do any beneficial owners or managing officers have personal information protected at Companies House?"
              },
              value: {
                text: isProtectedInformation
              },
              attributes: {
                "data-event-id": "nochange-changelink-beneficial-owner-review-statement-button"
              },
              actions: {
                items: [ CREATE_CHANGE_LINK(
                  OE_CONFIGS.SECURE_UPDATE_FILTER_CHANGELINK,
                  isProtectedInformation,
                  "nochange-changelink-beneficial-owner-review-statement-button"
                ) ]
              } if not isRemoveJourney
            },
            {
              key: {
                text: "Date of the update statement"
              },
              value: {
                text: updateStatementDate
              },
              attributes: {
                "data-event-id":  "nochange-changelink-filingdate-review-statement-button"
              },
              actions: {
                items: [ CREATE_CHANGE_LINK(
                  OE_CONFIGS.UPDATE_FILING_DATE_CHANGELINK,
                  updateStatementDate,
                  "nochange-changelink-filingdate-review-statement-button"
                ) ]
              }
            } if not isRemoveJourney,
            {
              key: {
                text: "Do you need to make any changes to this overseas entity for the update period?"
              },
              value: {
                text: noChange
              },
              attributes: {
                "data-event-id": "nochange-changelink-entity-review-statement-button"
              },
              actions: {
                items: [ CREATE_CHANGE_LINK(
                  OE_CONFIGS.UPDATE_DO_YOU_WANT_TO_MAKE_OE_CHANGE_CHANGELINK,
                  noChange,
                  "nochange-changelink-entity-review-statement-button"
                ) ]
              }
            } if not isRemoveJourney
          ]
      }) }}
    {% endif %}
    <br>

    {% if isRemoveJourney %}
      <h2 class="govuk-heading-l">Changes to the overseas entity</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you need to make any changes to this overseas entity?"
            },
            value: {
              text: noChange
            },
            attributes: {
              "data-event-id": "nochange-changelink-entity-review-statement-button"
            }
          }
        ]
      }) }}
      <br>
    {% endif %}

    {% if isRemoveJourney %}
      {% set hidePresenterChangeLink = true %}
    {% endif %}
    {% include "includes/check-your-answers/presenter.html" %}
    <br>

{% set ceasedStatementText %}
    {% if update.registrable_beneficial_owner == 1 %}
    The entity has reasonable cause to believe that at least one person has become or ceased to be a registrable beneficial owner during the update period.
    {% elif update.registrable_beneficial_owner == 0 %}
    The entity has no reasonable cause to believe that anyone has become or ceased to be a registrable beneficial owner during the update period.
    {% endif %}
{% endset %}

  <h2 class="govuk-heading-l">Beneficial owner statements</h2>

  <h2 class="govuk-heading-m">Has the overseas entity identified any registrable beneficial owners?</h2>

  {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Statement"
          },
          value: {
            text: identifiedStatementText
          },
          attributes: {
            "data-event-id": "nochange-changelink-registrable-beneficial-owner-statement-button"
          },
          actions: {
            items: [ CREATE_CHANGE_LINK(
              OE_CONFIGS.UPDATE_NO_CHANGE_BENEFICIAL_OWNER_STATEMENTS_CHANGELINK,
              identifiedStatementText,
              "nochange-changelink-registrable-beneficial-owner-statement-button"
            ) ]
          } if not isRemoveJourney
        }
      ]
  }) }}

  <h2 class="govuk-heading-m">Has anyone become or ceased to be a registrable beneficial owner during the update period?</h2>

  {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Statement"
          },
          value: {
            text: ceasedStatementText
          },
          attributes: {
            "data-event-id": "nochange-changelink-ceased-beneficial-owner-statement-button"
          },
          actions: {
            items: [ CREATE_CHANGE_LINK(
              OE_CONFIGS.UPDATE_NO_CHANGE_REGISTRABLE_BENEFICIAL_OWNER_CHANGELINK,
              ceasedStatementText,
              "nochange-changelink-ceased-beneficial-owner-statement-button"
            ) ]
          } if not isRemoveJourney
        }
      ]
  }) }}

  <br>
  {% include "includes/entity.html" %}

  {% set hideChangeLinksForNonEditableFields = true %}

  {% set bois = update.review_beneficial_owners_individual or [] %}
  {% set bocs = update.review_beneficial_owners_corporate or [] %}
  {% set bogs = update.review_beneficial_owners_government_or_public_authority or [] %}

  {% if bois | length or bocs | length or bogs | length %}
    <br>
    <h2 class="govuk-heading-l">Beneficial owners</h2>
    {% for boi in bois %}
      {% include "includes/check-your-answers/beneficial-owner-individual.html" %}
    {% endfor %}
    {% for boc in bocs %}
      {% include "includes/check-your-answers/beneficial-owner-other.html" %}
    {% endfor %}
    {% for bog in bogs %}
      {% include "includes/check-your-answers/beneficial-owner-gov.html" %}
    {% endfor %}
  {% endif %}

  {% set mois = update.review_managing_officers_individual or [] %}
  {% set mocs = update.review_managing_officers_corporate or [] %}

  {% if mois | length or mocs | length %}
    <br>
    <h2 class="govuk-heading-l">Managing officers</h2>
    {% for moi in mois %}
      {% include "includes/check-your-answers/update/update-managing-officer-individual.html" %}
    {% endfor %}
    {% for moc in mocs %}
      {% include "includes/check-your-answers/update/update-managing-officer-corporate.html" %}
    {% endfor %}
  {% endif %}

  {% if addTrustsEnabled and manageTrustsEnabled %}
    {% if hasExistingTrusts %}
      <br>
      <h2 class="govuk-heading-l">Trusts</h2>
      {% for trust in update.review_trusts %}
        {% set trust_heading = trust.trust_name %}
        {% include "includes/check-your-answers/trusts.html" %}
      {% endfor %}
    {% endif %}

  {% elif addTrustsEnabled and pageParams.hasAnyBosWithTrusteeNocs %}
    <br>
    <h2 class="govuk-heading-l">Trusts</h2>
    <p class="govuk-body govuk-!-margin-bottom-9">Trust information cannot be displayed.</p>

  {% endif %}

    {% if isRemoveJourney %}
      {% set isStatementCorrectText = "Is all the information in this application correct?" %}
    {% else %}
      {% set isStatementCorrectText = "Is all the information in this update statement correct?" %}
    {% endif %}

      <br>
      <form method="post">
        {% include "includes/csrf_token.html" %}
        {{ govukRadios({
          errorMessage: errors.no_change_review_statement if errors,
          classes: "govuk-radios--inline",
          idPrefix: "no_change_review_statement",
          name: "no_change_review_statement",
          fieldset: {
          legend: {
            text: isStatementCorrectText,
            classes: "govuk-fieldset__legend--l"
          }
          },
          items: [
            {
              value: "1",
              text: "Yes, the information is correct",
              checked: no_change_review_statement == 1,
              attributes: {
                "data-event-id": "no-change-review-statements-radio-option-yes"
              }
            },
            {
              value: "0",
              text: "No, I need to make changes",
              checked: no_change_review_statement == 0,
              attributes: {
                "data-event-id": "no-change-review-statements-radio-option-no"
              }
            }
          ]
          }) }}

          {% if isRemoveJourney %}
            <p class="govuk-body">All information submitted must be correct on <strong>{{ removeStatementDate }}.</strong></p>
          {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            attributes: {
              "id": "submit"
            }
          }) }}

          {% include "includes/print-button.html" %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
