{% extends "update-layout.html" %}
{% import "includes/date-macros.html" as dateMacros %}

{% set title = "Review the individual beneficial owner" %}
{% set beneficialOwnerPronoun = "they" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/list/errors.html" %}

    {% include "includes/date_of_birth-display.html" %}

    <h1 class="govuk-heading-xl govuk-!-margin-0">Review the individual beneficial owner</h1>
    <br> <p class="govuk-body">If you need to update this beneficial owner's information, you can change the answers here.</p>

    {% include "includes/ceased-date-details-summary-review-bo.html" %}

    <form method="post">
      {% include "includes/csrf_token.html" %}
      <input type="hidden" name="id" value="{{ id }}" />
      <input type="hidden" name="ch_reference" value="{{ ch_reference }}" />

      <input type="hidden" name="dob_day" value="{{ date_of_birth.day }}"/>
      <input type="hidden" name="dob_year" value="{{ date_of_birth.year }}"/>
      <input type="hidden" name="dob_month" value="{{ date_of_birth.month }}"/>
      <input type="hidden" name="dob_have_day_of_birth" value="{{ have_day_of_birth }}"/>

      {% if populateResidentialAddress %}
        {% set usual_residential_address_property_name_number =  usual_residential_address.property_name_number %}
        {% set usual_residential_address_line_1 = usual_residential_address.line_1 %}
        {% set usual_residential_address_line_2 = usual_residential_address.line_2 %}
        {% set usual_residential_address_town = usual_residential_address.town %}
        {% set usual_residential_address_county = usual_residential_address.county %}
        {% set usual_residential_address_country = usual_residential_address.country %}
        {% set usual_residential_address_postcode = usual_residential_address.postcode %}
      {% endif %}

      {% include "includes/inputs/fields/first-name-input.html" %}
      {% set hintLastNameText = "This is also known as your family name." %}
      {% include "includes/inputs/fields/last-name-input.html" %}

      {% include "includes/inputs/nationality/nationality.html" %}

      {% include "includes/inputs/nationality/second-nationality.html" %}

      {% set hintResidentialAddress = "The beneficial owner’s home address would be shown on the public register as the correspondence address." %}
      {% set reviewBoCorrespondenceHintText = "This is also known as a service address." %}
      {% include "includes/inputs/address/residential-address-input.html" %}

      {% include "includes/uneditable-start-date.html" %}

      {% include "includes/inputs/fields/is-still-a-beneficial-owner-input.html" %}

      {% set isBeneficialOwnerGov = false %}
      {% include "includes/page-templates/beneficial-owner-nature-of-control-types.html" %}
      {% include "includes/page-templates/beneficial-owner-nature-of-control-jurisdictions.html" %}

      {% set sanctionsPronoun = "they" %}
      {% set isReview = isOwnersReview %}
      {% include "includes/inputs/fields/is-on-sanctions-list-input.html" %}

      {% set paragraphOne = '<p>We will not show the beneficial owner’s home address unless it is the same as their correspondence address. We’ll only show the month and year of their date of birth.</p>' %}
      {% include "includes/inset-text.html" %}

      {% include "includes/save-and-continue-button.html" %}
    </form>
  </div>
</div>

{% endblock %}
