{% extends "update-layout.html" %}
{% import "includes/date-macros.html" as dateMacros %}

{% set title = "Review the individual managing officer" %}
{% set managingOfficerPronoun = "they" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/list/errors.html" %}

      {% include "includes/date_of_birth-display.html" %}

      <h1 class="govuk-heading-xl govuk-!-margin-0">{{ title }}</h1>
      <br> <p class="govuk-body">If you need to update this managing officer's information, you can change the answers here.</p>

      {{ govukInsetText({
        html: "You'll need to <strong>enter their home address</strong>, and tell us if they're still a managing officer."
      }) }}

      <details class="govuk-details" data-module="govuk-details" data-event-id="protected-personal-information-details" >
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How to complete this section if they are no longer a managing officer
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">You need to make sure this information is correct as at the date they stopped being a managing officer, and update it if needed.</p>
        </div>
      </details>
      <form class="form" method="post">
        <input type="hidden" name="id" value="{{ id }}" />
        <input type="hidden" name="ch_reference" value="{{ ch_reference }}" />

        <input type="hidden" name="dob_day" value="{{ date_of_birth.day }}"/>
        <input type="hidden" name="dob_year" value="{{ date_of_birth.year }}"/>
        <input type="hidden" name="dob_month" value="{{ date_of_birth.month }}"/>
        <input type="hidden" name="dob_have_day_of_birth" value="{{ have_day_of_birth }}"/>

        {% include "includes/page-templates/managing-officer-names.html"%}
        {% include "includes/inputs/nationality/nationality.html" %}
        {% include "includes/inputs/nationality/second-nationality.html" %}
        {% set hintResidentialAddress = "If they have more than one home address, use the address where they live most of the time" %}
        {% include "includes/inputs/address/residential-address-input.html" %}
        {% include "includes/page-templates/managing-officer-occupation-roles.html" %}

        {% include "includes/inputs/fields/is-still-a-managing-officer-input.html"%}

        {% set paragraphOne = '<p>We will not show the managing officer’s home address unless it is the same as their correspondence address. We’ll only show the month and year of their date of birth.</p>' %}
        {% include "includes/inset-text.html" %}
        {% include "includes/save-and-continue-button.html" %}
      </form>
    </div>
  </div>
{% endblock %}


