{% extends "update-layout.html" %}

{% set title = "Owned land filter" %}


{% block pageTitle %}
{% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include "includes/list/errors.html" %}

        {% include "includes/page-templates/important-banner.html" %}

        <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ entity_name }} - {{ entity_number }}</span>

        <h1 class="govuk-heading-xl">Was the overseas entity a registered proprietor of UK property or land during the pre-registration period?</h1>

        <form method="post">

            {{ govukRadios({
            errorMessage: errors.update.owned.land.filter if errors,
            idPrefix: "owned_land_relevant_period",
            name: "owned_land_relevant_period",
            fieldset: {
            legend: {
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
            }
            },
            items: [
            {
            value: 1,
            text: "Yes",
            checked: owned_land_relevant_period === 1
            },
            {
            value: 0,
            text: "No",
            checked: owned_land_relevant_period === 0
            }
            ]
            }) }}

            {% include "includes/save-and-continue-button.html" %}
        </form>
    </div>
</div>

{% endblock %}
