{% extends "layout.html" %}

{% block pageTitle %}
Confirmation - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase_banner.html" %}
{% include "includes/no-back-link.html" %}
{% include "includes/sign-out-user-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Application submitted</h1>
            <div class="govuk-panel__body">
                Your application reference number: <br><strong>{{ referenceNumber }}</strong>
            </div>
        </div>

        <p class="govuk-body">
            We have sent a confirmation email to <strong>{{ userEmail }}</strong> which contains your reference number.
        </p>
    </div>
</div>

{% endblock %}
