{% extends "update-layout.html" %}

{% if (journey == "remove") %}
  {% set title = "Who can we contact about this application?" %}
  {% set submission = "application" %}
{% else %}
  {% set title = "Who can we contact about this update?" %}
  {% set submission = "update" %}
{% endif %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}


{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {% include "includes/inputs/presenter-input.html" %}
{% endblock %}
