{% extends "update-layout.html" %}
{% import "includes/date-macros.html" as dateMacros %}

{% set title = "Review former beneficial owners" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/list/errors.html" %}
      <span class="govuk-caption-l">{{ trust.trust_name }}</span>
      <h1 class="govuk-heading-xl">{{ title }}</h1>


      {% set rows=[] %}
      {% for bo in trust.HISTORICAL_BO %}

        {% if bo.forename and bo.surname %}
          {% set boName = bo.forename + " " + bo.surname %}
        {% else %}
          {% set boName = bo.corporate_name %}
        {% endif %}

        {% set changeLink = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_TELL_US_ABOUT_THE_FORMER_BO_URL + "/" + bo.id %}

        {% set rows = (rows.push(
          [
            {
              text: boName
            },
            {
              text: dateMacros.formatDate(bo.notified_date_day, bo.notified_date_month, bo.notified_date_year)
            },
            {
              text: dateMacros.formatDate(bo.ceased_date_day, bo.ceased_date_month, bo.ceased_date_year)
            },
            {
              html: "<a href=" + changeLink + ">Change</a>",
              attributes: {
                'data-event-id': "change-trust-former-bo"
              }
            }
          ]
        ), rows) %}

      {% endfor %}

      {{ govukTable({
        caption: "Former beneficial owners associated with this trust",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
          {
            text: "Name"
          },
          {
            text: "Start date"
          },
          {
            text: "Cease date"
          },
          {
            text: "Change"
          }
        ],
        rows: rows
        })
      }}

      <form method="post">
        {% include "includes/csrf_token.html" %}
        <div class="govuk-button-group">
          {{ govukButton({
              text: "Add a former beneficial owner",
            attributes: {
              "id": "addFormerBo",
              "name": "addFormerBo",
              "value": "addFormerBo",
              "data-event-id": "trust-former-bo-add-button"
            }
            }) }}

          {{ govukButton({
              attributes: {
                "id": "noMoreToAdd",
                "name": "noMoreToAdd",
                "value": "noMoreToAdd",
                "data-event-id": "trust-former-bo-no-more-to-add"
              },
              html: 'No more to add',
              classes: "govuk-button--secondary"
            }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
