{% extends "layout.html" %}

{% set mos = [{
    value: "individualOfficer",
    text: "Individual managing officer"
  },
  {
    value: "corporateOfficer",
    text: "Corporate managing officer"
  }]
%}

{% set boTypesLegendText = "Select the type of managing officer you want to add" %}
{% set title = "Which type of managing officer do you want to add?" %}
{% set boTypes = mos %}
{% set whatToAdd = "another managing officer" %}
{% set hiddenTextValue = "managing officers" %}

{% set hasManagingOfficers = (managing_officers_individual and managing_officers_individual.length > 0)
or (managing_officers_corporate and managing_officers_corporate.length > 0) %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {% set addButtonAction = "/update-an-overseas-entity/update-managing-officer-type" %}
  {% set noMoreToAddButtonAction = "/update-an-overseas-entity/update-managing-officer-type/submit" %}
  {% include "includes/page-templates/beneficial-owner.html" %}
{% endblock %}