{% extends "layout.html" %}

{% set bos = [{
    value: "individualOwner",
    text: "Individual beneficial owner"
  },
  {
    value: "otherLegalOwner",
    text: "Other legal entity beneficial owner"
  },
  {
    value: "governmentOrPublicOwner",
    text: "Government or public authority beneficial owner"
  },
  {
    value: "individualOfficer",
    text: "Individual managing officer"
  },
  {
    value: "corporateOfficer",
    text: "Corporate managing officer"
  }]
%}

{% set beneficial_owners_statement = "ALL_IDENTIFIED_ALL_DETAILS" %}
{% set boTypesLegendText = "Which type of beneficial owner or managing officer do you want to add?" %}
{% set title = "Beneficial owners and managing officers involved in the overseas entity (NOT LIVE)" %}
{% set boTypes = bos %}
{% set whatToAdd = "another beneficial owner or managing officer" %}
{% set hiddenTextValue = "beneficial owners and managing officers" %}
{% set entity_name = appData.entity_name %}
{% set entity_number = appData.entity_number %}

{% if not errors %}
  {% set hasBeneficialOwners = (beneficial_owners_individual and beneficial_owners_individual.length > 0)
    or (beneficial_owners_corporate and beneficial_owners_corporate.length > 0)
    or (beneficial_owners_government_or_public_authority and beneficial_owners_government_or_public_authority.length > 0)
  %}

  {% set hasManagingOfficers = (managing_officers_individual and managing_officers_individual.length > 0)
    or (managing_officers_corporate and managing_officers_corporate.length > 0)
  %}
{% endif %}

{% block pageTitle %}
  {% include "includes/page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {% set addButtonAction = "/update-an-overseas-entity/update-beneficial-owner-type" %}
  {% set noMoreToAddButtonAction = "/update-an-overseas-entity/update-beneficial-owner-type/submit" %}
  {% set beneficialOwnerIndividualUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_INDIVIDUAL_URL %}
  {% set beneficialOwnerOtherUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_OTHER_URL %}
  {% set beneficialOwnerGovUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_GOV_URL %}
  <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ entity_name }} - {{ entity_number }}</span>
  {% include "includes/page-templates/beneficial-owner.html" %}
{% endblock %}
