{% extends "update-layout.html" %}

{% set title = "Date of the update statement" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/list/errors.html" %}

    <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ entity_name }} - {{ entity_number }}</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    <form method="post">
      <p class="govuk-body">All the information in this update statement must be correct on this date.
      Verification checks must be completed no more than 3 months before the statement date.</p>

      <div class="govuk-inset-text">
        <p>The date you enter <strong>must be on or before the overseas entity's update statement date,</strong> or your filing may be rejected.</p>
        <p>You can find the update statement date by searching for the entity on the <a class="govuk-link" target="_blank" rel="noopener" href="{{ chsUrl }}">Companies House register (opens in a new tab).</a></p>
      </div>

      {% set filingDateLabelText = "What is the date of the update statement for this period?" %}
      {% include "includes/inputs/date/filing-date-input.html" %}
      {% include "includes/save-and-continue-button.html" %}
    </form>
  </div>
</div>
{% endblock %}
