{% extends "update-layout.html" %}

{% set title = "Review individuals" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <h1 class="govuk-heading-xl">{{ title }}</h1>

      <form method="post">
        {% include "includes/save-and-continue-button.html" %}
      </form>
    </div>
  </div>
{% endblock %}
