{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers before completing your update - {{ SERVICE_NAME }} - GOV.UK
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application (NOT LIVE)</h1>

      {% include "includes/check-your-answers/presenter.html" %}
      {% include "includes/check-your-answers/verification-checks.html" %}
      <br>
      {% include "includes/entity.html" %}
      {% if (appData.beneficial_owners_individual and appData.beneficial_owners_individual.length > 0)
      or (appData.beneficial_owners_corporate and appData.beneficial_owners_corporate.length > 0)
      or (appData.beneficial_owners_government_or_public_authority and appData.beneficial_owners_government_or_public_authority.length > 0) %}
        <br><h2 class="govuk-heading-l">Beneficial owner details</h2>
          {% if (appData.beneficial_owners_individual and appData.beneficial_owners_individual.length > 0) %}
            {% set savedIndividualBO = appData.beneficial_owners_individual | rejectattr("ch_reference", "undefined") %}
            {% for boi in savedIndividualBO %}
              {% include "includes/check-your-answers/beneficial-owner-individual.html" %}
            {% endfor %}
          {% endif %}
          {% if (appData.beneficial_owners_corporate and appData.beneficial_owners_corporate.length > 0) %}
            {% set savedCorporateBO = appData.beneficial_owners_corporate | rejectattr("ch_reference", "undefined") %}
            {% for boc in savedCorporateBO %}
              {% include "includes/check-your-answers/beneficial-owner-other.html" %}
            {% endfor %}
          {% endif %}
          {% if (appData.beneficial_owners_government_or_public_authority and appData.beneficial_owners_government_or_public_authority.length > 0) %}
            {% set savedGovernmentBO = appData.beneficial_owners_government_or_public_authority | rejectattr("ch_reference", "undefined") %}
            {% for bog in savedGovernmentBO %}
              {% include "includes/check-your-answers/beneficial-owner-gov.html" %}
            {% endfor %}
          {% endif %}
      {% endif %}
      <br>
      <form method="post">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue to payment",
            attributes: {
              "id": "submit"
            }
          }) }}

          {% include "includes/print-button.html" %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
