{% extends "update-layout.html" %}

{% if not relevant_period %}
{% set title = "Tell us about the government or public authority" %}
{% else %}
{% set title = "Tell us about the individual person involved in the pre-registration period" %}
{% endif %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {% set removePathURL = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_GOV_URL + OE_CONFIGS.REMOVE + "/" + id %}
  {% include "includes/page-templates/beneficial-owner-gov.html" %}
{% endblock %}
