{% extends "update-layout.html" %}

{% set title = "Review legal entities" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}
      <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ entity_name }}
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">What you have reviewed</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__key">
                  Role  
                </dd>
                <dd class="govuk-summary-list__value">
                  Change   
                </dd>
              </div>
              {% for le in legal_entities %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{le.name}}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{le.type}}
                  </dd>
                  <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="{{OE_CONFIGS.UPDATE_MANAGE_TRUSTS_TELL_US_ABOUT_THE_LEGAL_ENTITY_URL}}/{{le.id}}"
                      data-event-id="change-link-review-other-bo">
                        Change<span class="govuk-visually-hidden">{{ le.name }} - Legal entity</span>
                    </a>
                  </dd>
                </div>
              {% endfor %}
            </dl>
          </div>
        </div>

        <form method="post">
          <div class="govuk-button-group">
          {{ govukButton({
              text: "Add",
            attributes: {
              "id": "addLegalEntity",
              "name": "addLegalEntity",
              "value": "addLegalEntity",
              "data-event-id": "trust-involved-page-add-button"
            }
            }) }}

          {{ govukButton({
              attributes: {
                "id": "noMoreToAdd",
                "name": "noMoreToAdd",
                "value": "noMoreToAdd"
              },
              html: 'No more <span class="govuk-visually-hidden">legal entities</span> to add',
              classes: "govuk-button--secondary"
            }) }}
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
