{% extends "update-layout.html" %}

{% set title = "Check your answers before sending your application" %}
{% set updateStatementValidationEnabled = OE_CONFIGS.FEATURE_FLAG_ENABLE_UPDATE_STATEMENT_VALIDATION === "true" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {% include "includes/check-your-answers/presenter.html" %}
      {% include "includes/check-your-answers/verification-checks.html" %}
      <br>
      {% include "includes/entity.html" %}

      {% if not updateStatementValidationEnabled %}
        <br>
        {% include "includes/check-your-answers/beneficial-owner-statements.html" %}
      {% endif %}

      {% set bois = appData.beneficial_owners_individual or [] %}
      {% set existingBOIs = bois | selectattr('ch_reference') %}
      {% set newBOIs = bois | rejectattr('ch_reference') %}

      {% set bocs = appData.beneficial_owners_corporate or [] %}
      {% set existingBOCs = bocs | selectattr('ch_reference') %}
      {% set newBOCs = bocs | rejectattr('ch_reference') %}

      {% set bogs = appData.beneficial_owners_government_or_public_authority or [] %}
      {% set existingBOGs = bogs | selectattr('ch_reference') %}
      {% set newBOGs = bogs | rejectattr('ch_reference') %}

      {% if existingBOIs | length or existingBOCs | length or existingBOGs | length %}
        {% set hideChangeLinksForNonEditableFields = true %}
        <br>
        <h2 class="govuk-heading-l">Beneficial owners you have reviewed</h2>
        {% for boi in existingBOIs %}
          {% include "includes/check-your-answers/beneficial-owner-individual.html" %}
        {% endfor %}
        {% for boc in existingBOCs %}
          {% include "includes/check-your-answers/beneficial-owner-other.html" %}
        {% endfor %}
        {% for bog in existingBOGs %}
          {% include "includes/check-your-answers/beneficial-owner-gov.html" %}
        {% endfor %}
      {% endif %}

      {% if newBOIs | length or newBOCs | length or newBOGs | length %}
        {% set hideChangeLinksForNonEditableFields = false %}
        <br>
        <h2 class="govuk-heading-l">Beneficial owners you have added</h2>
        {% for boi in newBOIs %}
          {% include "includes/check-your-answers/beneficial-owner-individual.html" %}
        {% endfor %}
        {% for boc in newBOCs %}
          {% include "includes/check-your-answers/beneficial-owner-other.html" %}
        {% endfor %}
        {% for bog in newBOGs %}
          {% include "includes/check-your-answers/beneficial-owner-gov.html" %}
        {% endfor %}
      {% endif %}

      {% set mois = appData.managing_officers_individual or [] %}
      {% set existingMOIs = mois | selectattr('ch_reference') %}
      {% set newMOIs = mois | rejectattr('ch_reference') %}

      {% set mocs = appData.managing_officers_corporate or [] %}
      {% set existingMOCs = mocs | selectattr('ch_reference') %}
      {% set newMOCs = mocs | rejectattr('ch_reference') %}

      {% if existingMOIs | length or existingMOCs | length %}
        {% set hideChangeLinksForNonEditableFields = true %}
        <br>
        <h2 class="govuk-heading-l">Managing officers you have reviewed</h2>
        {% for moi in existingMOIs %}
          {% include "includes/check-your-answers/update/update-managing-officer-individual.html" %}
        {% endfor %}
        {% for moc in existingMOCs %}
          {% include "includes/check-your-answers/update/update-managing-officer-corporate.html" %}
        {% endfor %}
      {% endif %}

      {% if newMOIs | length or newMOCs | length %}
        {% set hideChangeLinksForNonEditableFields = false %}
        <br>
        <h2 class="govuk-heading-l">Managing officers you have added</h2>
        {% for moi in newMOIs %}
          {% include "includes/check-your-answers/update/update-managing-officer-individual.html" %}
        {% endfor %}
        {% for moc in newMOCs %}
          {% include "includes/check-your-answers/update/update-managing-officer-corporate.html" %}
        {% endfor %}
      {% endif %}
      {% if (appData.trusts and appData.trusts.length > 0) %}
        <br><h2 class="govuk-heading-l">Trusts</h2>
        {% set trust_count = 0 %}
        {% for trust in appData.trusts %}
          {% set trust_count = trust_count + 1 %}
          {% set trust_heading = "Trust " + trust_count %}
          {% include "includes/check-your-answers/trusts.html" %}
        {% endfor %}
      {% endif %}

      {% if updateStatementValidationEnabled %}
        <br>
        {% include "includes/check-your-answers/beneficial-owner-statements.html" %}
      {% endif %}

      <br>
      <form method="post">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue to payment",
            attributes: {
              "id": "submit"
            }
          }) }}

          {% include "includes/print-button.html" %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
