{% extends "update-layout.html" %}

{% import "includes/date-macros.html" as dateMacros %}

{% set title = "Review the trust" %}
{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% set formatted_creation_date = dateMacros.formatDate(formData.createdDateDay, formData.createdDateMonth, formData.createdDateYear) %}
{% set isReview = pageData.isReview %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  {% include "includes/page-templates/trust-details.html" %}
{% endblock %}
