{% extends "update-layout.html" %}

{% set title = "The statements you've chosen do not match the information provided in this update" %}

{% set entityName = entity_name %}
{% set entityNumber = entity_number %}

{% set identifiedBOsStatement %}
  {% if beneficial_owners_statement == "ALL_IDENTIFIED_ALL_DETAILS" -%}
    All beneficial owners have been identified and I can provide all the required information
  {%- elif beneficial_owners_statement == "SOME_IDENTIFIED_ALL_DETAILS" -%}
    Some beneficial owners have been identified and I can provide all required information
  {%- elif beneficial_owners_statement == "NONE_IDENTIFIED" -%}
    No beneficial owners have been identified
  {%- endif %}
{% endset %}

{% set newOrCeasedBOsStatement %}
  {% if update.registrable_beneficial_owner == 1 -%}
    The entity has reasonable cause to believe that at least one person has become or ceased to be a registrable beneficial owner during the update period.
  {%- elif update.registrable_beneficial_owner == 0 -%}
    The entity has no reasonable cause to believe that anyone has become or ceased to be a registrable beneficial owner during the update period.
  {%- endif %}
{% endset %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/list/errors.html" %}

    <span class="govuk-caption-l">{{ entityName }} - {{ entityNumber }}</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>

    {% set notificationBannerHtml %}
      <p class="govuk-notification-banner__heading">
        {% for statementError in statementErrorList %}
          {% if loop.length == 1 %}
            {{ statementError }}
          {% else %}
            {{ statementError }}
            <!-- avoid spacing after last error message -->
            {% if loop.index !== loop.length %}
              <br><br>
            {% endif %}
          {% endif %}
        {% endfor %}
      </p>
    {% endset %}

    {{ govukNotificationBanner({ html: notificationBannerHtml }) }}

    <p class="govuk-body">The statements that you have selected are:</p>

    <div class="update-bo-statement govuk-!-margin-bottom-6">
      <p class="govuk-body">{{ identifiedBOsStatement }}</p>
    </div>

    <div class="update-bo-statement govuk-!-margin-bottom-6">
      <p class="govuk-body">{{ newOrCeasedBOsStatement }}</p>
    </div>

    <form method="post">
      {% include "includes/csrf_token.html" %}
      {{ govukRadios({
        errorMessage: errors.statement_resolution if errors,
        classes: "govuk-radios",
        idPrefix: "statement_resolution",
        name: "statement_resolution",
        fieldset: {
          legend: {
            text: 'What do you want to do?',
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: 'statement-resolution-change-statement',
            text: 'I need to change my statements',
            checked: statement_resolution == 'statement-resolution-change-statement',
            attributes: {
              "data-event-id": "statement-resolution-change-statement"
            }
          },
          {
            value: 'statement-resolution-change-information',
            text: 'I need to change the information I have provided in this update',
            checked: statement_resolution == 'statement-resolution-change-information',
            attributes: {
              "data-event-id": "statement-resolution-change-information"
            }
          }
        ]
      }) }}

      {% include "includes/continue-button.html" %}
    </form>
  </div>
</div>
{% endblock %}
