{% extends "update-layout.html" %}

{% set bos = [{
    value: "individualOwner",
    text: "Individual beneficial owner"
  },
  {
    value: "otherLegalOwner",
    text: "Other legal entity beneficial owner"
  },
  {
    value: "governmentOrPublicOwner",
    text: "Government or public authority beneficial owner"
  },
  {
    value: "individualOfficer",
    text: "Individual managing officer"
  },
  {
    value: "corporateOfficer",
    text: "Corporate managing officer"
  }]
%}

{% set beneficial_owners_statement = "ALL_IDENTIFIED_ALL_DETAILS" %}
{% set boTypesLegendText = "Which type of beneficial owner or managing officer do you want to add?" %}
{% set title = "Beneficial owners and managing officers involved in the overseas entity" %}
{% set boTypes = bos %}
{% set whatToAdd = "another beneficial owner or managing officer" %}
{% set hiddenTextValue = "beneficial owners and managing officers" %}
{% set entity_name = entity_name %}
{% set entity_number = entity_number %}

{% if not errors %}
  {% set hasBeneficialOwners = (beneficial_owners_individual and beneficial_owners_individual.length > 0)
    or (beneficial_owners_corporate and beneficial_owners_corporate.length > 0)
    or (beneficial_owners_government_or_public_authority and beneficial_owners_government_or_public_authority.length > 0)
  %}

  {% set hasManagingOfficers = (managing_officers_individual and managing_officers_individual.length > 0)
    or (managing_officers_corporate and managing_officers_corporate.length > 0)
  %}
{% endif %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% set beneficialOwnerIndividualUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_INDIVIDUAL_URL %}
{% set beneficialOwnerOtherUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_OTHER_URL %}
{% set beneficialOwnerGovUrl = OE_CONFIGS.UPDATE_BENEFICIAL_OWNER_GOV_URL %}
{% set managingOfficerIndividualUrl = OE_CONFIGS.UPDATE_MANAGING_OFFICER_URL %}
{% set managingOfficerCorporateUrl = OE_CONFIGS.UPDATE_MANAGING_OFFICER_CORPORATE_URL %}

{% set addButtonAction = "/update-an-overseas-entity/update-beneficial-owner-type" %}
{% set noMoreToAddButtonAction = "/update-an-overseas-entity/update-beneficial-owner-type/submit" %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/list/errors.html" %}

      <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ entity_name }} - {{ entity_number }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-0">{{ title }}</h1>
      <br/>

      {% include "includes/managing-officer-details-summary.html" %}

  </div>

  {% if hasExistingBosMos %}
    <div class="govuk-grid-column-two-thirds">
      <br/>
        {% include "includes/list/update-review-bo-mo.html" %}
      <br/>
    </div>
  {% endif %}

  {% if hasBeneficialOwners or hasManagingOfficers %}
    <div class="govuk-grid-column-two-thirds">
      <br/>
        {% include "includes/list/update-added-bo-mo.html" %}
      <br/>
    </div>
  {% endif %}

  <div class="govuk-grid-column-two-thirds">
    <form method="post">
      {% include "includes/csrf_token.html" %}
      {% include "includes/beneficial-owner-type-add-radios.html" %}
      {% if update.change_bo_relevant_period === "CHANGE_BO_RELEVANT_PERIOD" %}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      {% include "includes/page-templates/relevant-period-statements-add-radios.html" %}
      {% endif %}
      <button class="govuk-button" data-module="govuk-button" id="add" formaction="{{ addButtonAction }}" >Add<span class="govuk-visually-hidden"> {{ whatToAdd }} </span></button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="noMoreToAdd" formaction="{{ noMoreToAddButtonAction }}" >No more <span class="govuk-visually-hidden"> {{ hiddenTextValue }} </span> to add </button>

      <!-- Hidden input, needed to submit the beneficial owners statement -->
        {{ govukInput({
          label: {
            text: "Hidden input, needed to submit the beneficial owners statement",
            classes: "govuk-visually-hidden"
          },
          id: "beneficial_owners_statement",
          value: beneficial_owners_statement,
          name: "beneficial_owners_statement",
          classes: "govuk-visually-hidden"
        }) }}
      </form>
    </div>

  </div>
{% endblock %}
