{% import 'includes/trustee-macros.html' as trusteeMacros %}

{% extends "update-layout.html" %}

{% set title = "Review legal entities" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% set rows=[] %}
{% for trustee in pageData.legalEntities %}
  {% set changeLink = OE_CONFIGS.UPDATE_MANAGE_TRUSTS_TELL_US_ABOUT_THE_LEGAL_ENTITY_URL + "/" + trustee.id %}
  {% set rows = (rows.push(
    [
      {
        text: trustee.name
      },
      {
        text: trusteeMacros.readableTrusteeRole(trustee.type)
      },
      {
        html: "<a href=" + changeLink + ">Change</a>",
        attributes: {
          'data-event-id': "manage-trusts-change-legal-entity"
        }
      }
    ]
  ), rows) %}
{% endfor %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "includes/list/errors.html" %}
    <span class="govuk-caption-l">{{ pageData.trustName }}</span>
    <h1 class="govuk-heading-xl">{{ title }}</h1>
    
    {{ govukTable({
      caption: "Legal entities associated with this trust",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [{text: "Name"}, {text: "Role"},{text: "Change"}],
      rows: rows
    }) }}

    <form method="post">
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Add a legal entity",
        attributes: {
          "id": "addLegalEntity",
          "name": "addLegalEntity",
          "value": "addLegalEntity",
          "data-event-id": "manage-trust-legal-entities-add"
        }
      }) }}

      {{ govukButton({
        text: "No more to add",
        attributes: {
          "id": "noMoreToAdd",
          "name": "noMoreToAdd",
          "value": "noMoreToAdd",
          "data-event-id": "manage-trust-legal-entities-no-more-add"
        },
        classes: "govuk-button--secondary"
      }) }}
    </div>
    </form>
  </div>
</div>
{% endblock %}
