{% extends "update-layout.html" %}

{% set title = "You're about to review beneficial owner and managing officer information" %}

{% block pageTitle %}
  {% include "includes/update-page-title.html" %}
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="bo-mo-review-card">
      <span class="govuk-caption-xl govuk-!-padding-bottom-1">{{ appData.entity_name }} - {{ appData.entity_number }}</span>
      <h1 class="govuk-heading-xl">You're about to review beneficial owner and managing officer information</h1>

      <p class="govuk-body">We'll show you the information we currently hold about the overseas entity's beneficial owners and managing officers.</p>

      <p class="govuk-body">You'll need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check the information is correct, and update it if needed</li>
        <li>enter the home address for individual beneficial owners and managing officers</li>
        <li>tell us if they are no longer a beneficial owner or managing officer, if relevant</li>
        <li>add any new beneficial owners or managing officers, if relevant</li>
      </ul>

      <br/>

      <form method="post">
        {% include "includes/csrf_token.html" %}
        {% include "includes/continue-button.html" %}
      </form>

    </div>
  </div>
</div>
{% endblock %}
