{% set propertyNameNumberText = "For example, 'Saron House', '116' or 'Unit 37a'" %}

{% call govukFieldset({
  legend: {
    text: "What is the principal or registered office address?",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: false
  }
}) %}

  {{ govukInput({
    errorMessage: errors.principal_address_property_name_number if errors,
    label: {
      html: 'Property name or number'
    },
    hint: {
      text: propertyNameNumberText
    },
    id: "principal_address_property_name_number",
    name: "principal_address_property_name_number",
    value: principal_address_property_name_number
  }) }}

  {{ govukInput({
    errorMessage: errors.principal_address_line_1 if errors,
    label: {
      text: "Address line 1"
    },
    classes: "govuk-!-width-two-thirds",
    id: "principal_address_line_1",
    name: "principal_address_line_1",
    value: principal_address_line_1
  }) }}

  {{ govukInput({
    errorMessage: errors.principal_address_line_2 if errors,
    label: {
      text: "Address line 2 (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "principal_address_line_2",
    name: "principal_address_line_2",
    value: principal_address_line_2
  }) }}

  {{ govukInput({
    errorMessage: errors.principal_address_town if errors,
    label: {
      text: "City or town"
    },
    classes: "govuk-!-width-two-thirds",
    id: "principal_address_town",
    name: "principal_address_town",
    value: principal_address_town
  }) }}

  {{ govukInput({
    errorMessage: errors.principal_address_county if errors,
    label: {
      text: "County, state, province or region (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "principal_address_county",
    name: "principal_address_county",
    value: principal_address_county
  }) }}

  {% set countryField = principal_address_country if principal_address_country else '' %}
  {% set countryFieldNameId = "principal_address_country" %}
  {% set countryFieldText = "Country" %}
  {% include "includes/inputs/country/country-select.html" %}

  {{ govukInput({
    errorMessage: errors.principal_address_postcode if errors,
    label: {
      text: "Postcode or ZIP code (if applicable)"
    },
    classes: "govuk-input--width-10",
    id: "principal_address_postcode",
    name: "principal_address_postcode",
    value: principal_address_postcode
  }) }}

{% endcall %}

{% set serviceAddressHtml %}
  <br>
  {% set serviceAddressText = "What is the correspondence address?" %}
  {% include "includes/inputs/address/service-address-input.html" %}
{% endset -%}

{{ govukRadios({
  errorMessage: errors.is_service_address_same_as_principal_address if errors,
  classes: "govuk-radios",
  idPrefix: "is_service_address_same_as_principal_address",
  name: "is_service_address_same_as_principal_address",
  fieldset: {
    legend: {
      text: "Is the correspondence address the same as the principal or registered office address?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: 1,
      text: "Yes",
      checked: is_service_address_same_as_principal_address == 1,
      attributes: {
        "data-event-id": "is-service-address-same-as-principal-address-yes-radio-option"
      }
    }, 
    {
      value: 0,
      text: "No",
      checked: is_service_address_same_as_principal_address == 0,
      attributes: {
        "data-event-id": "is-service-address-same-as-principal-address-no-radio-option"
      },
      conditional: {
        html: serviceAddressHtml
      }
    }
  ]
}) }}
