{% if isIndividualManagingOfficer %}
  {% set residentialOrPrincipalAddressText = "Home address" %}
  {% set sameAddressText = "The correspondence address is the same as the home address" %}
  {% set changeResidentialOrPrincipalAddress = OE_CONFIGS.CHANGE_RESIDENTIAL_ADDRESS %}
  {% set changeCorresponceAddressLink = OE_CONFIGS.IS_SERVICE_ADDRESS_SAME_AS_USUAL_RESIDENTIAL_ADDRESS %}
{% else %}
  {% set residentialOrPrincipalAddressText = "Principal or registered office address" %}
  {% set sameAddressText = "The correspondence address is the same as the principal or registered office address" %}
  {% set changeResidentialOrPrincipalAddress = OE_CONFIGS.CHANGE_PRINCIPAL_ADDRESS %}
  {% set changeCorresponceAddressLink = OE_CONFIGS.IS_SERVICE_ADDRESS_SAME_AS_PRINCIPAL_ADDRESS %}
{% endif %}

{% set moFormattedResidentialOrPrincipalAddressHtml %}
  {% if inNoChangeJourney %}
    <strong class="govuk-tag govuk-tag--blue">CANNOT BE DISPLAYED</strong>
  {% else %}
    {% set address = moAddress %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set moFormattedServiceAddressHtml %}
  {% if moSameAddresses == 1 %}
    {% set changeCorrespondenceAddress = changeCorresponceAddressLink %}
    {{ sameAddressText }}
  {% else %}
    {% set address = moServiceAddress %}
    {% set changeCorrespondenceAddress = OE_CONFIGS.CHANGE_SERVICE_ADDRESS %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set rows = (rows.push({
  key: { text: residentialOrPrincipalAddressText },
  value: { html: moFormattedResidentialOrPrincipalAddressHtml },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + changeResidentialOrPrincipalAddress, 
      hiddenTextPrefix + " - residential or principal address", 
      "change-managing-officer-residential-or-principal-address-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: { text: "Correspondence address" },
  value: { html: moFormattedServiceAddressHtml },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + changeCorrespondenceAddress, 
      hiddenTextPrefix + " - correspondence address", 
      "change-managing-officer-correspondence-address-button"
    )]
  } if inChangeJourney
}), rows) %}
