{% import "includes/date-macros.html" as dateMacros %}

{% set inNoChangeJourney = pageParams.noChangeFlag %}
{% set inChangeJourney = not inNoChangeJourney %}
{% set isNewMo = not (moc.ch_reference | length) %}
{% set moIsOnRegisterInCountryFormedIn = moc.is_on_register_in_country_formed_in == 1 %}

{% set moId = moc.id %}
{% set moName = moc.name %}
{% set moAddress = moc.principal_address %}
{% set moServiceAddress = moc.service_address %}
{% set moSameAddresses = moc.is_service_address_same_as_principal_address %}
{% set moLegalForm = moc.legal_form %}
{% set moLawGoverned = moc.law_governed %}
{% set moPublicRegisterName = moc.public_register_name %}
{% set moRegistrationNumber = moc.registration_number %}
{% set moRoleAndResponsibilities = moc.role_and_responsibilities %}
{% set moContactFullName = moc.contact_full_name %}
{% set moContactEmail = moc.contact_email %}
{% set moStartDate = dateMacros.formatDate(moc.start_date["day"], moc.start_date["month"], moc.start_date["year"]) %}
{% set moIsResigned = moc.resigned_on | length %}
{% set moResignedOn = dateMacros.formatDate(moc.resigned_on["day"], moc.resigned_on["month"], moc.resigned_on["year"]) %}

{% set moFormattedPublicRegister %}
  {% if moIsOnRegisterInCountryFormedIn %}
    {% set mocChangePublicRegisterNameHtml = OE_CONFIGS.PUBLIC_REGISTER_NAME %}
    {{ moPublicRegisterName }} / {{ moRegistrationNumber }}
  {% else %}
    {% set mocChangePublicRegisterNameHtml = OE_CONFIGS.IS_ON_REGISTER_IN_COUNTRY_FORMED_IN %}
    No
  {% endif %}
{% endset %}

{% set moFormattedContactEmailHtml %}
  {% if moContactEmail %}
    {{ moContactEmail }}
  {% else %}
    <strong class="govuk-tag govuk-tag--blue">CANNOT BE DISPLAYED</strong>
  {% endif %}
{% endset %}

{% set hiddenTextPrefix = "Corporate managing officer " + moName %}
{% if inChangeJourney %}
  {% if isNewMo %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_MANAGING_OFFICER_CORPORATE_URL + '/' + moId %}
  {% else %}
    {% set moIndex = mocs.indexOf(moc) %}
    {% set changeLinkUrl = OE_CONFIGS.UPDATE_REVIEW_MANAGING_OFFICER_CORPORATE_URL + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex %}
  {% endif %}
{% endif %}

{% set rows = [] %}

{% set rows = (rows.push({
  key: { text: "Name" },
  value: { text: moName },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.NAME,
      hiddenTextPrefix + " - Name",
      "change-corporate-managing-officer-name-button"
    )]
  } if inChangeJourney
}), rows) %}

{% include "includes/check-your-answers/update/managing-officers-addresses.html" %}

{% set rows = (rows.push({
  key: { text: "Legal form" },
  value: { text: moLegalForm },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.LEGAL_FORM,
      hiddenTextPrefix + " - Legal form",
      "change-corporate-managing-officer-legal-form-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: { text: "Governing law" },
  value: { html: moLawGoverned },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.LAW_GOVERNED,
      hiddenTextPrefix + " - Law governed",
      "change-corporate-managing-officer-governing-law-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: { text: "On a public register in the country it was formed in" },
  value: { html: moFormattedPublicRegister },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + mocChangePublicRegisterNameHtml,
      hiddenTextPrefix + " - Public register",
      "change-corporate-managing-officer-public-register-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: { text: "Role and responsibilities" },
  value: { text: moRoleAndResponsibilities },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.ROLE_AND_RESPONSIBILITIES,
      moChangeLinkText + " - Role and responsibilities",
      "change-corporate-managing-officer-role-and-responsibilities-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: { text: "Contact full name" },
  value: { html: moContactFullName },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.CONTACT_FULL_NAME,
      moChangeLinkText + " - Contact full name",
      "change-corporate-managing-officer-contact-full-name-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: { text: "Contact email address" },
  value: { html: moFormattedContactEmailHtml },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.CONTACT_EMAIL,
      moChangeLinkText + " - Contact email",
      "change-corporate-managing-officer-contact-email-address-button"
    )]
  } if inChangeJourney
}), rows) %}

{% include "includes/check-your-answers/update/managing-officers-resigned-on.html" %}

<h3 class="govuk-heading-m">Corporate managing officer</h3>

{{ govukSummaryList({ rows: rows }) }}
