{% import "includes/date-macros.html" as dateMacros %}

{% set inChangeJourney = not pageParams.noChangeFlag %}

{% set moiDateOfBirth = dateMacros.formatDate("", moi.date_of_birth["month"], moi.date_of_birth["year"]) %}
{% set managing_officer_individual = true %}
{% set moAddress = moi.usual_residential_address %}
{% set moSameAddresses = moi.is_service_address_same_as_usual_residential_address %}
{% set moServiceAddress = moi.service_address %}
{% set resigned_on = moi.resigned_on %}

{% set changeLinkUrl = OE_CONFIGS.UPDATE_REVIEW_INDIVIDUAL_MANAGING_OFFICER_URL %}

{% if inChangeJourney %}
  {% set moIndex = appData.managing_officers_individual.indexOf(moi)  %}
{% endif %}

{% set moChangeLinkText =  "Individual managing officer " + moi.first_name + " " + moi.last_name %}

{% set rows = [] %}

{% set rows = (rows.push({
  key: {
    text: "First name"
  },
  value: {
    text: moi.first_name
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.FIRST_NAME, 
      moChangeLinkText + " - first name", 
      "change-individual-managing-officer-first-name-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Last name"
  },
  value: {
    text: moi.last_name
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.LAST_NAME,
      moChangeLinkText + " - last name", 
      "change-individual-managing-officer-last-name-button"
    )]
  } if inChangeJourney
}), rows) %}
{% if moi.former_names | length %}
  {% set rows = (rows.push({
  key: {
    text: "Former names"
  },
  value: {
    text: moi.former_names
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.FORMER_NAMES,
      moChangeLinkText + " - former names", 
      "change-individual-managing-officer-former-names-button"
    )]
  } if inChangeJourney
}), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Date of birth" if inChangeJourney else "Born" 
  },
  value: {
    text: moiDateOfBirth
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Nationality"
  },
  value: {
    text: moi.nationality
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.NATIONALITY,
      moChangeLinkText + " - nationality", 
      "change-individual-managing-officer-nationality-button"
    )]
  } if inChangeJourney
}), rows) %}

{% if moi.second_nationality %}
  {% set rows = (rows.push({
    key: {
      text: "Second nationality"
    },
    value: {
      text: moi.second_nationality
    },
    actions: {
      items: [CREATE_CHANGE_LINK(
        changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.SECOND_NATIONALITY,
        moChangeLinkText + " - second nationality", 
        "change-individual-managing-officer-second-nationality-button"
      )]
    } if inChangeJourney
  }), rows) %}
{% endif %}

{% include "includes/check-your-answers/update/managing-officers-addresses.html" %}

{% set rows = (rows.push({
  key: {
    text: "Occupation"
  },
  value: {
    html: moi.occupation
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.OCCUPATION,
      moChangeLinkText + " - occupation", 
      "change-individual-managing-officer-occupation-button"
    )]
  } if inChangeJourney
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Role and responsibilities"
  },
  value: {
    html: moi.role_and_responsibilities
  },
  actions: {
    items: [CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.ROLE_AND_RESPONSIBILITIES,
      moChangeLinkText + " - roles and responsibilities", 
      "change-individual-managing-officer-role-and-responsibilities-button"
    )]
  } if inChangeJourney
}), rows) %}

{% include "includes/check-your-answers/update/managing-officers-resigned-on.html" %}

<h3 class="govuk-heading-m">Individual managing officer</h3>

{{ govukSummaryList({
   rows: rows
}) }}
