{% import "includes/date-macros.html" as dateMacros %}

{% set moiDateOfBirth = dateMacros.formatDate("",moi.date_of_birth["month"], moi.date_of_birth["year"]) %}
{% set resignedOn = dateMacros.formatDate(moi.resigned_on["day"], moi.resigned_on["month"], moi.resigned_on["year"]) %}

{% set moiFormattedResidentialAddressHtml %}
  {% set address = moi.usual_residential_address %}
  {% include "includes/display_address.html" %}
{% endset %}

{% set moiChangeFormerNamesHtml = "" %}
{% if moi.has_former_names == 1 %}
  {% set moiChangeFormerNamesHtml = "#former_names" %}
{% else %}
  {% set moiChangeFormerNamesHtml = "#has_former_names" %}
{% endif %}

{% set moiChangeServiceAddressHtml = "" %}
{% set moiFormattedServiceAddressHtml %}
  {% if moi.is_service_address_same_as_usual_residential_address == 1 %}
    {% set moiChangeServiceAddressHtml = "#is_service_address_same_as_usual_residential_address" %}
    The correspondence address is the same as the home address
  {% else %}
    {% set moiChangeServiceAddressHtml = "#service_address_property_name_number" %}
    {% set address = moi.service_address %}
    {% include "includes/display_address.html" %}
  {% endif %}
{% endset %}

{% set rows=[] %}

{% set rows = (rows.push({
  key: {
    text: "First name"
  },
  value: {
    text: moi.first_name
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Last name"
  },
  value: {
    text: moi.last_name
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}
{% if moi.former_names | length %}
{% set rows = (rows.push({
  key: {
    text: "Former names"
  },
  value: {
    text: moi.former_names
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Date of birth"
  },
  value: {
    text: moiDateOfBirth
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Nationality"
  },
  value: {
    text: moi.nationality
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}

{% if moi.second_nationality %}
  {% set rows = (rows.push({
    key: {
      text: "Second nationality"
    },
    value: {
      text: moi.second_nationality
    },
    actions: {
      items: [ undefined ]
    }
  }), rows) %}
{% endif %}

{% set rows = (rows.push({
  key: {
    text: "Home address"
  },
  value: {
    html: moiFormattedResidentialAddressHtml
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Correspondence address"
  },
  value: {
    html: moiFormattedServiceAddressHtml
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Occupation"
  },
  value: {
    html: moi.occupation
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Role and responsibilities"
  },
  value: {
    html: moi.role_and_responsibilities
  },
  actions: {
    items: [ undefined ]
  }
}), rows) %}
{% if resignedOn | length %}
    {% set rows = (rows.push({
    key: {
        text: "Are they still a managing officer?"
    },
    value: {
        html: "No"
    },
    actions: {
        items: [ undefined ]
    }
    }), rows) %}
    {% set rows = (rows.push({
    key: {
        text: "Resigned on"
    },
    value: {
        html: resignedOn
    },
    actions: {
        items: [ undefined ]
    }
    }), rows) %}
{% else %}
    {% set rows = (rows.push({
    key: {
        text: "Are they still a managing officer?"
    },
    value: {
        html: "Yes"
    },
    actions: {
        items: [ undefined ]
    }
    }), rows) %}
{% endif %}


<h3 class="govuk-heading-m">Individual managing officer</h3>
{{ govukSummaryList({
   rows: rows
}) }}
