{% import "includes/date-macros.html" as dateMacros %}

{% set moAddress = moc.principal_address %}
{% set moSameAddresses = moc.is_service_address_same_as_principal_address %}
{% set moServiceAddress = moc.service_address %}
{% set resigned_on = moc.resigned_on %}

{% set mocChangePublicregisterNameHtml = "" %}
{% set mocFormattedPublicRegister %}
{% if moc.is_on_register_in_country_formed_in == 1 %}
  {% set mocChangePublicregisterNameHtml = "#public_register_name" %}
  {{ moc.public_register_name }} / {{ moc.registration_number }}
{% else %}
  {% set mocChangePublicregisterNameHtml = "#is_on_register_in_country_formed_in" %}
    No
  {% endif %}
{% endset %}

{% set changeLinkUrl = OE_CONFIGS.UPDATE_REVIEW_MANAGING_OFFICER_CORPORATE_URL %}
{% set moIndex = appData.managing_officers_corporate.indexOf(moc) %}
{% set moChangeLinkText =  "Corporate managing officer " + moc.name %}

{% set rows = [] %}

{% set rows = (rows.push({
  key: {
    text: "Name"
  },
  value: {
    text: moc.name
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.NAME, 
      moChangeLinkText + " - Name", 
      "change-corporate-managing-officer-name-button"
    ) ]
  }
}), rows) %}

{% include "includes/check-your-answers/update/managing-officers-addresses.html" %}

{% set rows = (rows.push({
  key: {
    text: "Legal form"
  },
  value: {
    text: moc.legal_form
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.LEGAL_FORM, 
      moChangeLinkText + " - Legal form", 
      "change-corporate-managing-officer-legal-form-button"
    ) ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Governing law"
  },
  value: {
    html: moc.law_governed
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.LAW_GOVERNED, 
      moChangeLinkText + " - Law governed", 
      "change-corporate-managing-officer-governing-law-button"
    ) ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "On a public register in the country it was formed in"
  },
  value: {
    html: mocFormattedPublicRegister
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + mocChangePublicregisterNameHtml, 
      moChangeLinkText + " - Public register", 
      "change-corporate-managing-officer-public-register-button"
    ) ]
  }
}), rows) %}
{% set rows = (rows.push({
  key: {
    text: "Role and responsibilities"
  },
  value: {
    text: moc.role_and_responsibilities
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.ROLE_AND_RESPONSIBILITIES, 
      moChangeLinkText + " - Role and responsibilities", 
      "change-corporate-managing-officer-role-and-responsibilities-button"
    ) ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Contact full name"
  },
  value: {
    html: moc.contact_full_name
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.CONTACT_FULL_NAME, 
      moChangeLinkText + " - Contact full name", 
      "change-corporate-managing-officer-contact-full-name-button"
    ) ]
  }
}), rows) %}

{% set rows = (rows.push({
  key: {
    text: "Contact email address"
  },
  value: {
    html: moc.contact_email
  },
  actions: {
    items: [ CREATE_CHANGE_LINK(
      changeLinkUrl + OE_CONFIGS.REVIEW_OWNER_INDEX_PARAM + moIndex + OE_CONFIGS.CONTACT_EMAIL, 
      moChangeLinkText + " - Contact email", 
      "change-corporate-managing-officer-contact-email-address-button"
    ) ]
  }
}), rows) %}
{% include "includes/check-your-answers/update/managing-officers-resigned-on.html" %}

<h3 class="govuk-heading-m">Corporate managing officer</h3>
{{ govukSummaryList({
   rows: rows
}) }}
